Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

ci: give the right name
  .github/workflows/ibis-backends.yml
Due: prettier

ci(bigquery): run some bigquery unit tests against PRs (#8827)
  .github/workflows/ibis-backends.yml
Due: prettier

docs(tutorial): add examples for complex topk
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

docs(tutorial): add examples for complex topk (#8831)
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore(deps): downgrade nixpkgs
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore(deps): use python311 for pre-commit checks
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): bump to nodejs_20
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

feat: add StringSlice, improve Substring
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_substring/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out2.sql
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/capitalize/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_0_3/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_2/out.sql
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/duckdb/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/backends/trino/compiler.py
  ibis/expr/operations/strings.py
  ibis/expr/rewrites.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_string.py
Due: none

chore(deps): downgrade nixpkgs (#8834)
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore(dev-tools): bump quarto cli version
  .devcontainer/devcontainer.json
Due: prettier

chore(dev-tools): add geospatial to dev container content
  .devcontainer/updateContent.sh
Due: none

chore(deps): put geospatial under non-backend extra category
  pyproject.toml
Due: taplo

feat(backends): introducing ibish the infinite scale backend you always wanted
  docs/_freeze/posts/unix-backend/index/execute-results/html.json
  docs/posts/unix-backend/index.qmd
Due: prettier

chore(poetry): downgrade to 1.7.1 for now
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  justfile
Due: prettier, just

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

feat(backends): introducing ibish the infinite scale backend you always wanted (#8785)
  docs/_freeze/posts/unix-backend/index/execute-results/html.json
  docs/posts/unix-backend/index.qmd
Due: prettier

fix(polars): use value type of array type for int_ranges construction
  ibis/backends/polars/compiler.py
Due: none

fix(deps): bump polars lower bound
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore(dev-tools): add geospatial extra to dev container setup and bump quarto-cli version (#8837)
  .devcontainer/devcontainer.json
  .devcontainer/updateContent.sh
  pyproject.toml
Due: prettier, taplo

test(snowflake): add test for parameterized string and binary data types
  ibis/backends/snowflake/tests/test_datatypes.py
Due: none

test(snowflake): add test for parameterized string and binary data types (#8843)
  ibis/backends/snowflake/tests/test_datatypes.py
Due: none

fix(deps): bump polars lower bound (#8841)
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

test(snowflake): regen snapshot
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/snowflake/h22.sql
Due: none

fix(snowflake): manually construct quantile calls with `WITHIN GROUP`
  ibis/backends/snowflake/compiler.py
  ibis/backends/snowflake/tests/snapshots/test_compiler/test_more_than_one_quantile/two_quantiles.sql
  ibis/backends/snowflake/tests/test_compiler.py
Due: none

feat(pyspark): implement native CSV/Parquet export
  ibis/backends/pyspark/__init__.py
Due: none

test(pyflink): adjust common tests for dir outputs
  ibis/backends/tests/test_export.py
Due: none

fix(pyspark): run pre-execution hooks before write
  ibis/backends/pyspark/__init__.py
Due: none

add experimental
  ibis/backends/risingwave/__init__.py
Due: none

feat(ir): add `StringSlice` (#8832)
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_substring/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out2.sql
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/capitalize/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_0_3/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_2/out.sql
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/duckdb/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/snowflake/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/backends/trino/compiler.py
  ibis/expr/operations/strings.py
  ibis/expr/rewrites.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_string.py
Due: none

docs(blog): Portable dataflows with Ibis and Hamilton
  docs/posts/hamilton-ibis/column_lineage.png
  docs/posts/hamilton-ibis/hamilton_abc.png
  docs/posts/hamilton-ibis/ibis_lineage.png
  docs/posts/hamilton-ibis/index.qmd
  docs/posts/hamilton-ibis/table_lineage.png
  docs/posts/hamilton-ibis/thumbnail.png
  docs/posts/hamilton-ibis/udf.png
Due: none

formatted line length 90; added _freeze file
  docs/_freeze/posts/hamilton-ibis/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Due: prettier

added url to parquet data; corrected docstring mentioning 'CSV' instead of 'parquet'
  docs/_freeze/posts/hamilton-ibis/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Due: prettier

rerendered to sync _freezefile
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Due: prettier

chore: remove extra "as statements" bit
  docs/posts/hamilton-ibis/index.qmd
Due: none

chore: re-render
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
Due: prettier

docs(blog): portable dataflows with Ibis and Hamilton (#8798)
  docs/_freeze/posts/hamilton-ibis/execute-results/html.json
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/column_lineage.png
  docs/posts/hamilton-ibis/hamilton_abc.png
  docs/posts/hamilton-ibis/ibis_lineage.png
  docs/posts/hamilton-ibis/index.qmd
  docs/posts/hamilton-ibis/table_lineage.png
  docs/posts/hamilton-ibis/thumbnail.png
  docs/posts/hamilton-ibis/udf.png
Due: prettier

docs(blog): update date on hamilton blog
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
