Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(flink): fix the xfailed outer join test in flink backend
  ibis/backends/flink/tests/test_join.py
Due: none

docs(tutorial): add a tutorial for the flink backend
  docs/_freeze/tutorials/cloud-data-platforms/starburst-galaxy/0_setup/execute-results/html.json
  docs/_freeze/tutorials/cloud-data-platforms/starburst-galaxy/1_basics/execute-results/html.json
  docs/_freeze/tutorials/open-source-software/apache-flink/0_setup/execute-results/html.json
  docs/_freeze/tutorials/open-source-software/apache-flink/1_single_feature/execute-results/html.json
  docs/_quarto.yml
  docs/tutorials/cloud-data-platforms/starburst-galaxy/0_setup.qmd
  docs/tutorials/cloud-data-platforms/starburst-galaxy/1_basics.qmd
  docs/tutorials/cloud-data-platforms/starburst-galaxy/_metadata.yml
  docs/tutorials/open-source-software/apache-flink/0_setup.qmd
  docs/tutorials/open-source-software/apache-flink/1_single_feature.qmd
  docs/tutorials/open-source-software/apache-flink/_metadata.yml
  gen_redirects.py
Due: prettier

docs: improve how-to guide on UDF signatures
  docs/how-to/extending/builtin.qmd
Due: none

docs: improve info on `signature` in UDF docstrings
  ibis/expr/operations/udf.py
Due: none

chore: code review suggestions
  docs/how-to/extending/builtin.qmd
Due: none

chore: fixup: remove last bit of snowflake
  docs/how-to/extending/builtin.qmd
Due: none

docs: drop snowflake from UDF how-to
  docs/how-to/extending/builtin.qmd
Due: none

chore: do not freeze extending/builtin
  docs/_freeze/how-to/extending/builtin/execute-results/html.json
  docs/how-to/extending/builtin.qmd
Due: prettier

chore: fix duckdb capitalization
  docs/how-to/extending/builtin.qmd
Due: none

docs: improve UDF signature docs (#8194)
  docs/_freeze/how-to/extending/builtin/execute-results/html.json
  docs/how-to/extending/builtin.qmd
  ibis/expr/operations/udf.py
Due: prettier

doc: row_number always starts at 0
  ibis/expr/api.py
Due: none

docs: row_number always starts at 0 (#8209)
  ibis/expr/api.py
Due: none

test(snowflake): enable xpassing test
  ibis/backends/tests/test_dot_sql.py
Due: none

test(snowflake): ensure that compilation does not make requests
  ibis/backends/snowflake/tests/test_client.py
Due: none

test(snowflake): enable xpassing test (#8211)
  ibis/backends/tests/test_dot_sql.py
Due: none

fix(api): selection using a selector yielding multiple columns
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

ci(deps): update nix using renovate
  .github/renovate.json
  .github/workflows/update-deps.yml
Due: prettier

docs(dev): update maintainers guide
  docs/contribute/04_maintainers_guide.qmd
Due: none

fix(api): selection using a selector yielding multiple columns (#8215)
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

chore: remove ruff.toml causing types directory to be ignore and fix subsequent lint errors
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/dataframe_interchange.py
  ibis/expr/types/generic.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/types/ruff.toml
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/expr/types/typing.py
  pyproject.toml
Due: taplo

chore: enable pre-commit, benchmarks and other lints against `the-epic-split`
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .github/workflows/ibis-lint.yml
  docs/how-to/extending/sql.qmd
  ibis/backends/bigquery/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/datatypes.py
  ibis/backends/risingwave/registry.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/common/egraph.py
  ibis/expr/analysis.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/util.py
Due: prettier

fix(duckdb): pass global replace flag to `ops.RegexReplace` translation rule
  ibis/backends/duckdb/compiler.py
Due: none

test(risingwave): make unnest test not flaky
  ibis/backends/tests/test_array.py
Due: none

docs: add lms for data post
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

eof fix hopefully
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

cleanup
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

trailing space :(
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

updates shmupdates
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-28-output-1.png
  docs/posts/lms-for-data/index.qmd
  docs/posts/lms-for-data/thumbnail.png
  thumbnail.png
Due: prettier

words are hard
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

uggghhhh
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

ugh pt 2
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-28-output-1.png
  docs/posts/lms-for-data/index.qmd
  docs/posts/lms-for-data/thumbnail.png
Due: prettier

ugh pt 7
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

whoops
  thumbnail.png
Due: none

done???
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-29-output-1.png
  docs/posts/lms-for-data/index.qmd
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
