Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py38-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false
  stages:
  - commit

refactor(expr): preserve column ordering in aggregations/mutations
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_window_functions.py
Due: black, flake8, pyupgrade

chore(setup.py): regen
  setup.py
Due: black, flake8

fix(repr): add ops.TimeAdd to repr binop lookup table
  ibis/expr/format.py
Due: black, flake8, pyupgrade

perf: add back `_str` property
  ibis/common/grounds.py
  ibis/expr/datatypes/core.py
Due: black, flake8, pyupgrade

chore(docstrings): update docstrings in ibis/expr to match new repr
  ibis/expr/analysis.py
  ibis/expr/datatypes/core.py
  ibis/expr/timecontext.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/logical.py
  ibis/expr/types/maps.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

chore(dev): use extend_skip with black to speed up file discovery
  pyproject.toml
Due: prettier

chore(dev): use extend options for isort
  dev/poetry2setup
  dev/poetry2setup.py
  pyproject.toml
  setup.py
Due: black, flake8, prettier

fix: regression in Selection.sort_by with resolved_keys
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

refactor(ir): make schema annotable
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/dask/core.py
  ibis/backends/impala/tests/test_client.py
  ibis/expr/schema.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
  ibis/util.py
Due: black, flake8, pyupgrade

refactor(ir): move pyarrow type conversions to the pyarrow package
  ci/datamgr.py
  ibis/backends/pyarrow/__init__.py
  ibis/backends/pyarrow/datatypes.py
Due: black, flake8, pyupgrade

refactor(datafusion): reuse pyarrow's type conversion logic
  ci/datamgr.py
  ibis/backends/datafusion/datatypes.py
Due: black, flake8, pyupgrade

refactor(clickhouse): use explain with json to get schema from query
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Due: black, flake8, pyupgrade

test: test using nullable clickhouse columns
  ci/schema/clickhouse.sql
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_string.py
Due: black, flake8, pyupgrade

test(clickhouse): fix field nullability for new test cases
  ibis/backends/clickhouse/tests/test_client.py
Due: black, flake8, pyupgrade

feat(ci): automatically convert imports to relative ones
  .pre-commit-config.yaml
  docs/contribute/03_style.md
  justfile
  poetry.lock
  pyproject.toml
Due: prettier, just

refactor(common): remove Annotable.flat_args
  ibis/common/grounds.py
Due: black, flake8, pyupgrade

refactor(common): use a specialized curry alternative for validation
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
  ibis/common/validators.py
  ibis/expr/builders.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/types/generic.py
  ibis/expr/types/logical.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_signature.py
Due: black, flake8, pyupgrade

chore: generate pyarrow backend in setup.py
  setup.py
Due: black, flake8

fix: remove incorrect fix for pandas regression
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/tests/test_timecontext.py
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

chore: apply suggestions from code review
  ibis/common/validators.py
Due: black, flake8, pyupgrade

feat(duckdb): implement _get_schema_using_query
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_parser.py
  ibis/expr/datatypes/duckdb.py
  ibis/tests/expr/test_duckdb_datatype_parser.py
Due: black, flake8, pyupgrade

feat(postgres): implement _get_schema_using_query
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
Due: black, flake8, pyupgrade

build: bump mariadb container version
  docker-compose.yml
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
Due: black, flake8, pyupgrade, prettier

test(common): fix validator and rule test cases
  ibis/common/tests/test_validators.py
  ibis/common/validators.py
  ibis/tests/expr/test_rules.py
Due: black, flake8, pyupgrade

feat(mysql): implement _get_schema_from_query
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
Due: black, flake8, pyupgrade

refactor(common): more convenient way to define cached properties for Annotable subclasses
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
  ibis/common/validators.py
  ibis/expr/operations/core.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
Due: black, flake8, pyupgrade

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
  just: any of: ^justfile$, but not: ^$
