Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(common): disallow plain string inputs for SequenceOf patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/tests/test_structs.py
Due: none

chore: add `r` ranges documentation
  ibis/selectors.py
Due: none

chore: cleanup layout and expand top level APIs to match current mkdocs setup
  docs/_quarto.yml
Due: prettier

chore: release notes to the right
  docs/_quarto.yml
Due: prettier

chore: link to snowflake backend docs
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: fix more references
  ibis/expr/api.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/generic.py
  ibis/expr/types/structs.py
  ibis/legacy/udf/vectorized.py
Due: none

chore: quarto-ify ibis-for-dplyr-users
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  nix/quarto/default.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: wrap and move references to full website path to internal qmd references
  docs/tutorials/ibis-for-dplyr-users.qmd
Due: none

chore: move references to full website path to internal qmd references
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: rerender some posts
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
Due: prettier

chore: fix contribute tables and tabs
  docs/_extensions/quarto-ext/fontawesome/_extension.yml
  docs/_extensions/quarto-ext/fontawesome/assets/css/all.css
  docs/_extensions/quarto-ext/fontawesome/assets/css/latex-fontsize.css
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  docs/_extensions/quarto-ext/fontawesome/fontawesome.lua
  docs/contribute/01_environment.md
  docs/contribute/01_environment.qmd
Due: prettier

chore: everything under docs/_extensions is generated
  .gitattributes
Due: none

chore: rename contribute docs to qmd
  docs/contribute/02_workflow.qmd
  docs/contribute/03_style.qmd
  docs/contribute/05_maintainers_guide.qmd
Due: none

fix(dtypes): switch scale and timestamp parameter order when formatting a timestamp datatype
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

chore: clean up gen_matrix.py usage
  .gitignore
  docs/support_matrix.qmd
  gen_matrix.py
Due: none

docs: dark mode for life
  docs/_quarto.yml
  docs/theme-dark.scss
Due: prettier

chore: overlay search
  docs/_quarto.yml
Due: prettier

chore: ignore generated objects and reference material
  .gitignore
Due: none

chore: build api docs with quartodoc
  docs/_quarto.yml
  justfile
  pyproject.toml
  requirements-dev.txt
Due: prettier, just

chore: fix link in selectors.py
  ibis/selectors.py
Due: none

chore: rename release_notes.qmd -> release_notes.md
  .releaserc.js
  docs/release_notes.md
Due: prettier

ci: add just rule for ci docs builds
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: redo admonitions to follow quarto style
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/selectors.py
  ibis/util.py
Due: none

chore: add and use include code quarto extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
  docs/tutorials/getting_started.qmd
Due: prettier

chore: use lime green for monospace font color
  docs/theme-dark.scss
Due: none

chore: release_notes.qmd -> release_notes.md
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/old/Ibis-version-3.1.0-release.qmd
  docs/posts/old/ibis-version-4.0.0-release.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs/posts/v6.1.0-release/index.qmd
  docs/support_matrix.qmd
Due: prettier

chore: fix selectors.md by removing its references
  docs/tutorials/getting_started.qmd
  lychee.toml
Due: prettier

ci: add quarto branch to docs builds
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore: fix link
  ibis/selectors.py
Due: none

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
