Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

docs: link to zulip in `README.md`
  README.md
Due: prettier

docs(nix): add configuration notes to nix environment setup
  docs/contribute/01_environment.qmd
Due: none

docs: remove extra bits in zulip links
  docs/_quarto.yml
  docs/index.qmd
Due: prettier

feat(api): improve repr of deferred functions
  ibis/expr/deferred.py
  ibis/expr/tests/test_deferred.py
Due: none

feat(api): support deferred expressions in `ibis.date`
  ibis/expr/api.py
  ibis/tests/expr/test_temporal.py
Due: none

feat(api): support deferred expressions in `ibis.time`
  ibis/expr/api.py
  ibis/tests/expr/test_temporal.py
Due: none

refactor: add deferrable decorator
  ibis/expr/deferred.py
  ibis/expr/tests/test_deferred.py
Due: none

feat(api): support deferred expressions in `ibis.timestamp`
  ibis/expr/api.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/expr/test_timestamp.py
  ibis/tests/expr/test_value_exprs.py
Due: none

feat(flink): support translating typed null values
  ibis/backends/flink/utils.py
Due: none

feat(bigquery): use sqlglot to implement functional unnest to relational unnest
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_one_unnest.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_two_unnests.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_sql.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

docs(arrays): update blog post to include `unnest` examples
  docs/_freeze/posts/bigquery-arrays/index/execute-results/html.json
  docs/posts/bigquery-arrays/index.qmd
Due: prettier

ci(snowflake): allow concurrent python version tests to run
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

ci(oracle): pin database version until flakiness can be fixed
  docker-compose.yml
Due: prettier

fix(flink): implement an in-memory table formatter
  ibis/backends/flink/compiler/core.py
Due: none

fix(clip): preserve nulls when clipping
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/flink/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_numeric.py
  ibis/expr/types/numeric.py
Due: none

feat(flink): add batch and streaming mode test fixtures for Flink backend
  ibis/backends/flink/tests/conftest.py
Due: none

test(oracle): enable covariance and correlation tests for oracle db 23.3
  ibis/backends/tests/test_aggregation.py
Due: none

ci(renovate): add package patterns for labeling docker image updates
  .github/renovate.json
Due: prettier

feat(patterns): support building sequences in replacement patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

perf: introduce quicker abstract base classes
  ibis/backends/base/sql/compiler/base.py
  ibis/common/bases.py
  ibis/common/caching.py
  ibis/common/collections.py
  ibis/common/graph.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/temporal.py
  ibis/common/tests/test_bases.py
  ibis/common/tests/test_collections.py
  ibis/common/tests/test_graph.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_grounds_benchmarks.py
  ibis/common/tests/test_patterns.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
Due: none

fix(oracle): ensure that metadata queries use SQL and not sqlplus-specific syntax
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
Due: none

Revert "feat(patterns): support building sequences in replacement patterns"
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

revert: feat(patterns): support building sequences in replacement patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

chore: add sqlglot helpers
  ibis/backends/base/sqlglot/__init__.py
Due: none
