Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

docs: add a getting started guide
  docs/getting_started.md
  docs/index.md
Due: prettier

chore(deps): remove unnecessary pyarrow extra
  .github/workflows/ibis-backends.yml
  poetry.lock
  pyproject.toml
Due: prettier

refactor(schema): remove deprecated `Schema.merge()` method
  ibis/expr/schema.py
  ibis/tests/expr/test_table.py
Due: none

refactor(backends): remove deprecated `Backend.load_data()`, `.exists_database()` and `.exists_table()` methods
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/tests/test_functions.py
Due: none

refactor(datatypes): remove direct `ir` dependency from `datatypes`
  ibis/backends/impala/tests/test_udf.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
Due: none

refactor(api): remove deprecated `ibis.sequence()` function
  ibis/expr/api.py
  ibis/tests/expr/test_value_exprs.py
Due: none

refactor(ir): remove deprecated `Value.summary()` and `NumericValue.summary()` expression methods
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/numeric.py
Due: none

refactor(backends): remove deprecated `path` argument of `Backend.connect()`
  ibis/backends/duckdb/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
Due: none

refactor(schema): use type annotations instead of rules
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/registry.py
  ibis/common/tests/test_annotations.py
  ibis/expr/schema.py
  pyproject.toml
Due: prettier

refactor(datatypes): use typehints instead of rules
  ibis/common/tests/test_annotations.py
  ibis/examples/__init__.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_parse.py
  pyproject.toml
Due: prettier

refactor(ir): encapsulate temporal unit handling in enums
  ibis/backends/base/sql/registry/window.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/mssql/registry.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/datatypes.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyarrow/datatypes.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/trino/registry.py
  ibis/common/enums.py
  ibis/common/tests/test_enums.py
  ibis/expr/datatypes/core.py
  ibis/expr/format.py
  ibis/expr/operations/temporal.py
  ibis/expr/rules.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/strategies.py
Due: none

refactor(api): remove deprecated `Table.sort_by()` and `Table.groupby()` methods
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

docs: style and review fixes in getting started guide
  docs/getting_started.md
Due: prettier

feat(api): support passing a format string to `Table.relabel`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(type-system): infer in-memory object types using pyarrow
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/pyarrow/datatypes.py
  ibis/expr/datatypes/value.py
  ibis/expr/types/arrays.py
Due: none

fix(deps): make pyarrow a required dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

chore(datatypes): make annotations more precise
  ibis/backends/pyarrow/datatypes.py
Due: none

ci: constrain mamba because later versions are broken
  .github/workflows/conda-lock.yml
Due: prettier

build: format toml with `taplo` instead of `prettier`
  .pre-commit-config.yaml
  .prettierignore
  .taplo.toml
  flake.nix
  nix/overlay.nix
  pyproject.toml
Due: prettier, nixpkgs-fmt, statix, deadnix

build: format javascript with prettier
  .pre-commit-config.yaml
  .releaserc.js
  .taplo.toml
Due: prettier

test(backends): strict validate exceptions in test_window
  ibis/backends/conftest.py
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_window.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
