Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: pyupgrade --py38-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - entry: just --fmt --unstable --check
        exclude: ^$
        files: ^justfile$
        id: just
        language: system
        name: just
        pass_filenames: false
        stages:
          - commit
        types:
          - file
    repo: local

feat(repr): add interval info to interval repr
  ibis/expr/format.py
Due: black, flake8, pyupgrade

test: fix pyspark cleanup
  ibis/backends/pyspark/tests/conftest.py
Due: black, flake8, pyupgrade

test(sqlalchemy): add test for spurious cross join
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

fix(sqlalchemy): use corresponding_column to prevent spurious cross joins
  ibis/backends/base/sql/alchemy/registry.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

test: localize table creation instead of altering existing batting table
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_dot_sql.py
Due: black, flake8, pyupgrade

ci: run renovate over docker-compose setup
  .github/renovate.json
Due: prettier

fix(pandas): disable range windows with order by
  ibis/backends/pandas/execution/window.py
Due: black, flake8, pyupgrade

fix(pyspark): fix range windows
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_window.py
Due: black, flake8, pyupgrade

feat(api): implement type for SortExpr
  ibis/backends/tests/test_window.py
  ibis/expr/types/sortkeys.py
Due: black, flake8, pyupgrade

chore: disable semrel PR/issue commenting
  .releaserc.json
Due: prettier

refactor(sqlalchemy): use exported_columns instead of corresponding_column
  ibis/backends/base/sql/alchemy/registry.py
Due: black, flake8, pyupgrade

chore(deps): update dependency mariadb to v10.8
  docker-compose.yml
Due: prettier

chore(deps): update dependency postgres to v13.6
  docker-compose.yml
Due: prettier

chore(deps): update dependency postgres to v14
  docker-compose.yml
Due: prettier

chore(deps): lock file maintenance
  poetry.lock
Due: none

refactor(test): clean up timecontext tests
  ibis/backends/tests/test_timecontext.py
Due: black, flake8, pyupgrade

chore(deps): fix datafusion sha256
  poetry-overrides.nix
Due: none

chore(dev-deps): constrain jinja2 and markupsafe for now
  poetry.lock
  pyproject.toml
Due: prettier

chore(deps): increase sqlalchemy lower bound to 1.4
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/postgres/registry.py
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

chore(dev): make it easier to run benchmarks
  justfile
Due: just

chore(deps): update dependency markupsafe to <2.2
  poetry.lock
  pyproject.toml
Due: prettier
