Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: generate support matrix in quarto
  docs2/support_matrix.qmd
Due: none

ci: add quarto ci job
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-docs-lint.yml
  .releaserc.js
  docs2/release_notes.qmd
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: show application code highlighted
  docs2/_quarto.yml
  docs2/how-to/visualization/streamlit.qmd
Due: prettier

chore(deps): override quarto version until upstream PR is merged
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  docs2/_code/input_output_penguins.qmd
  flake.nix
  justfile
  nix/overlay.nix
  nix/quarto/default.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, just, nixpkgs-fmt, statix, deadnix

chore: ignore quarto generated output
  .gitignore
  docs2/_quarto.yml
  justfile
Due: prettier, just

chore: clean up a bunch of content
  .releaserc.js
  docs2/_callouts/experimental_backend.qmd
  docs2/_quarto.yml
  docs2/backends/memtable-template.md
  docs2/backends/template.md
  docs2/how-to/analytics/chain_expressions.qmd
  docs2/how-to/configure/basics.qmd
  docs2/how-to/external-dataframes/memtable_join.qmd
  docs2/how-to/old/memtable_join.qmd
  docs2/how-to/old/underscore.qmd
  docs2/how-to/visualization/streamlit.qmd
  docs2/release_notes.qmd
  docs2/support_matrix.qmd
  lychee.toml
Due: prettier

chore: fix usage error
  docs2/how-to/external-dataframes/memtable_join.qmd
Due: none

chore(docs): use to_pandas with plotly until snowflake can be updated or removed
  docs2/how-to/visualization/altair.qmd
  docs2/how-to/visualization/plotly.qmd
  docs2/index.qmd
  docs2/posts/v6.1.0-release/index.qmd
Due: none

chore: clean up gen_matrix.py usage
  .gitignore
  docs/support_matrix.qmd
  gen_matrix.py
Due: none

docs: dark mode for life
  docs/_quarto.yml
  docs/theme-dark.scss
Due: prettier

chore: overlay search
  docs/_quarto.yml
Due: prettier

chore: ignore generated objects and reference material
  .gitignore
Due: none

chore: build api docs with quartodoc
  docs/_quarto.yml
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, just

chore: fix link in selectors.py
  ibis/selectors.py
Due: none

chore: rename release_notes.qmd -> release_notes.md
  .releaserc.js
  docs/release_notes.md
Due: prettier

ci: add just rule for ci docs builds
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: redo admonitions to follow quarto style
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/selectors.py
  ibis/util.py
Due: none

chore: add and use include code quarto extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
  docs/tutorials/getting_started.qmd
Due: prettier

chore: use lime green for monospace font color
  docs/theme-dark.scss
Due: none

chore: release_notes.qmd -> release_notes.md
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/old/Ibis-version-3.1.0-release.qmd
  docs/posts/old/ibis-version-4.0.0-release.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs/posts/v6.1.0-release/index.qmd
  docs/support_matrix.qmd
Due: prettier

chore: fix selectors.md by removing its references
  docs/tutorials/getting_started.qmd
  lychee.toml
Due: prettier

ci: add quarto branch to docs builds
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore: fix link
  ibis/selectors.py
Due: none

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

chore: clean up just commands
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: site id
  .prettierignore
  .yamllint.yaml
  docs/_publish.yml
Due: prettier

chore: use ibis._
  ibis/expr/api.py
Due: none

chore: typo
  docs/_quarto.yml
Due: prettier

chore: remove extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
Due: prettier

chore: rewrite selectors
  docs/posts/old/selectors.qmd
  docs/posts/selectors/index.qmd
Due: none

chore: fix gen_matrix.py dir
  gen_matrix.py
Due: none

chore: freeze selectors post results
  docs/_freeze/posts/selectors/index/execute-results/html.json
Due: prettier

feat(flink): fine-tune numeric literal translation
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_filter/out.sql
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_having/out.sql
  ibis/backends/flink/tests/snapshots/test_window/test_rows_window/out.sql
  ibis/backends/flink/tests/test_literals.py
  ibis/backends/flink/utils.py
  ibis/backends/tests/test_numeric.py
Due: none

chore: fix broken links
  docs/tutorials/getting_started.qmd
  ibis/selectors.py
Due: none

fix(bigquery,impala): escape all ASCII escape sequences in string literals
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_ascii_sequences/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_backslash/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_quote/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/not_escape_special_characters/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_replace/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_search/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/rlike/out.sql
  ibis/backends/tests/test_string.py
Due: none

feat(api): add `Backend.rename_table`
  ibis/backends/base/__init__.py
  ibis/backends/tests/test_client.py
Due: none

feat(pyspark): implement `Backend.rename_table`
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_client.py
Due: none

feat(impala): implement `Backend.rename_table`
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/tests/test_client.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
