Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix: use `pyarrow_hotfix` where necessary
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/udfs.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/trino/__init__.py
  ibis/examples/__init__.py
  ibis/expr/operations/relations.py
  ibis/formats/pyarrow.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

chore(polars): fix API warnings and xfail broken argmin functionality
  ibis/backends/tests/test_aggregation.py
Due: none

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

chore: remove possible sqlglot-using apps to avoid implicit version downgrade
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

chore: remove `mergesort` from dask usage
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_window.py
Due: none

chore: set pandas upper bound on test
  ibis/backends/tests/test_timecontext.py
Due: none

chore: move ruff format to local hook
  .pre-commit-config.yaml
Due: prettier

chore(dask): handle the case of dask sort_values call
  ibis/backends/pandas/execution/util.py
Due: none

test(pandas): remove pointless `xfail_version` usage
  ibis/backends/tests/test_timecontext.py
Due: none

ci: skip ruff format in pre-commit ci runner
  .pre-commit-config.yaml
Due: prettier

chore: relock
  poetry.lock
  requirements-dev.txt
Due: none

chore: allow other geoalchemy2s
  pyproject.toml
Due: taplo

chore: xfail mysql tests that are broken with geoalchemy2 0.14.x
  ibis/backends/mysql/tests/test_client.py
Due: none

test: remove nan replacement due to pandas upgrade
  ibis/backends/tests/tpch/conftest.py
Due: none

chore: relock `requirements-dev.txt`
  requirements-dev.txt
Due: none

fix(bigquery): avoid trying to filter separator argument to `GroupConcat` operation
  ibis/backends/bigquery/registry.py
Due: none

feat(mssql): use odbc
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .gitignore
  flake.nix
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  poetry-overrides.nix
  pyproject.toml
Due: prettier, taplo, nixpkgs-fmt, statix, deadnix

refactor(bigquery): return data_project as database, not dataset_id
  ibis/backends/bigquery/__init__.py
Due: none

refactor(bigquery): remove `list_databases`
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_api.py
Due: none

refactor(bigquery): remove `zeroifnull`
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/numeric.py
  ibis/tests/expr/test_sql_builtins.py
Due: none

refactor(bigquery): remove `nullifzero`
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/types/numeric.py
Due: none

chore: gen sql snapshots
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-nullif_zero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-zero_ifnull/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-nullif_zero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-zero_ifnull/out.sql
Due: none

chore: rebase and fix literal compilation
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_export.py
Due: none

refactor(temporal): remove unnecessary `Temporal*` classes
  ibis/expr/types/temporal.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
