Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

ci(flink): don't raise compressed class space size
  .github/workflows/ibis-backends.yml
Due: prettier

docs(pypi-metadata-post): add Fortran pattern and fix regex
  docs/_freeze/posts/querying-pypi-metadata-compiled-languages/index/execute-results/html.json
  docs/posts/querying-pypi-metadata-compiled-languages/index.qmd
Due: prettier

refactor(duckdb): use pyarrow for all memtable registration
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

test(flink): revise WIP marks in aggregation tests
  ibis/backends/flink/registry.py
  ibis/backends/tests/test_aggregation.py
Due: none

docs(blog): add dbt-ibis post
  docs/posts/dbt-ibis/index.qmd
Due: none

refactor(tests): remove UnorderedComparator class
  docs/contribute/BackendTest.org
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

docs(tests): document class variables in BackendTest
  docs/contribute/BackendTest.org
  ibis/backends/tests/base.py
Due: none

refactor(tests): remove test rounding mixins
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/trino/tests/conftest.py
Due: none

docs(tests): add API docs for the testing base classes
  docs/_quarto.yml
  docs/contribute/04_maintainers_guide.qmd
  docs/contribute/05_reference.qmd
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/tests/base.py
Due: prettier

chore(flink): quote every identifier for Flink SQL
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/flink/compiler/core.py
  ibis/backends/flink/identifiers.py
  pyproject.toml
Due: taplo

fix(flink): customize the list of base idenitifers
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/base/sql/registry/identifiers.py
  ibis/backends/flink/compiler/core.py
  ibis/backends/flink/identifiers.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_window.py
  pyproject.toml
Due: taplo

test(arrays): add empty array consistency test
  ibis/backends/tests/test_array.py
Due: none

docs(arrays): document behavior of unnest in the presence of empty array rows
  ibis/expr/types/arrays.py
Due: none

fix(snowflake): ensure that empty arrays unnest to nothing
  ibis/backends/snowflake/registry.py
Due: none

fix(pandas): ensure that empty arrays unnest to nothing
  ibis/backends/pandas/execution/arrays.py
Due: none

test(snowflake): enable xpassing tests
  ibis/backends/tests/test_array.py
Due: none

chore(flink): use `pytestmark` over repeated marks
  ibis/backends/tests/test_sql.py
Due: none

fix(bigquery): fully qualified memtable names in compile
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

chore(flink): pin flink backend pyflink dependency version for now until 1.18 official release
  .github/workflows/ibis-backends.yml
Due: prettier

chore(flink): current pyflink release only supports up to python 3.10
  .github/workflows/ibis-backends.yml
Due: prettier

fix(deferred): don't pass expression in fstringified error message
  ibis/common/deferred.py
Due: none

test(duckdb): add test for geospatial duckdb support
  .github/workflows/ibis-backends.yml
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_geospatial_as_text/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_geospatial_dwithin/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_geospatial_npoints/out.sql
  ibis/backends/duckdb/tests/test_geospatial.py
  poetry.lock
Due: prettier

feat(duckdb): add initial support for geospatial functions
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_geospatial.py
  poetry.lock
  pyproject.toml
Due: taplo

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
