Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

refactor: remove deprecated approximate aggregation classes
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/expr/operations/reductions.py
Due: none

feat(bigquery): implement ops.ArraySlice
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_array.py
Due: none

feat(bigquery): implement ops.Capitalize
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_string.py
Due: none

feat(bigquery): implement ops.Clip
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(bigquery): implement ops.Degrees, ops.Radians
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(bigquery): implement ops.RandomScalar
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Due: none

refactor: make `quantile`, `any`, and `all` reductions filterable
  ibis/backends/tests/test_aggregation.py
  ibis/expr/analysis.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/logical.py
  ibis/expr/types/numeric.py
Due: none

fix(postgres): make any/all translation rules use `reduction` helper
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/postgres/registry.py
Due: none

fix(pandas): make quantile/multiquantile with filter work
  ibis/backends/pandas/execution/generic.py
Due: none

fix(trino): make filterable any/all reductions work
  ibis/backends/trino/registry.py
Due: none

fix(dask): make filterable reductions work
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/numeric.py
Due: none

fix(clickhouse): make `any`/`all` filterable and reduce code size
  ibis/backends/clickhouse/compiler/values.py
Due: none

feat(bigquery): implement ops.Translate
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_string.py
Due: none

fix(bigquery): don't try to parse database when name is already fully qualified
  ibis/backends/bigquery/__init__.py
Due: none

ci: add more extras to lockfiles
  .github/workflows/conda-lock.yml
  ci/conda-lock/condarc
  ci/conda-lock/generate.sh
  conda-lock/linux-64-3.10.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.10.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/osx-arm64-3.10.lock
  conda-lock/osx-arm64-3.8.lock
  conda-lock/osx-arm64-3.9.lock
  conda-lock/win-64-3.10.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  poetry.lock
  pyproject.toml
Due: prettier

chore: remove `IBIS_TEST_DATA_DIRECTORY` environment variable
  flake.nix
  ibis/backends/conftest.py
  nix/ibis.nix
Due: nixpkgs-fmt, statix

chore: remove `$TEMPDIR` usage
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/tutorial/02-Aggregates-Joins.ipynb
  docs/tutorial/03-Expressions-Lazy-Mode-Logging.ipynb
  docs/tutorial/04-More-Value-Expressions.ipynb
  docs/tutorial/06-ComplexFiltering.ipynb
  docs/tutorial/07-Analytics-Tools.ipynb
  docs/user_guide/extending/elementwise.ipynb
  docs/user_guide/extending/reduction.ipynb
  flake.nix
Due: nixpkgs-fmt, statix

feat(deps): support shapely 2.0
  poetry.lock
  pyproject.toml
Due: prettier

docs: bring back git revision localized date plugin
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

chore(dev-deps): bump mkdocstrings and add mkdocstrings-python
  docs/api/backends/base.md
  docs/api/backends/pandas.md
  docs/api/backends/sql.md
  docs/api/backends/sqlalchemy.md
  docs/api/config.md
  docs/backends/Impala.md
  docs/backends/SQLite.md
  docs/backends/template.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

docs: fix broken docstrings; reduce docstring noise; workaround griffe
  docs/backends/Dask.md
  docs/backends/Datafusion.md
  docs/backends/DuckDB.md
  docs/backends/Impala.md
  docs/backends/MSSQL.md
  docs/backends/Snowflake.md
  docs/backends/Trino.md
  docs/backends/template.md
  ibis/backends/bigquery/client.py
  ibis/backends/dask/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/config.py
  ibis/expr/api.py
  ibis/expr/types/core.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
Due: prettier
