Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "style: pre-commit.ci autoupdate"
  skip:
    - prettier
    - shellcheck
    - shfmt
    - just
default_stages:
  - commit
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.0
    hooks:
      - id: pyupgrade
        exclude: setup.py
        entry: pyupgrade --py38-plus
        types:
          - python
  - repo: local
    hooks:
      - id: prettier
        language: system
        name: prettier
        entry: prettier --write
        exclude: poetry.lock
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        language: system
        entry: shellcheck
        name: shellcheck
        files: \.sh$
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        files: \.sh$
        types:
          - file
        types_or:
          - file
      - entry: just --fmt --unstable --check
        files: ^justfile$
        id: just
        language: system
        name: just
        pass_filenames: false
        types:
          - file

refactor: remove dead branch in pushdown validation
  ibis/expr/analysis.py
Due: none

refactor: remove dead branch in substitution
  ibis/expr/analysis.py
Due: none

refactor: remove _substitute in favor of substitute
  ibis/expr/analysis.py
Due: none

refactor(analysis): simplify Substitutor
  ibis/expr/analysis.py
Due: none

chore: handle blocking nodes the same as upstream
  ibis/expr/analysis.py
Due: none

style: move docstring to single line
  ibis/expr/analysis.py
Due: none

fix(pyspark): handle predicates in Aggregation
  ibis/backends/pyspark/compiler.py
Due: none

style: use a closure
  ibis/expr/analysis.py
Due: none

chore: use type(node) and explain why in a comment
  ibis/expr/analysis.py
Due: none

refactor(pyspark): deduplicate aggregation building
  ibis/backends/pyspark/compiler.py
Due: none

refactor: only display internal duckdb tables if requested
  ibis/backends/duckdb/__init__.py
Due: none

build: add filelock to testing dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

docs(contribute): remove references to ci/datamgr.py load
  docs/contribute/04_backend_tests.md
Due: prettier

test(backends): autoload data once per session for pytest backend tests
  ci/datamgr.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

build: run poetry lock
  poetry.lock
Due: none

build: regen requirements.txt
  requirements.txt
Due: none

refactor(test): share data loading code everywhere
  .github/workflows/ibis-backends.yml
  ci/datamgr.py
  default.nix
  docs/contribute/04_backend_tests.md
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/sqlite/tests/conftest.py
  justfile
Due: prettier, just

test: clean up lockfiles with proper tmp_path_factory location
  ibis/backends/conftest.py
  justfile
  pyproject.toml
Due: prettier, just

chore: remove comment in justfile about loading data
  justfile
Due: just

test(impala): adapt load_data and connect for impala
  ibis/backends/impala/tests/conftest.py
Due: none

docs(test): typo
  ibis/backends/conftest.py
Due: none

chore: remove unused imports
  ibis/backends/conftest.py
Due: none

chore: remove unused variable
  default.nix
Due: none

chore: don't cover pytest_sessionfinish
  ibis/backends/conftest.py
Due: none

chore: update duckdb-engine to 0.1.9
  poetry.lock
  pyproject.toml
  setup.py
Due: prettier

refactor: remove no-op load_data overrides
  ibis/backends/dask/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
Due: none

chore(nix): add shell shortcut to update reqs/lock files/setup.py
  shell.nix
Due: none

test: replace lock_load_data function with classmethod
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

refactor: dedup backend creation
  ibis/backends/impala/tests/conftest.py
Due: none

style: reformat
  ibis/backends/impala/tests/conftest.py
Due: none
