Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(singlestoredb): comprehensive string operations support
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve JSONDecodeError in JSON to PyArrow conversion
  ibis/backends/singlestoredb/converter.py
Due: none

chore: update uv.lock
  uv.lock
Due: none

fix(singlestoredb): resolve TO_DATE syntax errors and enhance temporal operations
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/singlestoredb/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/test_io.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_window.py
Due: prettier

Add functionality from previous Ibis backend version
  ibis/backends/singlestoredb/__init__.py
Due: none

feat(singlestoredb): complete Phase 5 documentation implementation
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
Due: prettier

feat(singlestoredb): complete Phase 7 performance optimization implementation
  ibis/backends/singlestoredb/__init__.py
Due: none

chore(nix): improve Nix configuration formatting and organization
  flake.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

fix(singlestoredb): fix array test failures and improve literal handling
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_array.py
Due: none

feat(singlestoredb): add comprehensive backend implementation
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  pyproject.toml
Due: taplo

feat(singlestoredb): enhance type parameter preservation for DATETIME, BIT, and DECIMAL types
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

feat(tests): add singlestoredb markings alongside mysql test markings
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

docs: add SingleStoreDB backend to README and update backend count
  README.md
Due: prettier

fix(singlestoredb): handle BOOLEAN type mapping differences between cursor and DESCRIBE paths
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

feat(singlestoredb): enhance backend with improved datatypes and comprehensive testing
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  pyproject.toml
  requirements-dev.txt
Due: taplo

fix(singlestoredb): resolve test failures and improve SQL generation
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

fix(singlestoredb): clean up obsolete FindInSet comment
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve pandas/pyarrow import issue and restore type functionality
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
Due: prettier

fix(singlestoredb): add missing SQL compilation test snapshots
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-uuid/out.sql
Due: none

Allow more flexible connection parameters
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): replace SOUNDEX with REVERSE in UDF test
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

fix(singlestoredb): improve numeric precision and SET column handling
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
Due: none

docs(singlestoredb): change yields to returns
  ibis/backends/singlestoredb/__init__.py
Due: none

feat(singlestoredb): implement read_csv for CSV file loading
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/tests/test_io.py
Due: none

feat(singlestoredb): add vector type support
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/test_numeric.py
Due: none

chore(deps): update requirements
  requirements-dev.txt
Due: none

ci(singlestoredb): add backend to CI workflow
  .github/workflows/ibis-backends.yml
Due: prettier

chore(singlestoredb): pin Docker image version and refactor table rename
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
Due: prettier

style(tests): format pytest.mark.notimpl parameters
  ibis/backends/tests/test_string.py
Due: none

fix(singlestoredb): test data types fix for null
  ibis/backends/sql/datatypes.py
Due: none

chore(deps): update requirements
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

fix(singlestoredb): improve path escaping in test data loading
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/tests/test_string.py
Due: none

fix(singlestoredb): fix JSON literal syntax and add test markers
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_asof_join.py
  uv.lock
Due: none

refactor(singlestoredb): simplify backend implementation and add documentation
  docs/_tabsets/install.qmd
  docs/backends/singlestoredb.qmd
  docs/backends_sankey.py
  flake.nix
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/sql/__init__.py
  ibis/expr/datatypes/parse.py
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

fix(singlestoredb): correct visit_SQLStringView parameter name
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
  ibis/expr/schema.py
Due: none

chore: unify singlestoredb dependency to version 1.16.0
  requirements-dev.txt
  uv.lock
Due: none

docs(singlestoredb): remove unimplemented feature docs
  ibis/backends/singlestoredb/README.md
Due: prettier

refactor(tests): consolidate mysql and singlestoredb pytest markers
  ibis/backends/tests/test_temporal.py
Due: none
