Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(impala): replace `time_mapping` with `TIME_MAPPING` and backwards compatible check
  ibis/backends/base/sql/registry/timestamp.py
Due: none

test(biqguery): make scope of `test_overwrite` temporary tables more obvious
  ibis/backends/tests/test_client.py
Due: none

test(bigquery): make `list_tables` test using a guaranteed subset of tables
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

feat: implement try_cast for a few backends
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/generic.py
  ibis/expr/types/generic.py
Due: none

feat(io): add az/gs prefixes to normalize_filename in utils
  ibis/util.py
Due: none

chore(dev): remove use of mapfile because macOS ships with a very old version of bash
  justfile
Due: just

test(clickhouse): add test for arrayJoin in subquery
  ibis/backends/clickhouse/tests/snapshots/test_select/test_array_join_in_subquery/out.sql
  ibis/backends/clickhouse/tests/test_select.py
Due: none

fix(clickhouse): use the correct dialect to generate subquery string for Contains operation
  ibis/backends/clickhouse/compiler/values.py
Due: none

docs(api): manually add inherited mixin methods to timey classes
  docs/api/expressions/timestamps.md
  ibis/expr/types/temporal.py
Due: prettier

fix(snowflake): resolve import error from interval datatype refactor
  ibis/backends/snowflake/__init__.py
Due: none

feat(flink): add initial flink SQL compiler
  .github/workflows/ibis-backends.yml
  ibis/backends/flink/__init__.py
  ibis/backends/flink/compiler/__init__.py
  ibis/backends/flink/compiler/core.py
  ibis/backends/flink/registry.py
  ibis/backends/flink/tests/__init__.py
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_count_star/out.sql
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_sum/out.sql
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_timestamp_from_unix/timestamp_ms/out.sql
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_timestamp_from_unix/timestamp_s/out.sql
  ibis/backends/flink/tests/test_translator.py
  ibis/backends/flink/translator.py
  poetry.lock
  pyproject.toml
Due: prettier

docs: add read_delta and related to backends docs
  docs/backends/Datafusion.md
  docs/backends/DuckDB.md
  docs/backends/Polars.md
  docs/backends/badges.md
  ibis/backends/duckdb/__init__.py
Due: prettier

chore(dev-deps): dedup nix code for locking dependencies
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

fix(duckdb): fix exporting pyarrow record batches by bumping duckdb to 0.8.1
  ibis/backends/tests/test_export.py
  poetry.lock
  requirements.txt
Due: none

fix(expr): fix graphviz rendering
  ibis/expr/visualize.py
Due: none

chore(dev-deps): remove `pytest-profiling`
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

feat(memtable): allow creating memtable from RecordBatchReader
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
Due: none

docs(intersphinx): add mapping to autolink pyarrow and pandas refs
  mkdocs.yml
Due: prettier

docs: use to_pandas instead of execute
  docs/backends/Impala.md
  docs/backends/app/backend_info_app.py
  docs/example_streamlit_app/example_streamlit_app.py
  docs/getting_started.md
  docs/how_to/memtable-join.md
  docs/how_to/sessionize.md
  docs/ibis-for-dplyr-users.ipynb
  docs/ibis-for-pandas-users.ipynb
  docs/index.md
  docs/user_guide/extending/elementwise.ipynb
  docs/user_guide/extending/reduction.ipynb
  docs/user_guide/self_joins.md
Due: prettier

fix(backends): fix capitalize to lowercase subsequent characters
  .gitignore
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_string.py
Due: none

fix(docs): typo in snowflake do_connect kwargs
  ibis/backends/snowflake/__init__.py
Due: none

ci(deps): update datafusion manually because of snowflake
  .github/workflows/ibis-backends.yml
  poetry.lock
Due: prettier
