Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade, prettier

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: nix-linter
        exclude: (nix/sources.nix)
        files: \.nix$
        id: nix-linter
        language: system
        name: nix-linter
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or: []
      - entry: nixpkgs-fmt --check
        exclude: (nix/sources.nix)
        files: \.nix$
        id: nixpkgs-fmt
        language: system
        name: nixpkgs-fmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or: []
      - entry: pyupgrade --py37-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
    repo: local

docs: add fugue to ecosystems
  docs/web/community/ecosystem.md
Due: prettier

test: remove unnecessary skip on test_insert
  ibis/backends/clickhouse/tests/test_client.py
Due: black, flake8, pyupgrade

chore(deps): lock file maintenance
  poetry.lock
Due: none

refactor(benchmarks): move to pytest-benchmark
  .github/workflows/ibis-main.yml
  .gitignore
  .prettierignore
  asv.conf.json
  benchmarks/benchmarks.py
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  ibis/tests/benchmarks/__init__.py
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

chore: remove the need for setup.py machinery
  .github/workflows/check-pip-install.yml
  .github/workflows/update-setup-py.yml
  .releaserc.json
  ci/release/prepare.sh
  default.nix
  dev/poetry2setup
  dev/poetry2setup.py
  docs/web/contribute/maintainers_guide.md
  pyproject.toml
  setup.cfg
  setup.py
Due: black, flake8, nix-linter, nixpkgs-fmt, prettier

ci: remove needs section
  .github/workflows/check-pip-install.yml
Due: prettier

ci: bring back setuptools for build deps
  pyproject.toml
Due: prettier

ci: more info
  .github/workflows/check-pip-install.yml
  poetry.lock
Due: prettier

ci: try with explicit python
  .github/workflows/check-pip-install.yml
Due: prettier

ci: show python
  .github/workflows/check-pip-install.yml
Due: prettier

fix(api): add ibis.map and .struct
  docs/source/api.rst
  ibis/expr/api.py
  ibis/expr/datatypes.py
  ibis/expr/types.py
  ibis/tests/expr/test_array.py
  ibis/tests/expr/test_literal.py
Due: black, flake8, pyupgrade

refactor: using ibis.expr.api.schema inside ibis.expr.api.table
  ibis/expr/api.py
  ibis/expr/schema.py
Due: black, flake8, pyupgrade

fix: implement count on tables for pyspark
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_ddl.py
Due: black, flake8, pyupgrade

fix: expose ops.IfNull for mysql backend
  ibis/backends/mysql/registry.py
  ibis/backends/tests/test_generic.py
Due: black, flake8, pyupgrade

ci: add curl to shell.nix to fix docs building
  shell.nix
Due: nix-linter, nixpkgs-fmt

docs: fix bad link on team page
  docs/about/team.md
Due: prettier

ci: add skip helpers
  .github/workflows/ibis-main-skip-helper.yml
Due: prettier

docs: fix broken notebooks
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/tutorial/02-Aggregates-Joins.ipynb
  docs/tutorial/03-Expressions-Lazy-Mode-Logging.ipynb
  docs/tutorial/04-More-Value-Expressions.ipynb
  docs/tutorial/05-IO-Create-Insert-External-Data.ipynb
  docs/tutorial/06-Advanced-Topics-ComplexFiltering.ipynb
  docs/tutorial/07-Advanced-Topics-Analytics-Tools.ipynb
  docs/user_guide/extending/extending_elementwise_expr.ipynb
  docs/user_guide/extending/extending_reduce_expr.ipynb
Due: none

chore(deps): bump black
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/impala/tests/test_value_exprs.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/sqlite/udf.py
  ibis/expr/visualize.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade, prettier

fix(util): quote_identifier backslash escape quotechar
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/impala/tests/conftest.py
Due: black, flake8, pyupgrade

fix(deps): update dependency pyarrow to v7
  poetry.lock
  pyproject.toml
Due: prettier

docs: add better comparison section
  docs/about/team.md
  docs/community/coc.md
  docs/example.py
  docs/example.sql
  docs/getting_started.md
  docs/index.md
  docs/sqlalchemy_example.py
  mkdocs.yml
  setup.cfg
Due: black, flake8, pyupgrade, prettier

chore(deps): update dependency pytest to v7
  poetry.lock
  pyproject.toml
Due: prettier

chore: fix setup.py gen
  setup.py
Due: black, flake8
