Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Due: none

chore: configure pyspark labeling
  .github/renovate.json
Due: prettier

chore(deps): bump nixpkgs
  flake.lock
Due: none

chore(deps): bump uv2nix
  flake.lock
Due: none

ci(setup-uv): remove default-enabled cache
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  justfile
  requirements-dev.txt
  uv.lock
Due: prettier, just

chore(deps): refresh lockfile
  requirements-dev.txt
  uv.lock
Due: none

docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

chore(docs): remove newline
  ibis/backends/duckdb/__init__.py
Due: none

ci: use uv to auto activate venv
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
Due: prettier

ci(docs): fix build by checking out uv.lock after building a temporary wheel
  justfile
Due: just

test(pyspark): fix failing pyspark test
  flake.lock
  ibis/backends/tests/test_export.py
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): relock
  requirements-dev.txt
  uv.lock
Due: none

merge upstream changes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  ibis/backends/sql/compilers/datafusion.py
Due: prettier

revert changes to .devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: prettier

revert changes to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: prettier

reformat datafusion file properly
  ibis/backends/sql/compilers/datafusion.py
Due: none

chore(dev-deps): bump pgvector, clang and llvm versions
  docker/postgres/Dockerfile
Due: none

chore(postgis): bump postgres version
  docker/postgres/Dockerfile
Due: none

chore(postgres): remove unnecessary container user
  compose.yaml
Due: prettier

chore(dev-deps): bump pgvector, clang and llvm versions (#10614)
  compose.yaml
  docker/postgres/Dockerfile
Due: prettier

chore: re-enable the dependency dashboard
  .github/renovate.json
Due: prettier

chore: re-enable the dependency dashboard (#10615)
  .github/renovate.json
Due: prettier

chore: fix triple colon
  ibis/expr/types/generic.py
Due: none

fix(api): ensure memtable schema and columns match
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
Due: none

docs: add callout notes for some APIs changes and additions (#10551)
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

ci(google-auth): use workload identity federation instead of json
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

ci: add `project_id` and use `vars` instead of `secrets` for provider id
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

ci(google-auth): use workload identity federation instead of json (#10342)
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

test(api): update test to avoid executing anything
  ibis/expr/tests/test_api.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
