Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(bigquery): correctly escape ASCII escape sequences in regex patterns
  ibis/backends/bigquery/registry.py
Due: none

feat(api): add `Backend.rename_table`
  ibis/backends/base/__init__.py
  ibis/backends/tests/test_client.py
Due: none

feat(pyspark): implement `Backend.rename_table`
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_client.py
Due: none

feat(impala): implement `Backend.rename_table`
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/tests/test_client.py
Due: none

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

chore(sql): regen snapshots for updated sqlglot array formatting
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
Due: none

chore: clean up gen_matrix.py usage
  .gitignore
  docs/support_matrix.qmd
  gen_matrix.py
Due: none

docs: dark mode for life
  docs/_quarto.yml
  docs/theme-dark.scss
Due: prettier

chore: overlay search
  docs/_quarto.yml
Due: prettier

chore: ignore generated objects and reference material
  .gitignore
Due: none

chore: build api docs with quartodoc
  docs/_quarto.yml
  justfile
  pyproject.toml
  requirements-dev.txt
Due: prettier, just

chore: fix link in selectors.py
  ibis/selectors.py
Due: none

chore: rename release_notes.qmd -> release_notes.md
  .releaserc.js
  docs/release_notes.md
Due: prettier

ci: add just rule for ci docs builds
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: redo admonitions to follow quarto style
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/selectors.py
  ibis/util.py
Due: none

chore: add and use include code quarto extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
  docs/tutorials/getting_started.qmd
Due: prettier

chore: use lime green for monospace font color
  docs/theme-dark.scss
Due: none

chore: release_notes.qmd -> release_notes.md
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/old/Ibis-version-3.1.0-release.qmd
  docs/posts/old/ibis-version-4.0.0-release.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs/posts/v6.1.0-release/index.qmd
  docs/support_matrix.qmd
Due: prettier

chore: fix selectors.md by removing its references
  docs/tutorials/getting_started.qmd
  lychee.toml
Due: prettier

ci: add quarto branch to docs builds
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore: fix link
  ibis/selectors.py
Due: none

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

chore: clean up just commands
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: site id
  .prettierignore
  .yamllint.yaml
  docs/_publish.yml
Due: prettier

chore: use ibis._
  ibis/expr/api.py
Due: none

chore: typo
  docs/_quarto.yml
Due: prettier

chore: remove extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
Due: prettier

chore: rewrite selectors
  docs/posts/old/selectors.qmd
  docs/posts/selectors/index.qmd
Due: none

chore: fix gen_matrix.py dir
  gen_matrix.py
Due: none

chore: freeze selectors post results
  docs/_freeze/posts/selectors/index/execute-results/html.json
Due: prettier

chore: fix broken links
  docs/tutorials/getting_started.qmd
  ibis/selectors.py
Due: none

ci: checkout code in quarto docs push
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: specify path for `just docs-deploy`
  justfile
Due: just

fix(oracle): clarify sid vs service_name handling and allow dsn
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/conftest.py
Due: none

chore: fix admonitions
  ibis/expr/types/generic.py
  ibis/expr/types/maps.py
Due: none

chore: bump quartodoc
  poetry.lock
  requirements-dev.txt
Due: none
