Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore(docs): actually run the algolia index augmenter (#9377)
  .github/workflows/upload-algolia-api.py
Due: none

fix(oracle): use case statements to grab table metadata instead of bools
  ibis/backends/oracle/__init__.py
Due: none

fix(oracle): select from `dual` for dummy tables
  ibis/backends/oracle/compiler.py
Due: none

fix(oracle): rewrite join predicate bools like `TRUE` as 1=1
  ibis/backends/oracle/compiler.py
Due: none

fix(oracle): rewrite bools as case statements
  ibis/backends/oracle/__init__.py
Due: none

test(snowflake): add case to insert test
  ibis/backends/snowflake/tests/test_client.py
Due: none

chore(docs): fix algolia app id
  .github/workflows/ibis-docs-main.yml
Due: prettier

feat(bigquery): support filtering by `_TABLE_SUFFIX` when using a wildcard table name (#9375)
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

chore(docs): fix algolia app id (#9381)
  .github/workflows/ibis-docs-main.yml
Due: prettier

test(snowflake): add case to insert test (#9380)
  ibis/backends/snowflake/tests/test_client.py
Due: none

Apply suggestions from code review
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/compiler.py
Due: none

chore(release): 9.1.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  2dac5e48d80e4251d3d682307ff90e00e52455f5
Due: none

Add e6data_python_connector import and update do_connect method
  ibis/backends/e6data/__init__.py
Due: none

Add e6data-python-connector dependency
  poetry.lock
  pyproject.toml
Due: taplo

test(druid): enable xpassing isin tests
  ibis/backends/tests/test_generic.py
Due: none

Update Backend name and add _from_url method
  ibis/backends/e6data/__init__.py
Due: none

Remove unnecessary transaction rollback in Backend class for E6data since it doesn't support transactions.
  ibis/backends/e6data/__init__.py
Due: none

test(snowflake): enable xgboost model test again
  ibis/backends/snowflake/tests/test_udf.py
Due: none

test(snowflake): remove unused import
  ibis/backends/snowflake/tests/test_udf.py
Due: none

refactor(polars): delete some dead code in the polars backend
  ibis/backends/polars/compiler.py
Due: none

refactor(polars): delete some dead code in the polars backend (#9389)
  ibis/backends/polars/compiler.py
Due: none

docs: add ibis-bench blog
  docs/_freeze/posts/ibis-bench/index/execute-results/html.json
  docs/posts/ibis-bench/.gitignore
  docs/posts/ibis-bench/figure1.png
  docs/posts/ibis-bench/index.qmd
Due: prettier

update freeze
  docs/_freeze/posts/ibis-bench/index/execute-results/html.json
Due: prettier

test(snowflake): reenable array map and filter tests
  ibis/backends/tests/test_array.py
Due: none

test(snowflake): reenable array map and filter tests (#9393)
  ibis/backends/tests/test_array.py
Due: none

feat(ddl): make list_tables() and list_views() explicit
  compose.yaml
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/helpers.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/converter.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_register.py
  ibis/backends/trino/__init__.py
  ibis/examples/tests/test_examples.py
Due: prettier

chore(algolia): add print outputs to algolia index augmentation
  .github/workflows/upload-algolia-api.py
Due: none

chore(algolia): add print outputs to algolia index augmentation (#9397)
  .github/workflows/upload-algolia-api.py
Due: none

refactor(pandas-converter): output Python types for scalar outputs
  ibis/formats/pandas.py
Due: none

test: fix int test
  ibis/backends/tests/test_generic.py
Due: none

chore: relock requirements-dev.txt
  requirements-dev.txt
Due: none

chore(deps): bump nix flakes
  flake.lock
Due: none

chore(deps): bump nix flakes (#9399)
  flake.lock
Due: none

chore(deps): bump lower bound of pytest to 8.2.0
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore(deps): bump lower bound of pytest to 8.2.0 (#9400)
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

feat(sigcheck): first cut of signature checking utilities
  ibis/backends/tests/signature/__init__.py
  ibis/backends/tests/signature/tests/test_compatible.py
  ibis/backends/tests/signature/typecheck.py
Due: none

test(signatures): add fixture that returns uninstantiated backend class
  ibis/backends/conftest.py
Due: none
