Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: pyupgrade --py38-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - entry: just --fmt --unstable --check
        exclude: ^$
        files: ^justfile$
        id: just
        language: system
        name: just
        pass_filenames: false
        stages:
          - commit
        types:
          - file
    repo: local

chore(deps): update dependency jinja2 to v3
  poetry.lock
  pyproject.toml
Due: prettier

ci: comment on commit when benchmarks exceed threshold
  .github/workflows/ibis-docs-lint.yml
Due: prettier

fix(pandas): don't reassign the same column to silence SettingWithCopyWarning warning
  ibis/backends/pandas/execution/selection.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

test(sqlalchemy): enable semi join tests
  ibis/backends/tests/test_aggregation.py
Due: black, flake8, pyupgrade

fix(sqlalchemy): use replace selectables to prevent semi/anti join cross join
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/util.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

chore: flatten conditionals and add comments
  ibis/backends/base/sql/alchemy/query_builder.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

chore(dev): add ibis.util.psql for showing pretty SQL strings
  ibis/util.py
Due: black, flake8, pyupgrade

style: remove unnecesary punctuation
  ibis/backends/base/sql/alchemy/query_builder.py
Due: black, flake8, pyupgrade

fix(annotable): allow optional arguments at any position
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
Due: black, flake8, pyupgrade

feat(ver): dynamic version identifiers
  .gitignore
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/run.sh
  ibis/__init__.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

style(release): use conventional-commits style
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/run.sh
Due: prettier

chore(deps): update cachix/install-nix-action action to v17
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-setup-py.yml
Due: prettier

fix(sql): walk right join trees and substitute joins with right-side joins with views
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/expr/operations/relations.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

refactor(api): remove distinct ColumnExpr API
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_column.py
  ibis/expr/operations/generic.py
  ibis/expr/types/generic.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

feat(pyspark): implement Distinct for pyspark
  ibis/backends/pyspark/compiler.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

ci(coverage): add coverage report uploads to codecov
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Due: prettier

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Due: prettier

ci: bump alert threshold for benchmarks
  .github/workflows/ibis-docs-lint.yml
Due: prettier

fix(expr): fix formatting of table info using tabulate
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/util.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

feat(datafusion): implement Count operation
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
Due: black, flake8, pyupgrade

chore(deps): lock file maintenance
  poetry.lock
Due: none

chore: update overrides
  poetry-overrides.nix
Due: none
