Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore(sqlglot): deduplicate pad functions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/trino/compiler.py
Due: none

refactor(sqlglot): various sqlglot compiler and backend clean ups (#7904)
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/kernels.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_filter_predicates/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpch/conftest.py
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/duckdb/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/duckdb/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/duckdb/h09.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/snowflake/h09.sql
  ibis/expr/operations/strings.py
  ibis/expr/types/arrays.py
  ibis/expr/types/strings.py
  ibis/formats/pandas.py
Due: none

test(snowflake): fix expected decimal results
  ibis/backends/tests/test_numeric.py
Due: none

test(duckdb): relax exact type check in decimal literal assertion
  ibis/backends/tests/test_numeric.py
Due: none

ci: comment out sys-deps step
  .github/workflows/ibis-backends.yml
Due: prettier

test(pandas): ignore array size warning
  pyproject.toml
Due: taplo

test(postgres): remove test that no longer works
  ibis/backends/postgres/tests/test_client.py
Due: none

test(postgres): use DBAPI instead of sqlalchemy apis in timezone test
  ibis/backends/postgres/tests/snapshots/test_client/test_timezone_from_column/out.sql
  ibis/backends/postgres/tests/test_client.py
Due: none

ci: install decompiler as extra not as its own dependency (#7901)
  .github/workflows/ibis-backends.yml
Due: prettier

test(backends): make null results try_cast test agnostic to nan vs None
  ibis/backends/tests/test_generic.py
Due: none

test(generic): clean up try_cast to null test
  ibis/backends/tests/test_generic.py
Due: none

chore(deps): bump sqlglot and regen sql
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/snowflake/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/snowflake/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/snowflake/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/snowflake/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/snowflake/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/snowflake/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/snowflake/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/snowflake/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/snowflake/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/snowflake/h20.sql
Due: none

fix(polars): force null sorting to match the rest of ibis
  ibis/backends/polars/compiler.py
Due: none

refactor(pyspark): remove sqlalchemy dependency from pyspark
  ibis/backends/pyspark/__init__.py
  pyproject.toml
Due: taplo

fix(duckdb): add `flip_coordinates` translation to sqlglot duckdb backend
  ibis/backends/duckdb/compiler.py
Due: none

refactor(sqlglot): remove duplicate `StringAscii` definitions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
Due: none

fix(mysql): remove not-allowed frame clause from rank window function
  ibis/backends/mysql/compiler.py
Due: none

chore: remove duplicate `distinct` decompile rule
  ibis/expr/decompile.py
Due: none

test(pandas): use the correct error type when xfailing for compound-sort-key rank
  ibis/backends/tests/test_window.py
Due: none

refactor(sqlglot): make anonymous functions easier to use and remove `array_func` hack
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/trino/compiler.py
Due: none

chore: rename to `dereference_comparison`
  ibis/expr/types/joins.py
Due: none

ci: remove `merge_group` (#7899)
  .github/workflows/check-generated-files.yml
Due: prettier

fix(conversion): convert decimals to the exact precision and scale requested by the input type
  ibis/common/numeric.py
  ibis/formats/pandas.py
Due: none

refactor(mysql): port to sqlglot (#7926)
  .github/workflows/ibis-backends.yml
  docker/mysql/startup.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/converter.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  pyproject.toml
Due: prettier, taplo

fix(ir): only dereference comparisons not generic binary operations
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Due: none

chore(deps): remove sqlalchemy dependencies from oracle extra
  pyproject.toml
Due: taplo

chore(bigquery-datatypes): fix type annotations and raise uniform error types for datatype conversion
  ibis/backends/base/sqlglot/datatypes.py
Due: none

ci(bigquery): install geospatial extra
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

refactor(oracle): port to sqlglot (#8020)
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/compiler.py
  ibis/backends/oracle/converter.py
  ibis/backends/oracle/datatypes.py
  ibis/backends/oracle/registry.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/oracle/tests/test_datatypes.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/oracle/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Due: prettier

fix(polars): user newer `drop` API in asof join implementation
  ibis/backends/polars/compiler.py
Due: none

chore(sql): regenerate snapshots for pyspark
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/pyspark/out.sql
Due: none

fix(snowflake): handle udf function naming
  ibis/backends/snowflake/__init__.py
Due: none

test: remove unused `spread_type` function
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
Due: none

test(duckdb): test that column name case is preserved when inserting
  ibis/backends/duckdb/tests/test_client.py
Due: none
