Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: pyupgrade --py38-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - entry: just --fmt --unstable --check
        exclude: ^$
        files: ^justfile$
        id: just
        language: system
        name: just
        pass_filenames: false
        stages:
          - commit
        types:
          - file
    repo: local

docs: add the goatcounter
  docs/overrides/main.html
Due: none

chore(deps): add ipdb to dev dependencies
  poetry.lock
  pyproject.toml
Due: prettier

fix: fix tablecolumn execution for filter following join
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_join.py
Due: black, flake8, pyupgrade

docs: fix link for ibis sql guide on index page
  docs/index.md
Due: prettier

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/conda-lock.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Due: prettier

fix(deps): update dependency geoalchemy2 to >=0.6.3,<0.12
  poetry.lock
  pyproject.toml
Due: prettier

chore(deps): update dependency mkdocstrings to >=0.17.0,<0.19.0
  poetry.lock
  pyproject.toml
Due: prettier

ci: use gha template for win-64 conda-lock file
  .github/workflows/conda-lock.yml
Due: prettier

docs: fix more broken links and check in CI
  .github/workflows/ibis-docs-lint.yml
  docs/about/license.md
  docs/ibis-for-sql-programmers.ipynb
  docs/index.md
  docs/overrides/main.html
  docs/release_notes.md
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/user_guide/udfs.md
  justfile
  shell.nix
Due: prettier, just

chore(deps): lock file maintenance
  poetry.lock
Due: none

fix(api): map string multiplication with integer to repeat method
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_string.py
  ibis/expr/api.py
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

fix(api): thread suffixes parameter to individual join methods
  ibis/expr/api.py
  ibis/tests/expr/test_table.py
Due: black, flake8, pyupgrade

ci: pass github token as parameter
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: remove bigquery insert in ci-data
  .github/workflows/ci-data.yml
Due: prettier

feat(duckdb): implement now() function
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

refactor(config): disable graphviz-repr-in-notebook by default
  ibis/config.py
Due: black, flake8, pyupgrade

test: fix graphviz repr tests
  ibis/tests/expr/test_visualize.py
Due: black, flake8, pyupgrade

chore(data): load duckdb without select to avoid type inference
  ci/datamgr.py
Due: black, flake8, pyupgrade

ci: ignore github.com when verifying all links to avoid rate limiting
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs: move API methods to ibis/expr/types module and document
  docs/api/expressions/collections.md
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/maps.py
  ibis/expr/types/structs.py
Due: black, flake8, pyupgrade, prettier

test: split up extract component tests
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

fix: conform epoch_seconds impls to expression return type
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

ci: exclude github.io from link checking to avoid rate limiting
  .github/workflows/ibis-docs-lint.yml
Due: prettier

feat(sqlite): implement date_truncate
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

feat(duckdb): add functionality needed to pass integer to interval test
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade
