Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: fix missing ibis import in docstring
  ibis/expr/types/generic.py
  ibis/selectors.py
Due: none

chore: everything under docs/_extensions is generated
  .gitattributes
Due: none

chore: remove extra line at the top of internals
  docs/concepts/internals.qmd
Due: none

chore: remove shouting from compilation internals section
  docs/concepts/internals.qmd
Due: none

chore: fix selectors.md by removing its references
  docs/tutorials/getting_started.qmd
  lychee.toml
Due: prettier

chore: rerender some posts
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
Due: prettier

chore: add more redirects
  gen_redirects.py
Due: none

ci: run all ci on quarto branch
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

chore: fix snowflake rendering
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
Due: prettier

chore: fix link in selectors.py
  ibis/selectors.py
Due: none

chore: release_notes.qmd -> release_notes.md
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/old/Ibis-version-3.1.0-release.qmd
  docs/posts/old/ibis-version-4.0.0-release.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs/posts/v6.1.0-release/index.qmd
  docs/support_matrix.qmd
Due: prettier

chore: globally set code-annotations to hover
  docs/_quarto.yml
  docs/backends/sqlite.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/snowflake-io/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: prettier

docs: remove keywords
  docs/backends/duckdb.qmd
  docs/backends/snowflake.qmd
Due: none

chore: render sql using the notebook instead of only printing to stdout
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: remove unnecessary global pre-render
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: remove deploy previews for now
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore: fix gen_matrix.py dir
  gen_matrix.py
Due: none

docs: some how-to updates
  docs/_quarto.yml
  docs/how-to/analytics/basics.qmd
  docs/how-to/analytics/chain_expressions.qmd
  docs/how-to/external-dataframes/memtable_join.qmd
  docs/how-to/input-output/multiple-backends.qmd
Due: prettier

chore: rewrite ci-analysis post to quarto
  .pre-commit-config.yaml
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/posts/ci-analysis/index.qmd
  docs/posts/old/rendered/ci-analysis.ipynb
  pyproject.toml
Due: prettier

chore: ensure the full module path
  docs/_quarto.yml
Due: prettier

chore: rewrite Ibis-version-3.1.0-release post to quarto
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/old/Ibis-version-3.1.0-release.qmd
Due: none

chore: fix annotations on 6.1.0 release
  docs/posts/v6.1.0-release/index.qmd
Due: none

docs(blog): embed the torch youtube video directly
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/torch/index.qmd
Due: prettier

chore: rewrite ibis_substrait_to_duckdb post to quarto
  .gitignore
  docs/posts/ibis_substrait_to_duckdb/index.qmd
Due: none

chore: release notes to the right
  docs/_quarto.yml
Due: prettier

chore: quarto-ify ibis-for-dplyr-users
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  nix/quarto/default.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

ci: specify path for `just docs-deploy`
  justfile
Due: just

chore: remove remnants of `relabel` usage
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  requirements-dev.txt
Due: prettier

chore: freeze selectors post results
  docs/_freeze/posts/selectors/index/execute-results/html.json
Due: prettier

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

chore: rewrite ibis-examples post with quarto
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-examples/tab_complete.png
  docs/posts/old/ibis-examples.qmd
Due: prettier

chore: bump quarto version and use shipped version of pandoc
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: site id
  .prettierignore
  .yamllint.yaml
  docs/_publish.yml
Due: prettier

chore: fix yaml linting error
  docs/_quarto.yml
Due: prettier

chore: relock
  poetry.lock
  requirements-dev.txt
Due: none

chore: wrap and move references to full website path to internal qmd references
  docs/tutorials/ibis-for-dplyr-users.qmd
Due: none

chore: rewrite selectors
  docs/posts/old/selectors.qmd
  docs/posts/selectors/index.qmd
Due: none

chore: remove broken link
  docs/_code/input_output_penguins.qmd
Due: none

chore: bump quartodoc lower bound
  pyproject.toml
Due: prettier

chore: add product links to the various backends
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none
