Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: relock
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

style(f-strings): rewrite f-string
  ibis/backends/bigquery/client.py
Due: none

fix(sqlalchemy): ensure that limit on `.sql` calls works
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/tests/test_dot_sql.py
Due: none

feat(duckdb): add support for specific timestamp scales
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_datatypes.py
Due: none

feat(api): support specifying `signature` in udf definitions
  ibis/expr/operations/udf.py
  ibis/tests/expr/test_udf.py
Due: none

chore(deps): bump black
  poetry.lock
  requirements-dev.txt
Due: none

fix(deps): pin pyspark to a working version
  poetry.lock
  pyproject.toml
Due: taplo

ci(pyspark): simplify ci
  .github/workflows/ibis-backends.yml
Due: prettier

test(pyspark): remove blanket py311 xfail, skip 311 for pyspark
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
Due: prettier

fix(repr): add dispatch for repr of GeoSpatialBinOps
  ibis/expr/format.py
  ibis/tests/expr/test_geospatial.py
Due: none

fix(ir): coerce integers passed to `Value[dt.Floating]` annotated values as `dt.float64`
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/numeric.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/tests/test_generic.py
Due: none

style: format mssql backend files to unix line endings for consistency with the rest of the codebase
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mssql/registry.py
Due: none

chore: run on huge runner
  .github/actionlint.yaml
  .github/workflows/ibis-flink-backend.yml
Due: prettier

revert(flink): un-undo changes in common test dirs
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_uuid.py
Due: none

revert(flink): add common backend tests back to CI
  .github/workflows/ibis-backends.yml
Due: prettier

ci(flink): max compressed class space, split tests
  .github/workflows/ibis-backends.yml
Due: prettier

test(flink): specify type for bool lit translation
  ibis/backends/tests/test_generic.py
Due: none

test(flink): fix arrays translations and test file
  ibis/backends/tests/test_array.py
Due: none

test(flink): mark `find_in_set` not yet BE-supported
  ibis/backends/flink/registry.py
  ibis/backends/tests/test_string.py
Due: none

ci(flink): use pytest-split to run tests in chunks
  .github/workflows/ibis-backends-flink.yml
Due: prettier

test(flink): int division by int 0 isn't supported
  ibis/backends/tests/test_numeric.py
Due: none

fix(flink): update expected val for UUID operation
  ibis/backends/tests/test_uuid.py
Due: none

test(flink): mark `pivot_longer` not yet supported
  ibis/backends/tests/test_generic.py
Due: none

test(flink): flink doesn't support bitwise ops yet
  ibis/backends/tests/test_numeric.py
Due: none

test(flink): aggressively xfail every failing test (aggregation)
  ibis/backends/tests/test_aggregation.py
Due: none

test(flink): mark Flink isn't a SQLAlchemy backend
  ibis/backends/tests/test_numeric.py
Due: none

test(flink): join with pandas works with memtables
  ibis/backends/tests/test_join.py
Due: none

test(flink): added separate workflow file for testing flink backend
  .github/workflows/ibis-flink-backend.yml
Due: prettier

ci(flink): run Flink tests in sequential order now
  .github/workflows/ibis-backends.yml
Due: prettier

test(flink): marked the tests that failed after the final rebase
  ibis/backends/conftest.py
  ibis/backends/flink/registry.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_window.py
Due: none

test(flink): mark test `notimpl` due to no dialect
  ibis/backends/tests/test_generic.py
Due: none

test(flink): mark test broken due to sorting order
  ibis/backends/tests/test_generic.py
Due: none

chore(flink): rename ibis-flink-backend.yml to ibis-backends-flink.yml
  .github/workflows/ibis-backends-flink.yml
Due: prettier

test(flink): mark `ops.Hash` `notimpl` for backend
  ibis/backends/tests/test_generic.py
Due: none
