Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

test(perf): add giant expression benchmark
  ibis/tests/benchmarks/benchfuncs.py
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

test(big): add timeouts for benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

chore(deps): add `pytest-timeout` to conda envs
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

test(perf): add giant expression to benchmarks (#8981)
  .codespellrc
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/tests/benchmarks/benchfuncs.py
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

fix(deps): bump pandas lower bound to reflect tested minimum version
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

fix(pyarrow): use backwards compatible ipc class
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
Due: none

fix(deps): bump numpy and pyarrow lower bounds
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

ci(deps): remove incompatible deps in lower bound job
  .github/workflows/ibis-backends.yml
Due: prettier

chore(deps): bump minimum pyarrow in conda environment YAMLs
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

ci: try pinning python in `poetry add` invocation
  .github/workflows/ibis-backends.yml
Due: prettier

ci(deps): split min optional and required deps
  .github/workflows/ibis-backends.yml
Due: prettier

chore(deps): fix numpy bound
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

ci(numpy): test lower bound
  .github/workflows/ibis-backends.yml
Due: prettier

chore(deps): bump pyarrow >=7, exclude dask 311 lower
  .github/workflows/ibis-backends.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore(deps): bump pyarrow lower bound to 10.0.1
  .github/workflows/ibis-backends.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Due: prettier, taplo

fix(deps): bump dependencies' lower bounds to reflect tested minimum version (#8977)
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

updates: describe and snowflake note
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-13-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

update release notes link
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

fix: add workaround for NULL map bugs
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/test_map.py
Due: none

fix(duckdb): workaround for duckdb Map NULL bugs (#8649)
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/test_map.py
Due: none

test(clickhouse): isolate empty table listing from existing connection
  ibis/backends/clickhouse/tests/test_client.py
Due: none

fix(duckdb): workaround remaining null map issues
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_map.py
  ibis/expr/types/maps.py
Due: none

test(clickhouse): isolate empty table listing from existing connection (#8986)
  ibis/backends/clickhouse/tests/test_client.py
Due: none

test(flink): xfail specific contains case
  ibis/backends/tests/test_map.py
Due: none

fix(duckdb): workaround remaining null map issues (#8985)
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_map.py
  ibis/expr/types/maps.py
Due: none

test(pyspark): validate pyspark-specific tests for streaming
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_aggregation.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/utils.py
  ibis/backends/tests/base.py
Due: none

fix(ir): accidentally remapping fields during bind\(\)
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(ir): accidentally remapping fields during bind() (#8988)
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(structs): ensure that isin works with struct membership
  ibis/backends/pyspark/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/compiler.py
Due: none

test: add test for non-1 step in String slicing
  ibis/tests/expr/test_value_exprs.py
Due: none

chore: raise correct ValueError on bad string slice step
  ibis/expr/types/strings.py
Due: none

fix(structs): ensure that isin works with struct membership (#8978)
  ibis/backends/pyspark/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/compiler.py
Due: none

test: add test for non-1 step in String slicing (#8797)
  ibis/expr/types/strings.py
  ibis/tests/expr/test_value_exprs.py
Due: none

test(flink): xfail in-struct test
  ibis/backends/tests/test_struct.py
Due: none

test(flink): xfail in-struct test (#8993)
  ibis/backends/tests/test_struct.py
Due: none

test(duckdb): remove flaky test
  ibis/backends/duckdb/tests/test_client.py
Due: none

docs: remove `all` extra installation from contributing docs
  docs/contribute/01_environment.qmd
Due: none

chore(dev): add `black` to conda env files
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

test(duckdb): remove flaky test (#9001)
  ibis/backends/duckdb/tests/test_client.py
Due: none

feat(api): expose common types in the top-level `ibis` namespace
  ibis/expr/api.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
