Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

test(ir): remove outdated old-style pytest hookwrapper causing warnings
  ibis/tests/expr/conftest.py
Due: none

fix(pyspark): don't use the removed `sge.NULL`, `sge.TRUE` and `sge.FALSE` literals
  ibis/backends/pyspark/compiler.py
Due: none

chore(deps): remove `sqlalchemy-views` and `sqlalchemy-risingwave`
  pyproject.toml
Due: taplo

test(backends): restore deleted `test_benchmarks.py`
  ibis/backends/tests/test_benchmarks.py
Due: none

test(duckdb): account for other errors when running in the nix sandbox
  ibis/backends/duckdb/tests/test_register.py
Due: none

fix(polars): columns are picked from the correct side in case of conflicting names (#8134)
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
Due: none

feat(api): support the inner join convenience to not repeat fields known to be equal (#8127)
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/bigquery/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/druid/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/duckdb/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/exasol/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mssql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mysql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/oracle/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/postgres/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/pyspark/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/trino/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/trino/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/common/egraph.py
  ibis/common/tests/test_egraph.py
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/tests/expr/test_table.py
Due: none

test(snowflake): ensure that compilation does not make requests
  ibis/backends/snowflake/tests/test_client.py
Due: none

fix(api): selection using a selector yielding multiple columns (#8215)
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

chore: enable pre-commit, benchmarks and other lints against `the-epic-split`
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .github/workflows/ibis-lint.yml
  docs/how-to/extending/sql.qmd
  ibis/backends/bigquery/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/datatypes.py
  ibis/backends/risingwave/registry.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/common/egraph.py
  ibis/expr/analysis.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/util.py
Due: prettier

test(risingwave): make unnest test not flaky
  ibis/backends/tests/test_array.py
Due: none

fix(duckdb): pass global replace flag to `ops.RegexReplace` translation rule
  ibis/backends/duckdb/compiler.py
Due: none

feedback + updates
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-29-output-1.png
  docs/posts/lms-for-data/index.qmd
Due: prettier

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

updates per feedback
  docs/posts/ibis-v8-release/index.qmd
Due: none

chore(sql): regen snapshots
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/risingwave-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/risingwave-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literal_sql/0-risingwave/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literal_sql/234567-risingwave/out.sql
Due: none

chore: remove TableExpr usage
  ibis/backends/bigquery/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/tests/test_core.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
  ibis/tests/test_strategies.py
Due: none

test: remove outdated sqlize tests
  ibis/backends/base/sqlglot/tests/test_rewrites.py
Due: none

freeze
  docs/_freeze/posts/ibis-v8-release/index/execute-results/html.json
Due: prettier

feedback + minor change to sql function
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

docs: display inherited methods
  docs/_quarto.yml
Due: prettier

test(pyspark): snapshot update
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/pyspark-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/pyspark-timestamp/out.sql
Due: none

test(arrays): disregard row output order when testing array APIs (#8225)
  ibis/backends/tests/test_array.py
Due: none

feedback and updates
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-28-output-1.png
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-31-output-1.png
  docs/posts/lms-for-data/index.qmd
Due: prettier

wrap line
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

fix(api): restore and deprecate `ir.Table.to_array()`
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
Due: none

chore(release): 8.0.0
  docs/release_notes.md
  ibis/__init__.py
  pyproject.toml
Due: prettier, taplo

Notes added by 'git notes add'
  0907f55ec252663f4f5ac2b35dd68f3870df4ce3
Due: none

fix(ir): don't enforce scalar value in `ScalarSubquery`
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
Due: none

final fixes
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Due: prettier

chore(docs): restore `.to_array()` usage in the geospatial blogpost
  docs/posts/ibis-duckdb-geospatial/index.qmd
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore(ci): re-enable docs builds
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
Due: prettier

ci(codespell): separate codespell config into standalone file
  .codespellrc
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  pyproject.toml
Due: prettier, taplo

docs: add blog link on the homepage
  docs/index.qmd
Due: none

docs: add lms for data post (#8222)
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-31-output-1.png
  docs/posts/lms-for-data/index.qmd
  docs/posts/lms-for-data/thumbnail.png
Due: prettier

ci: allow codecov uploads to fail
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
