Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

test(dask): skip tests for older pandas
  ibis/backends/dask/tests/test_cast.py
Due: none

fix(polars): remove deprecated `pl.count()` and `with_time_unit`
  ibis/backends/polars/compiler.py
Due: none

test(snowflake): enable xpassing `test_dot_sql::test_order_by_no_projection`
  ibis/backends/tests/test_dot_sql.py
Due: none

fix(pyspark): don't use the removed `sge.NULL`, `sge.TRUE` and `sge.FALSE` literals
  ibis/backends/pyspark/compiler.py
Due: none

test(ir): remove outdated old-style pytest hookwrapper causing warnings
  ibis/tests/expr/conftest.py
Due: none

chore(deps): remove `sqlalchemy-views` and `sqlalchemy-risingwave`
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

fix(mssql): don't use the removed `sge.TRUE` and `sge.FALSE` literals
  ibis/backends/mssql/compiler.py
Due: none

fix(sqlite): don't use the removed `sge.NULL` literal
  ibis/backends/sqlite/compiler.py
Due: none

test(backends): restore deleted `test_benchmarks.py`
  ibis/backends/tests/test_benchmarks.py
Due: none

test(duckdb): account for other errors when running in the nix sandbox
  ibis/backends/duckdb/tests/test_register.py
Due: none

feat(api): support the inner join convenience to not repeat fields known to be equal (#8127)
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/bigquery/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/druid/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/duckdb/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/exasol/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mssql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mysql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/oracle/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/postgres/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/pyspark/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/trino/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/trino/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/common/egraph.py
  ibis/common/tests/test_egraph.py
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/tests/expr/test_table.py
Due: none

fix(polars): columns are picked from the correct side in case of conflicting names (#8134)
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
Due: none

chore(sql): enable quoting
  ibis/backends/base/sqlglot/compiler.py
Due: none

fix(datatypes): accept `sge.Var` input from interval type
  ibis/backends/base/__init__.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(connect): remove special-cased sqlalchemy url handling
  ibis/backends/base/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/sqlite/__init__.py
Due: none

fix(duckdb): disallow non forward-slash paths for ibis.connect on any platform
  ibis/backends/duckdb/tests/test_client.py
Due: none

docs: add v8 blog
  docs/_freeze/posts/ibis-version-v8-release/index/execute-results/html.json
  docs/posts/ibis-version-v8-release/index.qmd
Due: prettier

spelling is hard
  docs/_freeze/posts/ibis-version-v8-release/index/execute-results/html.json
  docs/posts/ibis-version-v8-release/index.qmd
Due: prettier

chore(poetry): add strict upper bound to sqlglot
  poetry.lock
  pyproject.toml
Due: taplo

rename and nits
  docs/_freeze/posts/ibis-v8-release/index/execute-results/html.json
  docs/posts/ibis-v8-release/index.qmd
Due: prettier

remove redundant freeze
  docs/_freeze/posts/ibis-version-v8-release/index/execute-results/html.json
Due: prettier

docs(deps): bump quarto version to pick up dashboard feature
  nix/quarto/default.nix
  poetry.lock
Due: nixpkgs-fmt, statix, deadnix

docs: ensure install docs are consistent/formatted
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/_tabsets/install.qmd
  docs/posts/flink-quickstart/index.qmd
Due: prettier

docs(blog): update wording to be Cody's suggestion
  docs/posts/flink-quickstart/index.qmd
Due: none

docs(blog): use `raw_sql`, and ":" before examples
  docs/posts/flink-quickstart/index.qmd
Due: none

docs(blog): hard wrap the writing at 80 characters
  docs/posts/flink-quickstart/index.qmd
Due: none

docs(blog): use code annotations, replace comments
  docs/posts/flink-quickstart/index.qmd
Due: none

docs(blog): add post introducing the Flink backend
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/posts/flink-quickstart/index.qmd
Due: prettier

chore: use double hash to begin each callout title
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/_tabsets/install.qmd
  docs/posts/flink-quickstart/index.qmd
Due: prettier

docs(blog): state that the tutorial uses mock data
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/posts/flink-quickstart/index.qmd
Due: prettier

docs(blog): update publish date for the Flink post
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/posts/flink-quickstart/index.qmd
Due: prettier

docs(support-matrix): replace the backend info streamlit app with a static quarto dashboard
  docs/backends/app/backend_info_app.py
  docs/backends/app/requirements.txt
  docs/support_matrix.qmd
  docs/theme-dark.scss
  docs/theme-light.scss
  gen_matrix.py
  pyproject.toml
  requirements-dev.txt
Due: taplo

forgot geospatial somehow
  docs/_freeze/posts/ibis-v8-release/index/execute-results/html.json
  docs/posts/ibis-v8-release/index.qmd
Due: prettier

docs(blog): update install commands, other content
  docs/_freeze/posts/flink-quickstart/index/execute-results/html.json
  docs/posts/flink-quickstart/index.qmd
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
