Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: ignore generated inventory files
  docs/.gitignore
Due: none

chore(deps): bump to quartodoc 0.6
  pyproject.toml
Due: prettier

chore(dev): add PWD/docs to PYTHONPATH in the nix shell
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

docs(quarto): shorten method signature names
  docs/_quarto.yml
Due: prettier

chore: remove adding extensions
  justfile
Due: just

chore: bump quartodoc lower bound
  pyproject.toml
Due: prettier

chore: render do_connect arguments and file support backend APIs using quartodoc
  docs/backends/_utils.py
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

chore: dedup backend installation
  docs/_tabsets/install.qmd
  docs/backends/bigquery.qmd
Due: none

chore: remove table from `NumericValue.round` method
  ibis/expr/types/numeric.py
Due: none

chore: fix docs interlinks
  docs/_quarto.yml
  docs/backends/impala.qmd
  docs/concepts/internals.qmd
  docs/posts/_metadata.yml
  ibis/backends/base/sql/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pyspark/client.py
  ibis/config.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/legacy/udf/vectorized.py
  ibis/selectors.py
  ibis/util.py
  justfile
  lychee.toml
Due: prettier, just

chore: add `r` ranges documentation
  ibis/selectors.py
Due: none

chore: cleanup layout and expand top level APIs to match current mkdocs setup
  docs/_quarto.yml
Due: prettier

chore: link to snowflake backend docs
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: release notes to the right
  docs/_quarto.yml
Due: prettier

chore: fix more references
  ibis/expr/api.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/generic.py
  ibis/expr/types/structs.py
  ibis/legacy/udf/vectorized.py
Due: none

chore: quarto-ify ibis-for-dplyr-users
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  nix/quarto/default.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: wrap and move references to full website path to internal qmd references
  docs/tutorials/ibis-for-dplyr-users.qmd
Due: none

chore: move references to full website path to internal qmd references
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: rerender some posts
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
Due: prettier

chore: fix contribute tables and tabs
  docs/_extensions/quarto-ext/fontawesome/_extension.yml
  docs/_extensions/quarto-ext/fontawesome/assets/css/all.css
  docs/_extensions/quarto-ext/fontawesome/assets/css/latex-fontsize.css
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  docs/_extensions/quarto-ext/fontawesome/fontawesome.lua
  docs/contribute/01_environment.md
  docs/contribute/01_environment.qmd
Due: prettier

chore: everything under docs/_extensions is generated
  .gitattributes
Due: none

chore: rename contribute docs to qmd
  docs/contribute/02_workflow.qmd
  docs/contribute/03_style.qmd
  docs/contribute/05_maintainers_guide.qmd
Due: none

chore: remove remnants of `relabel` usage
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  requirements-dev.txt
Due: prettier

chore: use relative path syntax for tabsets
  docs/index.qmd
  docs/install.qmd
  docs/tutorials/ibis-for-pandas-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  docs/why.qmd
Due: none

chore: fix more API docs interlinks
  ibis/expr/types/maps.py
  ibis/expr/types/structs.py
Due: none

chore: fix missing ibis import in docstring
  ibis/expr/types/generic.py
  ibis/selectors.py
Due: none

chore: give a useful group by example instead of foobar
  ibis/expr/types/groupby.py
Due: none

docs: fix links from install to connect
  docs/_tabsets/install.qmd
Due: none

chore: render sql using the notebook instead of only printing to stdout
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: make case consistent
  docs/_quarto.yml
Due: prettier

chore: clean up ibis-for-sql-users
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: fix case
  docs/_quarto.yml
Due: prettier

docs: swap release notes and contribute
  docs/_quarto.yml
Due: prettier

docs: add docs issue to navbar
  docs/_quarto.yml
Due: prettier

ci: run doctests in docs ci
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: check that frozen computations are already done
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: run all ci on quarto branch
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

chore(docs): remove code annotations from duckdb backend docs
  docs/backends/duckdb.qmd
Due: none

chore: convert unnecessary example into code blocks and prose
  ibis/expr/operations/logical.py
Due: none

chore: do not skip selectors examples
  ibis/selectors.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
