Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

say the line
  docs/why.qmd
Due: none

correct getting started tutorial link
  README.md
Due: prettier

feat: add `attr_callback` kwargs to `to_graph`
  ibis/expr/visualize.py
Due: none

feat: expose `*_attr_callback` kwargs in `visualize`
  ibis/expr/types/core.py
Due: none

fix: typing compat below Python 3.10
  ibis/expr/visualize.py
Due: none

chore(deps): bump
  poetry.lock
  requirements-dev.txt
Due: none

feedback
  docs/images/backends.png
Due: none

whoops, address feedback
  README.md
Due: prettier

add a lil list tables
  README.md
Due: prettier

t1/t2 -> a/b
  README.md
Due: prettier

lint
  README.md
Due: prettier

chore(deps): bump nix flakes
  flake.lock
Due: none

chore(deps): bump poetry to 1.8.1
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  justfile
Due: prettier, just

refactor: prefer `getter` suffix over `callback`
  ibis/expr/types/core.py
  ibis/expr/visualize.py
Due: none

by default
  README.md
Due: prettier

fix(sqlite): ensure `ibis.uuid()` generates a unique uuid per row
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_uuid.py
Due: none

fix(sqlite): ensure `ibis.uuid()` generates a unique uuid per row (#8535)
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_uuid.py
Due: none

chore(deps): bump nix flakes and poetry version (#8530)
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  flake.lock
  justfile
Due: prettier, just

test: add chdb expected results to a couple of test cases
  ibis/backends/chdb/__init__.py
  ibis/backends/conftest.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
Due: none

docs: rewrite readme (#8524)
  README.md
  docs/images/backends.png
Due: prettier

chore: update pypi description
  pyproject.toml
Due: taplo

feat(flink): Removed `at_time` arg from temporal_join
  ibis/backends/flink/tests/test_ddl.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

feat(flink): temporal join support
  ibis/backends/flink/__init__.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/expressions.py
  ibis/expr/operations/relations.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

docs: linting
  ibis/backends/flink/tests/test_ddl.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

feat(flink): moved `temporal_join()` into `join()`
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/expressions.py
  ibis/expr/operations/relations.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

chore: remove TemporalJoinLink
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

chore: factor out join link creation
  ibis/expr/types/joins.py
Due: none

chore: use sqlglot's builtin Version expression
  ibis/backends/flink/__init__.py
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/test_join.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/expressions.py
Due: none

chore: dereference at_time
  ibis/backends/flink/tests/test_join.py
  ibis/backends/sql/compiler.py
  ibis/expr/format.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Due: none

chore: remove outdated comment
  ibis/expr/types/relations.py
Due: none

chore: annotate dtype and don't assign default value for at_time
  ibis/backends/sql/compiler.py
  ibis/expr/operations/relations.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: taplo

fix: return UUID types as strings from `.execute()`/`.to_pandas()`
  ibis/backends/tests/test_uuid.py
  ibis/formats/pandas.py
Due: none

add uuid
  ibis/backends/pandas/kernels.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_uuid.py
Due: none

docs(geospatial): update blog to use as_scalar and fix dependencies
  conda/environment-arm64.yml
  conda/environment.yml
  docs/posts/ibis-duckdb-geospatial/index.qmd
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

ad uuid
  ibis/backends/datafusion/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_uuid.py
Due: none

feat: support nargs on Table.group_by()
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

oracle: convet guid to uuid
  ibis/backends/oracle/compiler.py
Due: none

lint
  ibis/backends/oracle/compiler.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
