Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: build api docs with quartodoc
  docs/_quarto.yml
  justfile
  pyproject.toml
Due: prettier, just

chore: fix link in selectors.py
  ibis/selectors.py
Due: none

chore: rename release_notes.qmd -> release_notes.md
  .releaserc.js
  docs/release_notes.md
Due: prettier

ci: add just rule for ci docs builds
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: redo admonitions to follow quarto style
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/selectors.py
  ibis/util.py
Due: none

chore: add and use include code quarto extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
  docs/tutorials/getting_started.qmd
Due: prettier

chore: use lime green for monospace font color
  docs/theme-dark.scss
Due: none

chore: release_notes.qmd -> release_notes.md
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/old/Ibis-version-3.1.0-release.qmd
  docs/posts/old/ibis-version-4.0.0-release.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs/posts/v6.1.0-release/index.qmd
  docs/support_matrix.qmd
Due: prettier

chore: fix selectors.md by removing its references
  docs/tutorials/getting_started.qmd
  lychee.toml
Due: prettier

ci: add quarto branch to docs builds
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore: fix link
  ibis/selectors.py
Due: none

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

chore: clean up just commands
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: site id
  .prettierignore
  .yamllint.yaml
  docs/_publish.yml
Due: prettier

chore: use ibis._
  ibis/expr/api.py
Due: none

chore: typo
  docs/_quarto.yml
Due: prettier

chore: remove extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
Due: prettier

chore: rewrite selectors
  docs/posts/old/selectors.qmd
  docs/posts/selectors/index.qmd
Due: none

chore: fix gen_matrix.py dir
  gen_matrix.py
Due: none

chore: freeze selectors post results
  docs/_freeze/posts/selectors/index/execute-results/html.json
Due: prettier

chore: fix broken links
  docs/tutorials/getting_started.qmd
  ibis/selectors.py
Due: none

ci: checkout code in quarto docs push
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: specify path for `just docs-deploy`
  justfile
Due: just

chore: fix admonitions
  ibis/expr/types/generic.py
  ibis/expr/types/maps.py
Due: none

chore: rewrite ffill/bfill post with quarto
  .prettierignore
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  docs/posts/old/ffill-and-bfill-using-ibis.qmd
Due: prettier

chore: rewrite ibis-examples post with quarto
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-examples/tab_complete.png
  docs/posts/old/ibis-examples.qmd
Due: prettier

chore: rewrite ibis-to-file post with quarto
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/posts/ibis-to-file/index.qmd
Due: prettier

chore: rewrite ibis_substrait_to_duckdb post to quarto
  .gitignore
  docs/posts/ibis_substrait_to_duckdb/index.qmd
Due: none

chore: rewrite Ibis-version-3.0.0-release post to quarto
  docs/posts/Ibis-version-3.0.0-release/index.qmd
  docs/posts/Ibis-version-3.0.0-release/matrix.png
  docs/posts/Ibis-version-3.0.0-release/repr.png
Due: none

chore: rewrite Ibis-version-3.1.0-release post to quarto
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/old/Ibis-version-3.1.0-release.qmd
Due: none

chore: rewrite ibis-version-4.1.0-release post to quarto
  docs/posts/ibis-version-4.0.0-release/index.qmd
Due: none

chore: rewrite torch post to quarto
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/old/rendered/torch.ipynb
  docs/posts/torch/index.qmd
  docs/posts/torch/model.py
Due: prettier

chore: rewrite campaign-finance post to quarto
  .gitignore
  docs/.gitignore
  docs/_freeze/posts/campaign-finance/index/execute-results/html.json
  docs/posts/campaign-finance/index.qmd
  docs/posts/old/rendered/campaign-finance.ipynb
Due: prettier

chore: rewrite ibis-version-6.0.0-release post to quarto
  .gitignore
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
Due: prettier

chore: rewrite ci-analysis post to quarto
  .pre-commit-config.yaml
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/posts/ci-analysis/index.qmd
  docs/posts/old/rendered/ci-analysis.ipynb
  pyproject.toml
Due: prettier

chore: port elementwise and reduction notebooks to quarto
  docs/how-to/extending/elementwise.ipynb
  docs/how-to/extending/elementwise.qmd
  docs/how-to/extending/reduction.ipynb
  docs/how-to/extending/reduction.qmd
Due: none

chore: remove remnants of ipynb
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  docs/.gitignore
  pyproject.toml
Due: prettier

docs: draft posts to draft and very minor edits
  docs/_quarto.yml
  docs/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/website-to-quarto/index.qmd
Due: prettier

docs: community to contriute
  docs/_quarto.yml
  docs/community.qmd
  docs/community/contribute/01_environment.md
  docs/community/contribute/02_workflow.md
  docs/community/contribute/03_style.md
  docs/community/contribute/05_maintainers_guide.md
  docs/community/contribute/index.md
  docs/contribute/01_environment.md
  docs/contribute/02_workflow.md
  docs/contribute/03_style.md
  docs/contribute/05_maintainers_guide.md
  docs/contribute/index.md
Due: prettier

docs(quarto): make blog post titles visible in light mode
  docs/_quarto.yml
  docs/styles.css
  docs/theme-light.scss
Due: prettier
