Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

test: remove `broken` marker, better define `notimpl` and `notyet`
  docs/contribute/02_workflow.qmd
  ibis/backends/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  pyproject.toml
Due: taplo

fix(types): :bug: Fix histogram bin allocation.
  ibis/expr/types/numeric.py
Due: none

refactor(duckdb): use replace to generate less sql
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
Due: none

fix(types): :white_check_mark: Add test and notimpl mark for DataFusion.
  ibis/backends/tests/test_numeric.py
Due: none

refactor(duckdb): use replace to generate less sql (#9713)
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
Due: none

test: remove `broken` marker, better define `notimpl` and `notyet` (#9688)
  docs/contribute/02_workflow.qmd
  ibis/backends/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  pyproject.toml
Due: taplo

test(mssql): set mssql collation to case-sensitive version
  compose.yaml
Due: prettier

refactor(mssql): support case-sensitive collations
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_generic.py
Due: none

chore(mssql): sleep in the healthcheck to make sure collation is setup
  compose.yaml
Due: prettier

fix(types): :white_check_mark: Swap to memtable in test.
  ibis/backends/tests/test_numeric.py
Due: none

test(api): add test for quarterly truncation
  ibis/backends/tests/test_temporal.py
Due: none

feat(sql): quarter
  ibis/backends/sql/compilers/base.py
Due: none

feat(clickhouse): add quarter truncation
  ibis/backends/sql/compilers/clickhouse.py
Due: none

feat(oracle): add quarter truncation
  ibis/backends/sql/compilers/oracle.py
Due: none

test(sqlite): xfail quarter truncation
  ibis/backends/tests/test_temporal.py
Due: none

feat(mysql): quarter truncation
  ibis/backends/sql/compilers/mysql.py
Due: none

feat(pandas,dask): support quarter truncation
  ibis/backends/dask/executor.py
  ibis/backends/pandas/executor.py
Due: none

feat(sqlite): quarter truncation
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/tests/test_temporal.py
Due: none

refactor(joins): require explicit abstract table as RHS of joins
  ibis/backends/tests/test_join.py
  ibis/expr/types/joins.py
  ibis/tests/expr/test_table.py
Due: none

chore(compose): remove the sleep
  compose.yaml
Due: prettier

test(mssql): connect to database-less connection while loading data
  ibis/backends/mssql/tests/conftest.py
Due: none

test(mssql): load data into explicitly schemed tables
  ci/schema/mssql.sql
Due: none

fix(mssql): allow passing no database to `mssql.connect`
  ibis/backends/mssql/__init__.py
Due: none

chore(compose): remove spurious database creation hack
  compose.yaml
Due: prettier

chore(compose): only search /opt because / is overkill
  compose.yaml
Due: prettier

feat(api): support quarterly truncation (#9715)
  ibis/backends/dask/executor.py
  ibis/backends/pandas/executor.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(types): :white_check_mark: Add notyet mark in test for Impala.
  ibis/backends/tests/test_numeric.py
Due: none

feat(mssql): support case-sensitive collations (#9700)
  ci/schema/mssql.sql
  compose.yaml
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_generic.py
Due: prettier

fix(types): :bug: Fix edge case.
  ibis/backends/tests/test_numeric.py
  ibis/expr/types/numeric.py
Due: none

chore(deps): bump deps
  flake.lock
  poetry.lock
  requirements-dev.txt
Due: none

chore(clickhouse): update snapshots
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_find_in_set/out.sql
Due: none

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Due: none

test(polars): enable now passing tests for struct field access
  ibis/backends/tests/test_struct.py
Due: none

perf(schema): speed up failure case of duplicate keys when constructing schemas (#9698)
  ibis/expr/schema.py
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

feat(bigquery): support timestamp bucket
  ibis/backends/sql/compilers/bigquery.py
  ibis/backends/tests/test_temporal.py
Due: none

chore(deps): bump nixpkgs and poetry dependencies (#9723)
  flake.lock
  ibis/backends/tests/test_struct.py
  poetry.lock
  requirements-dev.txt
Due: none

chore(deps): bump quarto version to 1.5.55
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: ignore `.quarto_ipynb` generated by quarto builds
  .gitignore
Due: none

chore: bump extensions
  docs/_extensions/fontawesome/_extension.yml
  docs/_extensions/fontawesome/assets/css/all.css
  docs/_extensions/fontawesome/assets/css/latex-fontsize.css
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-brands-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-brands-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-solid-900.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-solid-900.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  docs/_extensions/fontawesome/fontawesome.lua
  docs/_extensions/interlinks/.gitignore
  docs/_extensions/interlinks/_extension.yml
  docs/_extensions/interlinks/interlinks.lua
Due: prettier

chore: quarto callouts seem to require text instead of just a title
  docs/presentations/pycon2024/maintainers.qmd
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
