Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

feat(pyspark): implement count distinct
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

fix(duckdb): use finer grained execution to fix flaky windows `install_extension`
  ibis/backends/duckdb/__init__.py
Due: none

feat(sqlalchemy): support unknown types
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyarrow/datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/types/generic.py
Due: none

build: add `pyarrow` extra
  .github/workflows/ibis-backends.yml
  ci/schema/postgresql.sql
  poetry.lock
  pyproject.toml
Due: prettier

feat(table): implement `pivot_wider` API
  ibis/backends/tests/test_generic.py
  ibis/expr/analysis.py
  ibis/expr/selectors.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

feat(polars): implement count distinct
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

feat(api): thread kwargs around properly to support more complex connection arguments
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
Due: none

chore(deps): decrease lower bound for pytest-httpserver to allow conda lock file generation to work
  poetry.lock
  pyproject.toml
Due: prettier

docs(nth): improve docstring for nth()
  ibis/expr/types/generic.py
Due: none

chore(deps): regenerate conda lock files
  ci/conda-lock/generate.sh
  conda-lock/linux-64-3.10.lock
  conda-lock/linux-64-3.11.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.10.lock
  conda-lock/osx-64-3.11.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/osx-arm64-3.10.lock
  conda-lock/osx-arm64-3.11.lock
  conda-lock/osx-arm64-3.8.lock
  conda-lock/osx-arm64-3.9.lock
  conda-lock/win-64-3.10.lock
  conda-lock/win-64-3.11.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
Due: none

chore(deps): bump mkdocs-jupyter lower bound to avoid `execute_ignore` type change compatibility issues
  poetry.lock
  pyproject.toml
Due: prettier

revert: fix(duckdb): use finer grained execution to fix flaky windows `install_extension`
  ibis/backends/duckdb/__init__.py
Due: none

test(duckdb): load extensions during test setup
  ibis/backends/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/examples/tests/test_examples.py
Due: none

test: allow local networking on macos in nix tests
  flake.nix
  ibis/backends/conftest.py
  ibis/examples/tests/test_examples.py
  nix/ibis.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(api): remove deprecated `ibis.sequence()` function
  ibis/expr/api.py
  ibis/tests/expr/test_value_exprs.py
Due: none

refactor(schema): remove deprecated `Schema.merge()` method
  ibis/expr/schema.py
  ibis/tests/expr/test_table.py
Due: none

refactor(ir): remove deprecated `Value.summary()` and `NumericValue.summary()` expression methods
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/numeric.py
Due: none

fix(duckdb): allow configuration options from plugins
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

test: avoid downloading large examples in CI
  ibis/examples/tests/test_examples.py
Due: none

test: avoid downloading large amounts of data in example tests
  ibis/examples/tests/test_examples.py
Due: none

refactor(backends): remove deprecated `Backend.load_data()`, `.exists_database()` and `.exists_table()` methods
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/tests/test_functions.py
Due: none

refactor(datatypes): remove direct `ir` dependency from `datatypes`
  ibis/backends/impala/tests/test_udf.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
Due: none

chore(deps): remove unnecessary pyarrow extra
  .github/workflows/ibis-backends.yml
  poetry.lock
  pyproject.toml
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
