Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

refactor(ir): actually remove `analysis.py`
  ibis/expr/analysis.py
  ibis/expr/rewrites.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

chore: remove some extra release notes information (#9086)
  docs/release_notes_generated.qmd
Due: none

refactor(ir): actually remove `analysis.py` (#9087)
  ibis/expr/analysis.py
  ibis/expr/rewrites.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Due: none

chore(deps): relock + ruff lints and pytest hook fix
  ibis/backends/__init__.py
  ibis/backends/conftest.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/examples/__init__.py
  poetry.lock
  requirements-dev.txt
Due: none

minor edits
  docs/index.qmd
Due: none

fix(deps): remove pydruid sqlalchemy dependency
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

fix(deps): remove pydruid sqlalchemy dependency (#9092)
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

updates
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-13-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

typo and fixes
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: none

updates
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-16-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

feedback
  docs/index.qmd
  docs/index.scss
Due: none

precommit
  docs/index.qmd
Due: none

try this
  docs/index.qmd
Due: none

move around scss
  docs/index.qmd
  docs/index.scss
  docs/styles.css
Due: none

cards by popular request
  docs/index.qmd
Due: none

fixes
  docs/index.qmd
Due: none

skill issue
  docs/index.qmd
Due: none

headers to footers for cards
  docs/index.qmd
Due: none

more card work
  docs/index.qmd
Due: none

rephrase
  docs/index.qmd
Due: none

+datafusion
  docs/index.qmd
Due: none

feedback
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: none

rerender
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
Due: prettier

docs: release blog for Ibis 9.0 (#8918)
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-16-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

im goated at css
  docs/index.qmd
  docs/styles.css
Due: none

fix lint
  docs/styles.css
Due: none

play w/ wording
  docs/index.qmd
Due: none

docs(website): make icon grayscale for consistency
  docs/styles.css
Due: none

build(ruff): don't use keep-runtime-typing anymore
  pyproject.toml
Due: taplo

docs(website): make icon grayscale for consistency (#9100)
  docs/styles.css
Due: none

build(ruff): don't use keep-runtime-typing anymore (#9101)
  pyproject.toml
Due: taplo

Update docs/index.qmd
  docs/index.qmd
Due: none

docs: add probabl podcast to 9.0 blog
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-16-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

docs: add probabl podcast to 9.0 blog (#9105)
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-16-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Due: prettier

very minor edit
  docs/index.qmd
Due: none

lint
  docs/index.qmd
Due: none

docs: rework the homepage (#9088)
  docs/backends_sankey.py
  docs/index.qmd
  docs/styles.css
  docs/tutorials/getting_started.qmd
Due: none

docs: remove unrendered/unused top-level getting-started.qmd document
  docs/getting-started.qmd
Due: none

fix(duckdb): clean up temporary views created from memtables during `create_table` call
  ibis/backends/duckdb/__init__.py
Due: none
