Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: disable clouds
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

chore: athena ci (#10640)
  .env
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  flake.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: fail fast on clouds
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

chore: fail fast on clouds (#10641)
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

ci: revert athena debugging changes
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
Due: prettier

ci: revert athena debugging changes (#10642)
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
Due: prettier

feat(polars): add ArrayStringJoin op (#10638)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Due: none

chore(deps): regen lockfiles
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): bump nixpkgs
  flake.lock
Due: none

chore(deps): bump pyproject-build-systems
  flake.lock
Due: none

chore(dev-deps): add a command to pull and/or build compose service images
  justfile
Due: just

chore: remove duplicate `lint` rule
  justfile
Due: just

chore(tools): quiet down the `fmt` just rule
  justfile
Due: just

test(athena): ensure that results are ordered
  ibis/backends/tests/test_generic.py
Due: none

test(athena): use a bucket that complies with the athena access policy
  ibis/backends/athena/tests/conftest.py
Due: none

test(athena): ensure that results are ordered (#10646)
  ibis/backends/athena/tests/conftest.py
  ibis/backends/tests/test_generic.py
Due: none

test(druid): xfail because druid cannot sort by anything but timestamps
  ibis/backends/tests/test_generic.py
Due: none

test(druid): xfail because druid cannot sort by anything but timestamps (#10647)
  ibis/backends/tests/test_generic.py
Due: none

chore(deps): bump nix flakes and regen lockfiles
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): bump nix flakes and regenerate lockfiles (#10649)
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

chore(athena): reuse existing connection when setting up data fixtures
  ibis/backends/athena/tests/conftest.py
Due: none

chore(athena): clean up deps
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

chore(athena): reuse existing connection when setting up data fixtures (#10650)
  ibis/backends/athena/tests/conftest.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

feat(api): grouping sets/rollup/cube
  .codespellrc
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/18.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/05.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/80.sql
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_aggregate_arg_names/repr.txt
  ibis/expr/tests/snapshots/test_format/test_complex_repr/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_table/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_aggregation.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
Due: none

test(grouping-sets): add very basic backend tests
  ibis/backends/tests/test_aggregation.py
Due: none

test(grouping-sets): add empty table grouping
  ibis/backends/tests/test_aggregation.py
Due: none

chore: tighten up test for empty group by
  ibis/backends/tests/test_aggregation.py
Due: none

Use `psycopg` rather than `psycopg2` for Postgres
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_struct.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo

Use `psycopg` rather than `psycopg2` for Risingwave
  .github/renovate.json
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo

Update typing.py
  ibis/common/typing.py
Due: none

Create test_typing.py
  ibis/tests/test_typing.py
Due: none

Update test_typing.py
  ibis/tests/test_typing.py
Due: none

chore(deps): relock
  requirements-dev.txt
  uv.lock
Due: none

test(polars): enable xpassing test
  ibis/backends/tests/test_generic.py
Due: none

style(ruff): ruff fixes
  docs/_renderer.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/tpc/conftest.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_pretty_repr.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
