Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

refactor(sqlite): move sqlite3 imports local to avoid pyodide import issues with non-sqlite backends (#11500)
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sqlite/__init__.py
Due: none

ci: run sqlite3 import test in a separate job instead of as a unit test
  .github/workflows/ibis-main.yml
  ibis/backends/duckdb/tests/test_client.py
Due: prettier

ci: run sqlite3 import test in a separate job instead of as a unit test (#11501)
  .github/workflows/ibis-main.yml
  ibis/backends/duckdb/tests/test_client.py
Due: prettier

chore(release): 10.7.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
  uv.lock
Due: taplo

Notes added by 'git notes add'
  188b100a21d1a79cdf050c8eb05f87504a12332b
Due: none

chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): bump and relock (#11502)
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

docs: improve docstrings for temporal Values
  ibis/expr/types/temporal.py
Due: none

docs: improve docstrings for temporal Values (#11505)
  ibis/expr/types/temporal.py
Due: none

build: inline the bump_version.py script into the justfile
  ci/release/bump_version.py
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo, just

feat: allow dtype(Union[T, None])
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/tests/expr/test_udf.py
Due: none

chore: use Optional on python 3.9
  ibis/tests/expr/test_udf.py
Due: none

docs: add join method docstring templates for various join types
  ibis/expr/types/relations.py
Due: none

chore: use more robust way of checking for union type versus optional
  ibis/expr/datatypes/core.py
Due: none

build: inline the bump_version.py script into the justfile (#11504)
  ci/release/bump_version.py
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo, just

docs: add join method docstring templates for various join types (#11507)
  ibis/expr/types/relations.py
Due: none

fix(pyspark): only register json unwraps if they are being used
  ibis/backends/pyspark/__init__.py
  nix/pyproject-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore: fix returnType and add test annotations
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_vectorized_udf.py
Due: none

chore: fix more spark udfs
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
Due: none

chore: fix internal UnionType for python 3.9
  ibis/common/typing.py
Due: none

chore: add tests for other spellings of `int | None`
  ibis/expr/datatypes/tests/test_core.py
Due: none

chore(deps): bump and relock (#11510)
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

feat(polars): support is_in queries from uncorrelated tables
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
Due: none

fix(clickhouse): return the correct type from `InSubquery` operations
  ibis/backends/sql/compilers/clickhouse.py
Due: none

test(clickhouse): update snapshots for required isin casting
  ibis/backends/clickhouse/tests/snapshots/test_select/test_array_join_in_subquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/clickhouse/out.sql
Due: none

feat(datatypes): allow dtype(Union[T, None]) (#11506)
  ibis/common/typing.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/tests/expr/test_udf.py
Due: none

feat(datatypes): add `from_sqlglot` method to produce an Ibis schema from SQLGlot
  ibis/backends/sql/datatypes.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Due: none

feat(datatypes): add `Schema.from_sqlglot` method to produce an Ibis schema from SQLGlot (#11351)
  ibis/backends/sql/datatypes.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Due: none

ci(pyspark): test against latest iceberg jar
  .github/workflows/ibis-backends.yml
  compose.yaml
  docker/spark-connect/conf.properties
  justfile
  nix/pyproject-overrides.nix
Due: prettier, just, nixpkgs-fmt, statix, deadnix

chore(release): 10.8.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
  uv.lock
Due: taplo

Notes added by 'git notes add'
  d9402b46ea9bd9279eaaf7f304fe3331a00a6cd7
Due: none

fix(pyspark): only register json unwraps if they are being used (#11503)
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  nix/pyproject-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(api): remove deprecated top-level `case` function
  ibis/backends/tests/test_conditionals.py
  ibis/expr/api.py
Due: none

refactor(api): remove deprecated `IntegerValue.to_timestamp` method
  ibis/expr/types/numeric.py
Due: none

refactor(api): remove deprecated `IntegerValue.to_interval` method
  ibis/expr/types/numeric.py
Due: none

refactor(api): remove deprecated `String.to_timestamp` method
  ibis/expr/types/strings.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
