Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

chore: remove `mike` from pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

chore: add `--fix` flag to `ruff` pre-commit
  .pre-commit-config.yaml
Due: prettier

docs: add redirects for common old pages
  docs/blog/ibis-version-4.0.0-release.md
  gen_redirects.py
  mkdocs.yml
Due: prettier

fix(polars): use metric name in aggregate output to dedupe columns
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

docs(io): update README.md to recommend installing duckdb as default backend
  README.md
Due: prettier

ci: remove autorebase job
  .github/workflows/auto-rebase.yml
Due: prettier

fix(backend): provide useful error if default backend is unavailable
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/config.py
Due: none

fix(io): add `read_parquet` and `read_csv` to base backend mixin
  ibis/backends/base/__init__.py
Due: none

docs: drop docs versioning
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  README.md
  docs/CONTRIBUTING.md
  docs/blog/ibis-version-4.0.0-release.md
  mkdocs.yml
Due: prettier

docs: add CNAME file to mkdocs source
  docs/CNAME
Due: none

refactor(datatype): remove Category.to_integer_type() method
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/tests/test_register.py
  ibis/common/exceptions.py
  ibis/expr/datatypes/core.py
Due: none

docs(streamlit): fix url for support matrix
  docs/backends/app/backend_info_app.py
Due: none

ci: renable nix builds
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

fix(polars): properly infer polars categorical dtype
  ibis/backends/polars/datatypes.py
  ibis/backends/polars/tests/test_datatypes.py
Due: none

test(duckdb): isolate tests with `subprocess`
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  nix/ibis.nix
Due: nixpkgs-fmt, statix

feat(dask/pandas): raise OperationNotDefinedError exc for not defined operations
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/decimal.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/datatypes.py
  ibis/backends/pyarrow/datatypes.py
  ibis/backends/tests/test_generic.py
Due: none

feat(postgres): fix interval literal
  ibis/backends/postgres/registry.py
Due: none

test(backends): refactor test_generic.test_typeof test
  ibis/backends/postgres/tests/test_nettypes.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_uuid.py
Due: none

feat(clickhouse): implement ops.StringAscii
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_string.py
Due: none

feat(clickhouse): implement ops.RandomScalar
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(clickhouse): implement ops.Capitalize
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_string.py
Due: none

test(clickhouse): enable test_backend_specific_numerics test
  ibis/backends/tests/base.py
  ibis/backends/tests/test_numeric.py
Due: none
