Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

chore(deps): lock file maintenance
  poetry.lock
  requirements.txt
Due: none

chore(polars): refactor for 0.16
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

chore(nix): clean up disabled wheels
  poetry-overrides.nix
Due: nixpkgs-fmt, statix

feat(pyspark): add support for `ops.ArgMin` and `ops.ArgMax`
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

test(argmin/argmax): fix ambiguous test
  ibis/backends/tests/test_aggregation.py
Due: none

style(bigquery): revert ruff yoda conditions changes
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/tests/sql/test_compiler.py
  pyproject.toml
Due: prettier

ci: disable `--fix` to avoid new rules changing style and breaking things
  .pre-commit-config.yaml
Due: prettier

feat: change Rich repr of dtypes from blue to dim
  ibis/expr/types/pretty.py
Due: none

feat(snowflake): implement remaining map functions
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_map.py
Due: none

feat(sqlalchemy): generalize unnest to work on backends that don't support it
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
  ibis/backends/trino/compiler.py
  ibis/backends/trino/registry.py
  ibis/expr/analysis.py
Due: none

fix(snowflake): make `array_agg` preserve nulls
  ibis/backends/snowflake/registry.py
Due: none

docs: improve/update pandas walkthrough
  docs/ibis-for-pandas-users.ipynb
Due: none

docs: rerender ci-analysis notebook with new table header colors
  docs/blog/rendered/ci-analysis.ipynb
Due: none

feat(impala): implement ops.Clip
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/bigquery/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_numeric.py
Due: none

chore(dev): remove dead warnings
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/postgres/tests/test_postgis.py
  pyproject.toml
Due: prettier

fix(snowflake): use `_flatten` to avoid overriding unrelated function in other backends
  ibis/backends/snowflake/registry.py
Due: none

docs(blob): blog on ibis + substrait + duckdb
  docs/SUMMARY.md
  docs/blog/ibis_substrait_to_duckdb.md
Due: prettier

docs(tutorial): remove impala from sql tutorial
  docs/ibis-for-sql-programmers.ipynb
Due: none

fix(imports): remove top-level import of sqlalchemy from base backend
  ibis/backends/base/sql/__init__.py
Due: none

style: black v23.1.0 fixes
  ibis/backends/pandas/execution/window.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/tests/test_register.py
  ibis/backends/tests/test_temporal.py
  ibis/common/exceptions.py
  ibis/tests/sql/test_sqlalchemy.py
Due: none
