Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

test(flink): enable xpassing memtable cleanup test
  ibis/backends/tests/test_client.py
Due: none

chore(flink): provide flink memtable creator with schema
  ibis/backends/flink/__init__.py
Due: none

test(snowflake): fix table listing test
  ibis/backends/snowflake/tests/test_client.py
Due: none

fix(bigquery): implement more precise memtable registration
  ibis/backends/bigquery/__init__.py
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

test(pyspark): allow clean up of remote spark
  ibis/backends/pyspark/__init__.py
Due: none

test(pyspark): enable logging config to get rid of atrocious log spam
  compose.yaml
Due: prettier

test(pyspark): test latest iceberg version
  compose.yaml
  docker/spark-connect/conf.properties
  justfile
  poetry-overrides.nix
Due: prettier, just, nixpkgs-fmt, statix, deadnix

fix: make memtable cleanup tests work (#10283)
  compose.yaml
  docker/spark-connect/conf.properties
  ibis/backends/bigquery/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  justfile
  poetry-overrides.nix
Due: prettier, just, nixpkgs-fmt, statix, deadnix

feat(api): add `StringValue.to_time` method for converting strings to times
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/operations/temporal.py
  ibis/expr/types/strings.py
Due: none

ci(nix): add 3.13 testing to nix setup
  flake.nix
  nix/overlay.nix
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

ci(nix): enable 3.13 in CI
  .github/workflows/nix.yml
Due: prettier

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Due: none

perf(clickhouse): avoid unnecessary construction of a pyarrow table when inserting a pandas dataframe
  ibis/backends/clickhouse/__init__.py
Due: none

test(clickhouse): add test case for inserting a pyarrow table
  ibis/backends/clickhouse/tests/test_client.py
Due: none

perf(clickhouse): avoid unnecessary construction of a pyarrow table when inserting a pandas dataframe (#10287)
  ibis/backends/clickhouse/__init__.py
Due: none

test(clickhouse): add test case for inserting a pyarrow table (#10288)
  ibis/backends/clickhouse/tests/test_client.py
Due: none

test(mssql): allow `temp=None`
  ibis/backends/mssql/tests/test_client.py
Due: none

fix(mssql): allow `temp=None`
  ibis/backends/mssql/__init__.py
Due: none

fix(insert): user can specify insert table in specified database
  ibis/backends/sql/__init__.py
  ibis/backends/tests/test_client.py
Due: none

test(fixture): ensure that database clean up happens regardless of what happens in the yielded-to function
  ibis/backends/tests/test_client.py
Due: none

fix(clickhouse): remove completely bogus non-existent exception usage
  ibis/backends/clickhouse/__init__.py
Due: none

fixup! fix(clickhouse): remove completely bogus non-existent exception usage
  ibis/backends/clickhouse/__init__.py
Due: none

test: remove unnecessary `default_backend` monkeypatch
  ibis/backends/tests/test_client.py
Due: none

test(clickhouse): add test for invalid catalog argument
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Due: none

test(clickhouse): clean up unconditionally
  ibis/backends/tests/test_client.py
Due: none

test(flink): always use `temp=True` for `flink`
  ibis/backends/tests/test_client.py
Due: none

test: do not use `None` for `temp` argument when testing insert
  ibis/backends/tests/test_client.py
Due: none

docs: update ci-analysis post
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-21-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/posts/ci-analysis/index.qmd
Due: prettier

fix(mssql): allow `temp=None` (#10289)
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
Due: none

chore: try using the entire table path for flink inserts
  ibis/backends/flink/__init__.py
Due: none

docs: update ci-analysis post (#10290)
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-21-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/posts/ci-analysis/index.qmd
Due: prettier

feat(api): move from .case() to .cases()
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/ci-analysis/index.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_case_in_projection/decompiled.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/logical.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_case.py
  ibis/tests/expr/test_value_exprs.py
Due: prettier

feat(api): move from .case() to .cases() (#9096)
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_quarto.yml
  docs/posts/ci-analysis/index.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_case_in_projection/decompiled.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/logical.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_case.py
  ibis/tests/expr/test_value_exprs.py
Due: prettier

test(snowflake): fix snowflake test
  ibis/backends/snowflake/tests/test_udf.py
Due: none

test(snowflake): fix snowflake test (#10292)
  ibis/backends/snowflake/tests/test_udf.py
Due: none

test(memtables): use a unique name in each memtable test
  ibis/backends/tests/test_client.py
Due: none

test(memtables): use a unique name in each memtable test (#10297)
  ibis/backends/tests/test_client.py
Due: none

chore(deps): bump nix flakes; update `poetry.lock` and `requirements-dev.txt`; clean up `.gitattributes`
  .gitattributes
  flake.lock
  poetry.lock
  requirements-dev.txt
Due: none

feat(api): add `to_geo` methods for writing geospatial output
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_geospatial.py
Due: none

chore(deps): bump nix flakes and update lockfile (#10298)
  .gitattributes
  flake.lock
  poetry.lock
  requirements-dev.txt
Due: none
