Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: move to nicer CLIs for MySQL and PostgreSQL
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

fix(ci): use mariadb-admin instead of mysqladmin in mariadb 11.x
  docker-compose.yml
Due: prettier

fix(deps): prevent vulnerable snowflake-connector-python versions
  poetry.lock
  pyproject.toml
Due: prettier

docs(api): show source for classes to allow dunder method inspection
  docs/api/expressions/collections.md
  docs/api/expressions/generic.md
  docs/api/expressions/geospatial.md
  docs/api/expressions/index.md
  docs/api/expressions/numeric.md
  docs/api/expressions/strings.md
  docs/api/expressions/tables.md
  docs/api/expressions/timestamps.md
Due: prettier

docs(api): hide dunder methods in API docs
  mkdocs.yml
Due: prettier

docs(api): ensure all top-level items have a description
  docs/api/expressions/top_level.md
  ibis/expr/api.py
  ibis/expr/types/numeric.py
Due: prettier

docs: move API docs to top-level
  docs/SUMMARY.md
Due: prettier

chore(deps): allow wider range of `deltalake` versions
  poetry.lock
  pyproject.toml
Due: prettier

chore: bring some top level imports necessary for extracting type hints
  ibis/backends/tests/test_api.py
  ibis/common/tests/test_annotations.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/format.py
  ibis/tests/expr/test_format.py
Due: none

ci: do not check mkdocs for older versions used in deployments
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci(docs): use http 1 to avoid bizarre http 2 issues when pushing to gh-pages
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore(deps): relock
  poetry.lock
  requirements.txt
Due: none

test: remove use of specific now comparisons in tests
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_temporal.py
Due: none

perf(imports): speed up checking for geospatial support
  ibis/backends/base/sql/alchemy/geospatial.py
Due: none

build: use pep440 for dynamic versioning
  pyproject.toml
Due: prettier

ci: add weekly pre-release action
  .github/workflows/pre-release.yml
Due: prettier

ci: install poetry versioning plugin in pre-release action
  .github/workflows/pre-release.yml
Due: prettier

ci: clean up pre-release verison detection
  .github/workflows/pre-release.yml
Due: prettier

ci: publish pre-release dists to pypi
  .github/workflows/pre-release.yml
Due: prettier

feat: implement read_delta for datafusion
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Due: none

ci: bump pre-release to next patch version to ensure sorting on pypi
  pyproject.toml
Due: prettier

revert ci(deps): pin ruff version to avoid lumping lint updates into lock file update PRs
  .github/renovate.json
  pyproject.toml
Due: prettier

chore(deps): relock
  poetry.lock
Due: none

test(bigquery): make `list_tables` test using a guaranteed subset of tables
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

test(biqguery): make scope of `test_overwrite` temporary tables more obvious
  ibis/backends/tests/test_client.py
Due: none

feat: implement try_cast for a few backends
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/generic.py
  ibis/expr/types/generic.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
