Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: generate redirects on post-render
  docs/_quarto.yml
  gen_redirects.py
Due: prettier

chore: clean up just commands
  .github/workflows/ibis-docs-lint.yml
  justfile
Due: prettier, just

chore: site id
  .prettierignore
  .yamllint.yaml
  docs/_publish.yml
Due: prettier

chore: use ibis._
  ibis/expr/api.py
Due: none

chore: typo
  docs/_quarto.yml
Due: prettier

chore: remove extension
  docs/_extensions/quarto-ext/include-code-files/_extension.yml
  docs/_extensions/quarto-ext/include-code-files/include-code-files.lua
  docs/how-to/visualization/streamlit.qmd
  docs/support_matrix.qmd
Due: prettier

chore: rewrite selectors
  docs/posts/old/selectors.qmd
  docs/posts/selectors/index.qmd
Due: none

chore: fix gen_matrix.py dir
  gen_matrix.py
Due: none

chore: freeze selectors post results
  docs/_freeze/posts/selectors/index/execute-results/html.json
Due: prettier

chore: fix broken links
  docs/tutorials/getting_started.qmd
  ibis/selectors.py
Due: none

ci: checkout code in quarto docs push
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: specify path for `just docs-deploy`
  justfile
Due: just

chore: fix admonitions
  ibis/expr/types/generic.py
  ibis/expr/types/maps.py
Due: none

chore: bump quartodoc
  poetry.lock
  requirements-dev.txt
Due: none

chore: rewrite ffill/bfill post with quarto
  .prettierignore
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  docs/posts/old/ffill-and-bfill-using-ibis.qmd
Due: prettier

chore: rewrite ibis-examples post with quarto
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-examples/tab_complete.png
  docs/posts/old/ibis-examples.qmd
Due: prettier

chore: rewrite ibis-to-file post with quarto
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/posts/ibis-to-file/index.qmd
Due: prettier

chore: rewrite ibis_substrait_to_duckdb post to quarto
  .gitignore
  docs/posts/ibis_substrait_to_duckdb/index.qmd
Due: none

chore: rewrite Ibis-version-3.0.0-release post to quarto
  docs/posts/Ibis-version-3.0.0-release/index.qmd
  docs/posts/Ibis-version-3.0.0-release/matrix.png
  docs/posts/Ibis-version-3.0.0-release/repr.png
Due: none

chore: rewrite Ibis-version-3.1.0-release post to quarto
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/old/Ibis-version-3.1.0-release.qmd
Due: none

chore: rewrite ibis-version-4.1.0-release post to quarto
  docs/posts/ibis-version-4.0.0-release/index.qmd
Due: none

chore: rewrite torch post to quarto
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/old/rendered/torch.ipynb
  docs/posts/torch/index.qmd
  docs/posts/torch/model.py
Due: prettier

chore: rewrite ibis-version-6.0.0-release post to quarto
  .gitignore
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/old/rendered/ibis-version-6.0.0-release.ipynb
Due: prettier

chore: rewrite campaign-finance post to quarto
  .gitignore
  docs/.gitignore
  docs/_freeze/posts/campaign-finance/index/execute-results/html.json
  docs/posts/campaign-finance/index.qmd
  docs/posts/old/rendered/campaign-finance.ipynb
Due: prettier

chore: rewrite ci-analysis post to quarto
  .pre-commit-config.yaml
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/posts/ci-analysis/index.qmd
  docs/posts/old/rendered/ci-analysis.ipynb
  pyproject.toml
Due: prettier

chore: port elementwise and reduction notebooks to quarto
  docs/how-to/extending/elementwise.ipynb
  docs/how-to/extending/elementwise.qmd
  docs/how-to/extending/reduction.ipynb
  docs/how-to/extending/reduction.qmd
Due: none

chore: remove remnants of ipynb
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  docs/.gitignore
  pyproject.toml
Due: prettier

docs: draft posts to draft and very minor edits
  docs/_quarto.yml
  docs/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/website-to-quarto/index.qmd
Due: prettier

docs: community to contriute
  docs/_quarto.yml
  docs/community.qmd
  docs/community/contribute/01_environment.md
  docs/community/contribute/02_workflow.md
  docs/community/contribute/03_style.md
  docs/community/contribute/05_maintainers_guide.md
  docs/community/contribute/index.md
  docs/contribute/01_environment.md
  docs/contribute/02_workflow.md
  docs/contribute/03_style.md
  docs/contribute/05_maintainers_guide.md
  docs/contribute/index.md
Due: prettier

docs(quarto): make blog post titles visible in light mode
  docs/_quarto.yml
  docs/styles.css
  docs/theme-light.scss
Due: prettier

chore: ignore generated notebooks and files
  docs/.gitignore
Due: none

docs(blog): embed the torch youtube video directly
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/torch/index.qmd
Due: prettier

ci(docs): netlify deploy previews
  .github/workflows/ibis-docs-lint.yml
Due: prettier

style: remove braces
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: give the deployment write permissions for deployments
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): add tags to blog posts
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/posts/campaign-finance/index.qmd
  docs/posts/ci-analysis/index.qmd
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-to-file/index.qmd
  docs/posts/ibis_substrait_to_duckdb/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/torch/index.qmd
Due: prettier

chore: remove deploy previews for now
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): snowflake io
  .pre-commit-config.yaml
  docs/.gitignore
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: wording suggestions
  docs/posts/snowflake-io/index.qmd
Due: none

chore: gen_matrix in pre-render phase
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
