Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "style: pre-commit.ci autoupdate"
  skip:
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - nix-linter
default_stages:
  - commit
repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: _py310\.py$
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        exclude: _py310\.py$
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        exclude: setup.py
        entry: pyupgrade --py38-plus
        types:
          - python
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        files: \.sh$
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        files: \.sh$
        types:
          - file
        types_or:
          - file
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        exclude: nix/sources\.nix
        files: \.nix$
        types:
          - file
        types_or:
          - file
      - id: nix-linter
        name: nix-linter
        language: system
        entry: nix-linter --check="no-FreeLetInFunc"
        exclude: nix/sources\.nix
        files: \.nix$
        types:
          - file
        types_or:
          - file

ci: try unpinning duckdb-engine in tpch-queries
  .github/workflows/ibis-tpch-queries.yml
Due: prettier

chore: add `just view-changelog` command
  justfile
Due: just

refactor(impala): replace custom pooling with sqlalchemy QueuePool
  ibis/backends/impala/client.py
  ibis/backends/impala/pandas_interop.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
  pyproject.toml
Due: prettier

refactor: remove deprecated functions and classes
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
  ibis/config.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/expr/signature.py
  ibis/expr/types/analytic.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_analytics.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_signature.py
  ibis/tests/expr/test_table.py
Due: none

refactor(ir): remove node.root_tables() and unify parent table handling
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/analysis.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/vectorized.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/expr/types/analytic.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/test_compiler.py
  pyproject.toml
  setup.py
Due: prettier

chore(poetry): add lock command to justfile and update poetry lockfile
  ibis/expr/operations/structs.py
  justfile
  poetry.lock
  requirements.txt
  setup.py
Due: just

chore: bump commitlint footer max length
  .commitlintrc.json
Due: prettier

refactor(ir): remove lin.lineage() since it's not used anywhere
  ibis/expr/lineage.py
  ibis/tests/expr/test_lineage.py
Due: none

refactor(ir): move random() to api.py
  ibis/expr/api.py
  ibis/expr/random.py
  ibis/expr/types/category.py
Due: none

refactor(common): move Parameter and Signature to validators.py
  ibis/common/grounds.py
  ibis/common/tests/test_validators.py
  ibis/common/validators.py
Due: none

refactor(ir): remove DestructValue expressions
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/structs.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/structs.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/udf.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/structs.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_format.py
  ibis/udf/vectorized.py
Due: none

chore: fix spurious benchmark
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

refactor(ir): remove sch.HasSchema and introduce ops.Projection base class for ops.Selection
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/expr/analysis.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_format.py
Due: none

test: add test for `strftime` on `now`
  ibis/backends/tests/test_temporal.py
Due: none

test(sqlite): enable test_timestamp_comparison_filter case
  ibis/backends/tests/test_temporal.py
Due: none

feat(impala): implement `strftime`
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(pandas): use localized UTC time for `now` operation
  ibis/backends/pandas/execution/temporal.py
Due: none

refactor(ir): resolve circular imports so operations can be globally imported for types
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/temporal.py
  ibis/expr/types/analytic.py
  ibis/expr/types/arrays.py
  ibis/expr/types/binary.py
  ibis/expr/types/generic.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/logical.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/sortkeys.py
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/expr/visualize.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_udf.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
Due: none

refactor(ir): remove ops.AggregateSelection in favor of an.simplify_aggregation
  ibis/expr/analysis.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
Due: none

refactor(ir): unify aggregation construction to use AggregateSelection
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
Due: none

refactor(ir): simplify SortKey construction using rules
  ibis/common/validators.py
  ibis/expr/api.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  ibis/expr/window.py
Due: none

refactor(rules): generalize field referencing using rlz.ref()
  ibis/backends/pyspark/compiler.py
  ibis/common/tests/test_validators.py
  ibis/common/validators.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/rules.py
  ibis/expr/window.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_window_functions.py
Due: none

refactor(ir): remove Node.inputs since it is an implementation detail of the pandas backend
  ibis/backends/dask/core.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/timecontext.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/vectorized.py
Due: none

refactor(ir): remove node.blocks() in favor of more explicit type handling
  ibis/expr/analysis.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
Due: none

chore: move `assert` to after the sqlalchemy clause traversal
  ibis/backends/base/sql/alchemy/query_builder.py
Due: none

refactor(ir): split out table count into `CountStar` operation
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/logical.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_non_tabular_results.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Due: none

feat(ir): support python 3.10 pattern matching on Annotable nodes
  .pre-commit-config.yaml
  ibis/common/grounds.py
  ibis/common/tests/conftest.py
  ibis/common/tests/test_grounds_py310.py
  ibis/expr/operations/core.py
  ibis/tests/expr/conftest.py
  ibis/tests/expr/test_operations_py310.py
Due: prettier

refactor(ir): `ops.List` -> `ops.NodeList`
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/tests/expr/test_operations_py310.py
Due: none

chore: poetry relock
  poetry.lock
Due: none

feat(ir): experimental egraph integration
  ibis/common/grounds.py
  ibis/expr/lineage.py
  ibis/expr/operations/core.py
  ibis/util.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Due: prettier

test(matchpy): covert matchpy integration with the first set of tests
  ibis/common/grounds.py
  ibis/expr/operations/core.py
  ibis/tests/expr/test_matching.py
Due: none

feature(ir): add Matchable ground class to integrate with matchpy
  ibis/common/grounds.py
  ibis/common/tests/test_grounds_py310.py
  ibis/expr/operations/core.py
  ibis/expr/operations/numeric.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Due: prettier

chore(deps): fix nix builds
  poetry-overrides.nix
  poetry.lock
  requirements.txt
Due: none

chore(dev-tools): remove postgres jit from image
  docker/postgres/Dockerfile
Due: none
