Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

test(clickhouse): avoid running tests that depend on `ibis_testing` existing
  ibis/backends/tests/test_client.py
Due: none

fix(sqlalchemy): quote struct field names
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
Due: none

fix(postgres): ensure that `alias` method overwrites view even if types are different
  ibis/backends/postgres/__init__.py
  ibis/backends/tests/test_dot_sql.py
Due: none

chore(postgres): ensure that metadata temp views are cleaned up regardless of success or failure
  ibis/backends/postgres/__init__.py
Due: none

chore(deps): relock
  poetry.lock
  requirements.txt
Due: none

chore: fixup ruff lints
  ibis/backends/tests/base.py
  ibis/common/tests/test_patterns.py
  ibis/expr/datatypes/tests/test_value.py
  poetry.lock
Due: none

test(bigquery): update generated code from sqlglot update
  ibis/backends/tests/snapshots/test_string/test_rlike/bigquery/out.sql
Due: none

chore(deps): relock
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

chore(deps): disallow snowflake-connector-python 3.0.4 until wheels are shipped
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

feat(sql): allow any SQL dialect accepted by sqlgllot in `Table.sql` and `Backend.sql`
  ibis/__init__.py
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_dot_sql.py
  ibis/expr/types/relations.py
Due: none

feat(bigquery): add client and storage_client params to connect
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/system/conftest.py
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

fix(postgres): ensure that backend still works when create/drop first/last aggregates fails
  ci/schema/postgresql.sql
  docker/postgres/Dockerfile
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
Due: none

chore(oracle): remove error suppression from ci data load
  ibis/backends/oracle/tests/conftest.py
Due: none

ci(deps): auto label various dependency updates
  .github/renovate.json
Due: prettier

ci(deps): pin ruff version to avoid lumping lint updates into lock file update PRs
  .github/renovate.json
  poetry.lock
  pyproject.toml
Due: prettier

ci(snowflake): fix testconf to not assume that the username equals the schema name
  ibis/backends/snowflake/tests/conftest.py
Due: none

ci(snowflake): fix snapshot
  ibis/backends/tests/snapshots/test_string/test_rlike/snowflake/out.sql
Due: none

chore(versioning): use poetry dynamic versioning as build backend
  pyproject.toml
Due: prettier

chore(build): bypass pdv with nix tests
  nix/ibis.nix
Due: nixpkgs-fmt, statix, deadnix

docs: de-template remaining backends (except pandas, dask, impala)
  docs/backends/ClickHouse.md
  docs/backends/Druid.md
  docs/backends/DuckDB.md
  docs/backends/MSSQL.md
  docs/backends/MySQL.md
  docs/backends/Oracle.md
  docs/backends/PostgreSQL.md
  docs/backends/SQLite.md
  docs/backends/Trino.md
Due: prettier

docs(file support): add badge and docstrings for `read_*` methods
  docs/backends/BigQuery.md
  docs/backends/Datafusion.md
  docs/backends/DuckDB.md
  docs/backends/Polars.md
  docs/backends/PySpark.md
  docs/backends/Snowflake.md
  docs/backends/badges.md
  docs/how_to/duckdb_register.md
  mkdocs.yml
Due: prettier
