Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

maybe fix import
  ibis/formats/pyarrow.py
Due: none

maybe fix tests
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Due: none

maybe fix skip
  ibis/formats/tests/test_pyarrow.py
Due: none

format
  ibis/formats/tests/test_pyarrow.py
Due: none

tests
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Due: none

remove non-skip import
  ibis/formats/tests/test_pyarrow.py
Due: none

check roundtrip
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Due: none

spelling
  ibis/formats/pyarrow.py
Due: none

chore(deps): add explicit pyproj dependency
  pyproject.toml
Due: taplo

chore: relock
  poetry.lock
Due: none

chore: revert test changes
  docs/posts/zulip/index.qmd
  docs/why.qmd
Due: none

ci: try to fix preview links in gha (#9578)
  .github/workflows/docs-preview.yml
Due: prettier

chore(deps): bump nixpkgs and poetry2nix
  flake.lock
Due: none

ci: fix iteration
  .github/workflows/docs-preview.yml
Due: prettier

chore: test links (#9581)
  .github/workflows/docs-preview.yml
Due: prettier

chore: try using outputs instead of envars
  .github/workflows/docs-preview.yml
Due: prettier

chore: test links (#9583)
  .github/workflows/docs-preview.yml
Due: prettier

chore: quote links in preview; move steps up
  .github/workflows/docs-preview.yml
Due: prettier

chore: fix quotes in links (#9584)
  .github/workflows/docs-preview.yml
Due: prettier

chore: use a file for the commen to avoid output formatting nonsense
  .github/workflows/docs-preview.yml
Due: prettier

chore: test docs preview links (#9585)
  .github/workflows/docs-preview.yml
Due: prettier

chore: test
  docs/posts/zulip/index.qmd
  docs/why.qmd
Due: none

chore(deps): bump nixpkgs and poetry2nix (#9582)
  flake.lock
Due: none

feat(geospatial): use geoarrow extension types when returning geometry columns as pyarrow (#9549)
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

-
  ibis/backends/bigquery/__init__.py
Due: none

add back import statement
  ibis/backends/bigquery/__init__.py
Due: none

feat(datafusion): datafusion enhancements (#9544)
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
Due: none

docs: update link to the flink example repo (#9553)
  docs/_freeze/posts/flink-announcement/index/execute-results/html.json
  docs/_freeze/posts/unified-stream-batch/index/execute-results/html.json
  docs/posts/flink-announcement/index.qmd
  docs/posts/unified-stream-batch/index.qmd
Due: prettier

chore(deps): relock
  requirements-dev.txt
Due: none

chore(lint): fix ruff lints around type checking
  ibis/backends/bigquery/tests/unit/udf/test_find.py
  ibis/backends/bigquery/udf/rewrite.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/pyspark/__init__.py
  ibis/common/tests/test_collections.py
  ibis/common/tests/test_patterns.py
  ibis/tests/expr/test_sql_builtins.py
Due: none

test(clickhouse): setup tpc data
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/tests/tpc/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/13.sql
  ibis/backends/tests/tpc/queries/clickhouse/h/19.sql
Due: none

test(duckdb): xfail shapely 2.0.5 union_all test
  ibis/backends/duckdb/tests/test_geospatial.py
Due: none

chore(justfile): add check to justfile docs preview commands
  justfile
Due: just

test(clickhouse): add TPC-H and TPC-DS queries (#9508)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/tests/tpc/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/13.sql
  ibis/backends/tests/tpc/queries/clickhouse/h/19.sql
Due: none

chore(justfile): add check to justfile docs preview commands (#9593)
  justfile
Due: just

fix(join): dereference literals in values of JoinChain
  ibis/expr/rewrites.py
Due: none

chore(test): consolidate ifelse() and case() tests (#9560)
  ibis/backends/dask/tests/test_operations.py
  ibis/backends/pandas/tests/test_operations.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_generic.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
