Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: ignore generated notebooks and files
  docs/.gitignore
Due: none

docs(blog): embed the torch youtube video directly
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/torch/index.qmd
Due: prettier

ci(docs): netlify deploy previews
  .github/workflows/ibis-docs-lint.yml
Due: prettier

style: remove braces
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: give the deployment write permissions for deployments
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): add tags to blog posts
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/posts/campaign-finance/index.qmd
  docs/posts/ci-analysis/index.qmd
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-to-file/index.qmd
  docs/posts/ibis_substrait_to_duckdb/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/torch/index.qmd
Due: prettier

chore: remove deploy previews for now
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): snowflake io
  .pre-commit-config.yaml
  docs/.gitignore
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: wording suggestions
  docs/posts/snowflake-io/index.qmd
Due: none

chore: gen_matrix in pre-render phase
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: fix warnings about invalid annotation number
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: use to_pandas in altair
  docs/index.qmd
Due: none

chore: fix annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove broken link
  docs/_code/input_output_penguins.qmd
Due: none

chore: fix install sdk broken link
  docs/backends/bigquery.qmd
Due: none

chore: remove extra line at the top of internals
  docs/concepts/internals.qmd
Due: none

chore: remove shouting from compilation internals section
  docs/concepts/internals.qmd
Due: none

chore: code format other libraries
  docs/_code/input_output_penguins.qmd
Due: none

chore: fix snowflake rendering
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
Due: prettier

chore: bump quarto version and use shipped version of pandoc
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

docs: update link to 'example repository' instead of 'tutorial'
  docs/tutorials/getting_started.qmd
Due: none

docs: some how-to updates
  docs/_quarto.yml
  docs/how-to/analytics/basics.qmd
  docs/how-to/analytics/chain_expressions.qmd
  docs/how-to/external-dataframes/memtable_join.qmd
  docs/how-to/input-output/multiple-backends.qmd
Due: prettier

docs: major home page refactor
  docs/index.qmd
Due: none

docs: why ibis and other edits
  .gitattributes
  .pre-commit-config.yaml
  docs/_quarto.yml
  docs/concepts/frontend.qmd
  docs/concepts/internals.qmd
  docs/portability.excalidraw
  docs/portability.png
  docs/what.qmd
  docs/why.qmd
Due: prettier

chore: wrap and edits
  docs/why.qmd
Due: none

chore: remove unnecessary global pre-render
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: globally set code-annotations to hover
  docs/_quarto.yml
  docs/backends/sqlite.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/snowflake-io/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: prettier

chore: fix annotations on 6.1.0 release
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: syntax error
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: rerender
  docs/_freeze/posts/campaign-finance/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
Due: prettier

chore: remove the need for all of jupyter
  nix/quarto/default.nix
  pyproject.toml
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: add product links to the various backends
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

chore: bring impala back into the backend fold
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
Due: none

chore: fix product links
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

docs(quarto): add quartodoc interlinks filter
  docs/_quarto.yml
  justfile
Due: prettier, just

chore: fix yaml linting error
  docs/_quarto.yml
Due: prettier

docs(quarto): override api code blocks with custom renderer
  docs/_quarto.yml
  docs/_renderer.py
Due: prettier

docs(quart): remove temporary eval false setting
  docs/_quarto.yml
Due: prettier

chore: add interlinks quarto extension
  docs/_extensions/machow/interlinks/.gitignore
  docs/_extensions/machow/interlinks/_extension.yml
  docs/_extensions/machow/interlinks/interlinks.lua
Due: prettier
