Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

feat(bigquery): add to_pyarrow method
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Due: none

fix(set ops): raise if no tables passed to set operations
  ibis/backends/tests/test_set_ops.py
  ibis/expr/types/relations.py
Due: none

refactor(sqlalchemy): remove use of deprecated `isnot`
  ibis/backends/base/sql/alchemy/registry.py
  ibis/tests/sql/test_sqlalchemy.py
Due: none

docs: publish raw data for operation matrix
  docs/backends/support_matrix.md
  gen_matrix.py
Due: prettier

fix(backend): read the default backend setting in `_default_backend`
  ibis/backends/tests/test_client.py
  ibis/config.py
Due: none

feat(common): support annotations with typing.Literal
  ibis/common/tests/test_validators.py
  ibis/common/validators.py
Due: none

chore: bring back the `all` extra
  .github/workflows/check-generated-files.yml
  flake.nix
  nix/overlay.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier, nixpkgs-fmt, statix

ci(mssql): dont recreate database in MSSQL
  .github/workflows/ibis-docs-lint.yml
  docker-compose.yml
  ibis/backends/mssql/tests/conftest.py
Due: prettier

ci: stop running `bq load` in gcs insert job
  .github/workflows/ci-data.yml
Due: prettier

chore: tell renovate to also look at `Dockerfile`s
  .github/renovate.json
Due: prettier

chore(deps): remove `docstring_parser` dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

ci: automerge docker and github-actions dependency updates [skip ci]
  .github/renovate.json
Due: prettier

Update relations.py
  ibis/backends/clickhouse/compiler/relations.py
Due: none

fix(trino): remove invalid operations from registry
  ibis/backends/trino/registry.py
Due: none

fix(duckdb): remove invalid operations from registry
  ibis/backends/duckdb/registry.py
Due: none

test(ir): add tests for `ops.TableArrayView`
  ibis/backends/tests/test_generic.py
  ibis/backends/trino/registry.py
Due: none

test(sql): add tests for `ops.CountDistinct`
  ibis/backends/tests/test_aggregation.py
  ibis/backends/trino/registry.py
  ibis/expr/types/generic.py
Due: none

fix(snowflake): re-enable `ops.TableArrayView`
  ibis/backends/snowflake/registry.py
Due: none

refactor: remove empty unused file
  ibis/backends/impala/parquet.py
Due: none

fix(sqlalchemy): use the backend's compiler instead of `AlchemyCompiler`
  ibis/backends/base/sql/alchemy/registry.py
Due: none

fix(sqlalchemy): handle correlated exists sanely
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
Due: none

refactor(sqlalchemy): remove the need for deferred columns
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/postgres/registry.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_no_cart_join/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Due: none

feat(snowflake): implement exists/not exists
  ibis/backends/snowflake/registry.py
Due: none
