Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - nix-linter
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        exclude: _py310\.py$
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: _py310\.py$
  - repo: https://github.com/pycqa/docformatter
    rev: v1.5.0
    hooks:
      - id: docformatter
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        entry: pyupgrade --py38-plus --keep-runtime-typing
        types:
          - python
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        files: \.sh$
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        files: \.sh$
        types:
          - file
        types_or:
          - file
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        exclude: nix/sources\.nix
        files: \.nix$
        types:
          - file
        types_or:
          - file
      - id: nix-linter
        name: nix-linter
        language: system
        entry: nix-linter --check="no-FreeLetInFunc"
        exclude: nix/sources\.nix
        files: \.nix$
        types:
          - file
        types_or:
          - file
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: debug-statements

chore: remove nix cruft; rename `ipython_genutils`
  poetry-overrides.nix
Due: none

chore(dev-deps): bump upper bound and locked version of `mkdocs`
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

ci: remove `python-dev`
  .github/workflows/ibis-backends.yml
Due: prettier

fix(window): allow window range tuples in preceding or following
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_window.py
Due: none

chore(dev-deps): remove unused development dependencies
  .prettierignore
  justfile
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier, just

fix(clickhouse): use clickhouse's dbapi
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/tests/test_export.py
Due: none

chore(deps): bump pandas and dask
  .github/workflows/ibis-backends.yml
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

test: rename files that may conflict with case-insensitive filesystems
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/day-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/day-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/hour-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/hour-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/micros-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/micros-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/millis-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/millis-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/minute-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/minute-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/month-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/month-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/quarter-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/quarter-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/second-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/second-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/week-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/week-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/year-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/year-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
Due: none

feat(trino): initial trino backend
  .github/workflows/ibis-backends.yml
  docker-compose.yml
  docker/trino/catalog/postgresql.properties
  docker/trino/jvm.config
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_pretty.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_window.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/compiler.py
  ibis/backends/trino/datatypes.py
  ibis/backends/trino/registry.py
  ibis/backends/trino/tests/conftest.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
Due: prettier

docs(trino): add backend docs
  README.md
  docs/backends/Trino.md
Due: prettier

feat(trino): add `EXTRACT`-based functionality
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_temporal.py
Due: none

feat(mssql): extract quarter
  ibis/backends/tests/test_temporal.py
Due: none

refactor(mysql): dedup extract code
  ibis/backends/mysql/registry.py
Due: none

feat(trino): add some basic aggregation ops
  ibis/backends/tests/test_aggregation.py
  ibis/backends/trino/registry.py
Due: none

docs: split out geospatial operations in the support matrix docs
  .gitignore
  docs/backends/support_matrix.md
  gen_matrix.py
Due: prettier

fix(mysql): handle out of bounds timestamps and fix milliseconds calculation
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/client.py
  ibis/backends/tests/test_temporal.py
Due: none

feat(trino): extract milliseconds
  ibis/backends/tests/test_temporal.py
  ibis/backends/trino/registry.py
Due: none

fix: clarify and normalize behavior of `Table.rowid`
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_column.py
  ibis/expr/operations/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_value_exprs.py
Due: none

test(snowflake): fix failing big timestamp tests
  ibis/backends/tests/test_temporal.py
Due: none

chore(deps): lock file maintenance
  flake.nix
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_struct.py
  nix/patches/py-polars.patch
  poetry-overrides.nix
  poetry.lock
  requirements.txt
Due: none
