Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py38-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false
  stages:
  - commit

docs(backends): implement gen_matrix script
  docs/backends/99_support_matrix.md
  docs/stylesheets/extra.css
  gen_matrix.py
  mkdocs.yml
  poetry-overrides.nix
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

refactor(logical): move bool expressions to types/
  ibis/expr/api.py
  ibis/expr/types/logical.py
Due: black, flake8, pyupgrade

ci: don't verify external links on push
  .github/workflows/ibis-docs-lint.yml
Due: prettier

refactor(api): move numerics
  docs/javascripts/mathjax.js
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  mkdocs.yml
Due: black, flake8, pyupgrade, prettier

feat(sqlite): implement ISO week of year
  ibis/backends/sqlite/registry.py
Due: black, flake8, pyupgrade

test(sqlite): disable notimpl for sqlite extract week test
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

feat(pyspark): implement percent_rank and enable testing
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_window.py
Due: black, flake8, pyupgrade

fix(pandas): implement percent_rank correctly
  ibis/backends/pandas/execution/window.py
  ibis/backends/tests/test_window.py
Due: black, flake8, pyupgrade

refactor: remove geospatial from unsupported backends
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  shell.nix
Due: black, flake8, pyupgrade

test(marks): add broken mark, remove unneeded markers
  ibis/backends/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

docs(api): add deprecation warning to docstr
  ibis/tests/expr/test_signature.py
  ibis/util.py
Due: black, flake8, pyupgrade

feat(api): add `ibis.asc` expression
  ibis/expr/api.py
  ibis/tests/expr/test_table.py
Due: black, flake8, pyupgrade

refactor(geospatial): move APIs to methods of appropiate objects in types/
  ibis/expr/api.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/numeric.py
Due: black, flake8, pyupgrade

docs: remove warnings during build and fail on warnings
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  mkdocs.yml
Due: black, flake8, pyupgrade, prettier

fix(deps): update dependency datafusion to >=0.4,<0.6
  poetry.lock
  pyproject.toml
Due: prettier

build: fix datafusion poetry-override
  poetry-overrides.nix
Due: none

build: remove upstream'd poetry2nix overrides
  poetry-overrides.nix
Due: none

test: clean up temp tables in backends/test_client.py
  ibis/backends/tests/test_client.py
Due: black, flake8, pyupgrade

test: don't use now in pandas and dask cast tests
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_cast.py
Due: black, flake8, pyupgrade

test: add repr benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
Due: black, flake8, pyupgrade

test(bench): add operation attribute access benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

test(bench): add datatype parsing and repr benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

feat(duckdb): implement regexp replace and extract
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_string.py
Due: black, flake8, pyupgrade

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
  just: any of: ^justfile$, but not: ^$
