Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: fix docs interlinks
  docs/_quarto.yml
  docs/backends/impala.qmd
  docs/concepts/internals.qmd
  docs/posts/_metadata.yml
  ibis/backends/base/sql/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pyspark/client.py
  ibis/config.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/legacy/udf/vectorized.py
  ibis/selectors.py
  ibis/util.py
  justfile
  lychee.toml
Due: prettier, just

chore: add `r` ranges documentation
  ibis/selectors.py
Due: none

chore: cleanup layout and expand top level APIs to match current mkdocs setup
  docs/_quarto.yml
Due: prettier

chore: release notes to the right
  docs/_quarto.yml
Due: prettier

chore: link to snowflake backend docs
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: fix more references
  ibis/expr/api.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/generic.py
  ibis/expr/types/structs.py
  ibis/legacy/udf/vectorized.py
Due: none

chore: quarto-ify ibis-for-dplyr-users
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  nix/quarto/default.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: wrap and move references to full website path to internal qmd references
  docs/tutorials/ibis-for-dplyr-users.qmd
Due: none

chore: move references to full website path to internal qmd references
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: rerender some posts
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
Due: prettier

chore: fix contribute tables and tabs
  docs/_extensions/quarto-ext/fontawesome/_extension.yml
  docs/_extensions/quarto-ext/fontawesome/assets/css/all.css
  docs/_extensions/quarto-ext/fontawesome/assets/css/latex-fontsize.css
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  docs/_extensions/quarto-ext/fontawesome/fontawesome.lua
  docs/contribute/01_environment.md
  docs/contribute/01_environment.qmd
Due: prettier

chore: everything under docs/_extensions is generated
  .gitattributes
Due: none

chore: rename contribute docs to qmd
  docs/contribute/02_workflow.qmd
  docs/contribute/03_style.qmd
  docs/contribute/05_maintainers_guide.qmd
Due: none

chore: remove remnants of `relabel` usage
  docs/_freeze/tutorials/ibis-for-dplyr-users/execute-results/html.json
  docs/tutorials/ibis-for-dplyr-users.qmd
  poetry.lock
  requirements-dev.txt
Due: prettier

chore: use relative path syntax for tabsets
  docs/index.qmd
  docs/install.qmd
  docs/tutorials/ibis-for-pandas-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  docs/why.qmd
Due: none

fix(dtypes): switch scale and timestamp parameter order when formatting a timestamp datatype
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

chore: fix more API docs interlinks
  ibis/expr/types/maps.py
  ibis/expr/types/structs.py
Due: none

chore: fix missing ibis import in docstring
  ibis/expr/types/generic.py
  ibis/selectors.py
Due: none

chore: give a useful group by example instead of foobar
  ibis/expr/types/groupby.py
Due: none

docs: fix links from install to connect
  docs/_tabsets/install.qmd
Due: none

chore: render sql using the notebook instead of only printing to stdout
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: make case consistent
  docs/_quarto.yml
Due: prettier

chore: clean up ibis-for-sql-users
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: fix case
  docs/_quarto.yml
Due: prettier

docs: swap release notes and contribute
  docs/_quarto.yml
Due: prettier

docs: add docs issue to navbar
  docs/_quarto.yml
Due: prettier

chore: rewrite sqlite parse
  ibis/backends/base/sql/glot/datatypes.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/datatypes.py
Due: none

refactor(formats): turn `TypeParser` into a `TypeMapper` implementation for sqlglot
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/glot/__init__.py
  ibis/backends/base/sql/glot/datatypes.py
  ibis/backends/base/sql/glot/tests/__init__.py
  ibis/backends/base/sql/glot/tests/test_datatypes.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_cast_string_col/date/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_cast_string_col/timestamp/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_cast/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_cast/out2.sql
  ibis/backends/clickhouse/tests/test_datatypes.py
  ibis/backends/druid/__init__.py
  ibis/backends/druid/datatypes.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/datatypes.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/datatypes.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/datatypes.py
  ibis/formats/__init__.py
  ibis/formats/parser.py
  ibis/tests/strategies.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier

test(sqlite): xpass test_client::test_sql
  ibis/backends/tests/test_client.py
Due: none

refactor(mysql): use describe temporary table to retrieve ibis schema from query
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/glot/datatypes.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/tests/test_datatypes.py
Due: none
