Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

feat(export): implement the `Column.to_list()` API (#10498)
  .gitattributes
  .gitignore
  ibis/backends/tests/test_export.py
  ibis/expr/types/generic.py
Due: none

docs(api): deprecate `to_array` in favor of `as_scalar` in docstring (#10508)
  ibis/expr/types/relations.py
Due: none

docs(contribute): include instructions to use Pixi (#10504)
  docs/contribute/01_environment.qmd
Due: none

feat: add datafusion map methods to datafusion compiler
  ibis/backends/sql/compilers/datafusion.py
Due: none

chore(deps): regen requirements-dev.txt
  requirements-dev.txt
Due: none

docs(examples) ensure join result is ordered
  ibis/expr/types/relations.py
Due: none

refactor(repr): pass Interactive dataclass around, not raw values
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Due: none

feat(datafusion): remove pytest not yet annotations, fix fmt
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_map.py
Due: none

docs(examples): add `asof_join` weather example (#10507)
  ibis/expr/types/relations.py
Due: none

docs(examples): add Value.asc and Value.desc examples
  ibis/expr/api.py
  ibis/expr/types/generic.py
Due: none

docs(examples): add `Value.asc` and `Value.desc` examples (#10515)
  ibis/expr/api.py
  ibis/expr/types/generic.py
Due: none

build(ruff): remove unnecessary target-version use
  pyproject.toml
Due: taplo

build(ruff): remove unnecessary target-version use (#10520)
  pyproject.toml
Due: taplo

feat(repr): show col and row count in rich repr
  ibis/config.py
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Due: none

chore(pyspark): use normalize_filenames() from util
  ibis/backends/pyspark/__init__.py
Due: none

chore(pyspark): use normalize_filenames() from util (#10521)
  ibis/backends/pyspark/__init__.py
Due: none

docs(examples): add example and see also ref for compile
  ibis/expr/types/core.py
Due: none

docs(examples): add example and see also ref for ibis.to_sql
  ibis/expr/sql.py
Due: none

docs(fix): skip doctest for SqlString return
  ibis/expr/sql.py
Due: none

docs(blog): add confusion matrix seaborn viz
  docs/posts/classification-metrics-on-the-backend/index.qmd
Due: none

docs(examples): add example and see also ref for Table.execute
  ibis/expr/types/core.py
Due: none

docs: reword backend counting to nearly 20 from 20+
  README.md
  docs/how-to/extending/unbound_expression.qmd
  docs/index.qmd
  docs/why.qmd
Due: prettier

docs(examples): add hashbytes example
  ibis/expr/types/strings.py
Due: none

feat(mssql): add md2 and md4 hashbytes algos
  ibis/backends/sql/compilers/mssql.py
  ibis/expr/operations/generic.py
Due: none

chore(ci): skip nixos on mac-14, python3.12 for docs only prs
  .github/workflows/nix-skip-helper.yml
Due: prettier

docs: reword backend counting to nearly 20 from 20+ (#10533)
  README.md
  docs/how-to/extending/unbound_expression.qmd
  docs/index.qmd
  docs/why.qmd
Due: prettier

chore(mysql): remove XPASSing xfails from emoji string tests
  ibis/backends/tests/test_string.py
Due: none

chore(dev): update requirements-dev.txt file
  requirements-dev.txt
Due: none

Use uv to install project, dev and test dependencies
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier

Update Dockerfile EOF and devcontainer.json formatting
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier

Revert "feat(mssql): add md2 and md4 hashbytes algos"
  ibis/backends/sql/compilers/mssql.py
  ibis/expr/operations/generic.py
Due: none

docs(examples): add hashbytes example (#10537)
  ibis/expr/types/strings.py
Due: none

refactor(register): remove deprecated register method
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_io.py
  ibis/backends/tests/test_register.py
Due: none

Fix typo in ibis-for-sql-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

docs(tutorial): fix typo in ibis-for-sql-users.qmd (#10549)
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
