Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

feat(backends): implement `ops.Time` for sqlalchemy backends
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Due: none

chore(dev-deps): run ruff as a local hook to avoid dual updating chores
  .pre-commit-config.yaml
Due: prettier

fix(sqlite): fix random scalar range
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(impala): implement ops.RandomScalar
  ibis/backends/base/sql/registry/main.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(ux): accept selectors in `Table.drop`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

ci: add coverage to doctests
  .github/workflows/ibis-main.yml
Due: prettier

fix(ux): make string range selectors inclusive
  ibis/expr/selectors.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_selectors.py
Due: none

feat(examples): enable progressbar and faster hashing
  ibis/examples/__init__.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

ci: remove unnecessary Python version in custom venv cache key
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
Due: prettier

chore(deps): bump poetry2nix
  flake.lock
Due: none

test: refactor data loading to reduce container build time
  .github/workflows/ibis-backends.yml
  ci/schema/clickhouse.sql
  docker-compose.yml
  docker/clickhouse/Dockerfile
  docker/mssql/Dockerfile
  docker/postgres/Dockerfile
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/tests/base.py
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix

ci: load parquet instead of csv in druid
  ci/schema/druid.sql
  docker/druid/environment
  ibis/backends/druid/tests/conftest.py
Due: none

fix(polars): back compat for `concat_str` separator argument
  ibis/backends/polars/compiler.py
Due: none

refactor(ux): return expression from `Table.info`
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  pyproject.toml
Due: prettier

feat(polars): implement `ops.Union`
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Due: none

fix(pyspark): fix isnan and isinf to work on bool
  ibis/backends/pyspark/compiler.py
Due: none

test: make the serial test execution faster for postgres
  ibis/backends/postgres/tests/conftest.py
Due: none

fix(ir): incorrect predicate pushdown
  ibis/backends/sqlite/registry.py
  ibis/common/graph.py
  ibis/expr/analysis.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/sql/snapshots/test_select_sql/test_filter_predicates/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_incorrect_predicate_pushdown/result.sql
  ibis/tests/sql/snapshots/test_select_sql/test_incorrect_predicate_pushdown_with_literal/result.sql
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_select_sql.py
Due: none

test(backends): strict validate exception in test_temporal
  ibis/backends/conftest.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(bigquery): regenerate sql for predicate pushdown fix
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_projection_fusion_only_peeks_at_immediate_parent/out.sql
Due: none

feat: add `persist` API to table relation
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/util.py
Due: none

test(backends): fix strict validate exception in test_temporal for cloud backends
  ibis/backends/tests/test_temporal.py
Due: none
