Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(sqlite): allow insertion into temp tables
  ibis/backends/sqlite/__init__.py
Due: none

fix(mssql): ensure that temp tables can be looked up
  ibis/backends/mssql/__init__.py
Due: none

fix(mssql): ensure that examples tests work
  ibis/backends/tests/test_examples.py
Due: none

test(oracle): handle temporary table clean up in tests
  ibis/backends/conftest.py
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_client.py
Due: none

test: ignore attribute errors for `truncate_table`
  ibis/backends/conftest.py
Due: none

chore: add `truncate_table` stub
  ibis/backends/base/__init__.py
  ibis/backends/conftest.py
Due: none

build: bump poetry to 1.7.1
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo, just

build(flink): install wheel for a broken avro-python
  .github/workflows/ibis-backends.yml
Due: prettier

test(flink): adjust warning exception class
  pyproject.toml
Due: taplo

chore(deps): bump poetry2nix
  flake.lock
Due: none

fix(mssql): compute the length of strings correctly
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/test_client.py
Due: none

test(group-by): add test for complex grouping key expression
  ibis/backends/tests/test_aggregation.py
Due: none

fix(datafusion): support computed group by when the aggregation is count distinct
  ibis/backends/datafusion/compiler/relations.py
Due: none

fix(oracle): ensure that `.sql` metadata results are in column-definition order
  ibis/backends/oracle/__init__.py
Due: none

docs(blog-post): add blogpost ibis duckdb geospatial
  .github/workflows/ibis-backends.yml
  docs/posts/ibis-duckdb-geospatial/index.qmd
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

docs: make minor edits to duckdb-geospatial post
  docs/posts/ibis-duckdb-geospatial/index.qmd
Due: none

feat(mssql): use odbc
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .gitignore
  flake.nix
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  poetry-overrides.nix
  pyproject.toml
Due: prettier, taplo, nixpkgs-fmt, statix, deadnix

refactor(bigquery): return data_project as database, not dataset_id
  ibis/backends/bigquery/__init__.py
Due: none

refactor(bigquery): remove `list_databases`
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_api.py
Due: none

refactor(bigquery): remove `zeroifnull`
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/numeric.py
  ibis/tests/expr/test_sql_builtins.py
Due: none

refactor(bigquery): remove `nullifzero`
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/types/numeric.py
Due: none

chore: gen sql snapshots
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-nullif_zero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-zero_ifnull/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-nullif_zero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-zero_ifnull/out.sql
Due: none

chore: rebase and fix literal compilation
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_export.py
Due: none

chore(pyodbc): enable wheel use in nix setup
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore: remove deprecated APIs
  ibis/backends/bigquery/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Due: none

test(bigquery): fix failing non-warning tests
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

refactor(api): remove `show_sql` in favor of `print(to_sql)`
  docs/_quarto.yml
  docs/how-to/timeseries/sessionize.qmd
  docs/index.qmd
  ibis/backends/base/__init__.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/tests/test_sql.py
  ibis/expr/api.py
  ibis/expr/sql.py
Due: prettier

chore(deps): relock
  requirements-dev.txt
Due: none

chore(deps): relock
  poetry.lock
Due: none

refactor(impala): modernize the impala backend
  .github/renovate.json
  .github/workflows/ibis-backends.yml
  compose.yaml
  docker/impala/conf/hive-site.xml
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/pandas_interop.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric/round_no_args/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-ceil/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-floor/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-ceil/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-floor/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_extract_field/microsecond/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_extract_field/millisecond/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/ms/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/us/out.sql
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_window.py
  ibis/formats/pyarrow.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo
