Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

feat(backends): kurtosis
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/sql/compilers/exasol.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/impala.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/numeric.py
Due: none

test(bigquery): disable kurtosis
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

test(snowflake): separate xfail marker for snowflake-specific issues
  ibis/backends/tests/test_aggregation.py
Due: none

test(athena): xfail for broken sqlglot regex version
  ibis/backends/tests/test_string.py
Due: none

chore(deps): relock
  flake.lock
  requirements-dev.txt
Due: none

test: add delete test
  ibis/backends/tests/test_generic.py
Due: none

fix(distinct): allow deleting rows when `on` is unspecified
  ibis/expr/types/relations.py
Due: none

test: fix now-spuriously-failing test
  ibis/tests/expr/test_table.py
Due: none

fix(distinct): allow deleting rows when `on` is unspecified (#11383)
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

docs(udfs): add examples of udfs with struct types as inputs
  ibis/expr/operations/udf.py
Due: none

docs(udfs): add examples of udfs with map types as inputs
  ibis/expr/operations/udf.py
Due: none

feat: add Expr.to_sql(), improve docs
  docs/_quarto.yml
  ibis/backends/__init__.py
  ibis/expr/types/core.py
Due: prettier

chore: avoid changing the behavior of compile
  ibis/expr/types/core.py
Due: none

chore: fix formatting
  ibis/expr/types/core.py
Due: none

test(polars): verify that compiling a memtable works
  ibis/backends/polars/tests/test_client.py
Due: none

fix(polars): ensure that memtables can be compiled into LazyFrames by running pre-execute hooks
  ibis/backends/polars/__init__.py
Due: none

fix(polars): ensure that memtables can be compiled into LazyFrames by running pre-execute hooks (#11392)
  ibis/backends/polars/__init__.py
  ibis/backends/polars/tests/test_client.py
Due: none

feat(api): add `Expr.to_sql()` method (#11357)
  docs/_quarto.yml
  ibis/backends/__init__.py
  ibis/expr/types/core.py
Due: prettier

docs(udfs): add examples of udfs with struct types as inputs (#11385)
  ibis/expr/operations/udf.py
Due: none

docs: improve docs for set ops
  ibis/expr/api.py
  ibis/expr/types/relations.py
Due: none

Apply suggestions from code review
  ibis/expr/api.py
  ibis/expr/types/relations.py
Due: none

docs: improve docs for set ops (#11394)
  ibis/expr/api.py
  ibis/expr/types/relations.py
Due: none

fix(postgres): make pyarrow round trip of nans and nulls higher fidelity
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sql/__init__.py
  ibis/formats/pandas.py
Due: none

test(clickhouse): enable time type on the server
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/tests/test_generic.py
Due: none

fix(pyspark): support decimals in memtables
  ibis/backends/pyspark/__init__.py
Due: none

test(decimals): enable now passing tests for constructing decimals from integers
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_numeric.py
Due: none

feat(duckdb): switch to newer ATTACH syntax for attach_sqlite()
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
Due: none

feat(duckdb): add many more options to attach()
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_io.py
Due: none

feat(duckdb): add on_exists="replace" option to attach()
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
Due: none

chore: fix detecting the name of the added db
  ibis/backends/duckdb/__init__.py
Due: none

ci(test): run pytest with verbose flag
  .github/workflows/ibis-backends.yml
Due: prettier

chore: only run duckdb
  .github/workflows/ibis-backends.yml
  ibis/backends/duckdb/tests/conftest.py
Due: prettier

fixup! chore: only run duckdb
  .github/workflows/ibis-backends.yml
Due: prettier

chore: only run duckdb
  .github/workflows/ibis-backends.yml
Due: prettier

fix(duckdb): disallow duckdb 1.3.1 due to hangs when loading the geospatial extension
  ibis/expr/types/geospatial.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

fix(duckdb): disallow duckdb 1.3.1 due to hangs when loading the geospatial extension (#11409)
  ibis/expr/types/geospatial.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo
