Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

test(duckdb): relax exact type check in decimal literal assertion
  ibis/backends/tests/test_numeric.py
Due: none

refactor(sqlglot): various sqlglot compiler and backend clean ups (#7904)
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/kernels.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_filter_predicates/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_where_analyze_scalar_op/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpch/conftest.py
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/duckdb/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/duckdb/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/duckdb/h09.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/snowflake/h09.sql
  ibis/expr/operations/strings.py
  ibis/expr/types/arrays.py
  ibis/expr/types/strings.py
  ibis/formats/pandas.py
Due: none

refactor(polars): update the polars backend to use the new relational abstractions (#7868)
  .github/workflows/ibis-backends.yml
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/test_interactive.py
  ibis/backends/tests/test_join.py
Due: prettier

docs: add composable data ecosystem concept (#7898)
  docs/concepts/composable-ecosystem.qmd
  docs/concepts/images/standards.png
Due: none

catch pymysql operational error
  ibis/backends/mysql/__init__.py
Due: none

docs: add image preview for index page
  docs/index.qmd
Due: none

docs: add ibis.join() to docs (#7913)
  docs/_quarto.yml
Due: prettier

add .png and change twitter card to that
  docs/index.qmd
  docs/logo.png
Due: none

try more things
  docs/_quarto.yml
Due: prettier

?
  docs/_quarto.yml
Due: prettier

??
  docs/_quarto.yml
Due: prettier

qs
  docs/_quarto.yml
Due: prettier

docs: add image preview for index page (#7920)
  docs/_quarto.yml
  docs/index.qmd
  docs/logo.png
Due: prettier

fix(polars): force null sorting to match the rest of ibis
  ibis/backends/polars/compiler.py
Due: none

test(pandas): ignore array size warning
  pyproject.toml
Due: taplo

refactor(mysql): port to sqlglot
  .github/workflows/ibis-backends.yml
  docker/mysql/startup.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/converter.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

chore(mysql): remove untested geospatial functionality
  ibis/backends/mysql/compiler.py
  ibis/backends/tests/test_client.py
Due: none

chore(mysql): encode default decimal parameters in the mapper
  ibis/backends/base/sqlglot/datatypes.py
Due: none

chore(formats/pandas): move fast path to `convert_default`
  ibis/formats/pandas.py
Due: none

refactor(mysql): port to sqlglot (#7926)
  .github/workflows/ibis-backends.yml
  docker/mysql/startup.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/converter.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

chore(clickhouse): use anonymous function for clickhouse countif due to invalid sqlglot rewrite
  ibis/backends/clickhouse/compiler/values.py
Due: none

test(polars): xfail failing outer join from upstream change
  ibis/backends/tests/test_join.py
Due: none

chore(deps): relock
  requirements-dev.txt
Due: none

fix(mysql): catch PyMySQL OperationalError exception (#7919)
  ibis/backends/mysql/__init__.py
Due: none

docs: add user testimonials page (#7897)
  docs/concepts/user-testimonials.qmd
Due: none

test(bigquery): regenerate snapshots from upstream sqlglot cross join fix
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_one_unnest.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_two_unnests.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
Due: none

docs: minor update to composable data ecosystem concept
  docs/concepts/composable-ecosystem.qmd
Due: none

test(backends): add test for window order by ordering
  ibis/backends/tests/test_window.py
Due: none

fix(backends): ensure that the order_by expressions order is preserved when duplicates are introduced
  ibis/backends/tests/test_window.py
  ibis/expr/analysis.py
  ibis/expr/types/generic.py
Due: none
