Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(biquery): use qualified table name for upserts
  ibis/backends/bigquery/__init__.py
Due: none

docs(bigquery): add note on `schema` to `insert()`
  ibis/backends/bigquery/__init__.py
  ibis/backends/sql/__init__.py
Due: none

feat(singlestoredb): initial SingleStoreDB backend implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/__init__.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve KeyError in create_table by ensuring type mapper registration
  ibis/backends/sql/datatypes.py
  ibis/expr/schema.py
Due: none

feat(singlestoredb): add comprehensive backend implementation
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  pyproject.toml
Due: taplo

feat(singlestoredb): implement comprehensive data type support (Phase 2)
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): improve backend implementation and configuration
  ci/schema/singlestoredb.sql
  compose.yaml
  docker/singlestoredb/init.sql
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo

fix(singlestoredb): improve data type parsing for VARCHAR, TEXT, and JSON types
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

feat(singlestoredb): enhance type parameter preservation for DATETIME, BIT, and DECIMAL types
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

feat(singlestoredb): complete Phase 6 feature implementation
  compose.yaml
  flake.nix
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/sql/compilers/singlestoredb.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

feat(singlestoredb): complete Phase 7 performance optimization implementation
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): resolve 17 test failures and improve success rate to 81%
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): migrate from mysql to singlestore dialect in SQLGlot
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_dot_sql.py
Due: none

fix(singlestoredb): add database property to Backend class
  ibis/backends/singlestoredb/__init__.py
Due: none

feat(singlestoredb): complete Phase 5 documentation implementation
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
Due: prettier

fix(singlestoredb): resolve remaining test failures and exception handling
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_numeric.py
Due: none

fix(singlestoredb): test data types fix for null
  ibis/backends/sql/datatypes.py
Due: none

fix(singlestoredb): comprehensive temporal operations support
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(singlestoredb): enable 14+ string operations and improve LOCATE function
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_string.py
Due: none

fix(singlestoredb): finalize backend implementation and test fixes
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/test_client.py
Due: none

feat(tests): add singlestoredb markings alongside mysql test markings
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

fix(singlestoredb): replace SOUNDEX with REVERSE in UDF test
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

fix(singlestoredb): resolve compiler test failures with time handling and inheritance
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve pandas/pyarrow import issue and restore type functionality
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
Due: prettier

feat(singlestoredb): add SingleStoreDB to general backend test suite
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_json.py
Due: none

fix(singlestoredb): resolve PyArrow boolean conversion in interactive tests
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
Due: none

fix(singlestoredb): enable XOR operations, NULLS ordering and geopandas support
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
Due: none

fix(singlestoredb): fix StringFind implementation to properly handle LOCATE index conversion
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

Allow more flexible connection parameters
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): add missing SQL compilation test snapshots
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-uuid/out.sql
Due: none

feat(singlestoredb): add vector type support
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/test_numeric.py
Due: none

fix(singlestoredb): consolidate data type handling and clean up implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
Due: none

chore(deps): fix lint error
  ibis/backends/tests/conftest.py
Due: none

chore(deps): update dev requirements
  requirements-dev.txt
Due: none

chore: update uv.lock
  uv.lock
Due: none

fix(singlestoredb): add positional-only parameter markers for signature compatibility
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(sql): apply nullable parameter when resolving unknown type strings
  ibis/backends/sql/datatypes.py
Due: none

fix(singlestoredb): remove list_catalogs method to fix catalog consistency tests
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/tests/test_impure.py
Due: none

chore(nix): improve Nix configuration formatting and organization
  flake.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

fix(singlestoredb): improve Docker Compose configuration
  compose.yaml
Due: prettier
