Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py38-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false
  stages:
  - commit

test: remove backends fixtures related to csv, parquet, hdf5
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
Due: black, flake8, pyupgrade

ci: add back junit.xml report for ibis-main workflow
  .github/workflows/ibis-main.yml
Due: prettier

test: add repr html test
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

feat: add _repr_html_ for expressions to print as tables in ipython
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

chore(deps): update actions/setup-java action to v3
  .github/workflows/ibis-backends.yml
Due: prettier

fix: infer coalesce types when a non-null expression occurs after the first argument
  ibis/backends/postgres/tests/test_functions.py
  ibis/expr/operations/generic.py
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

docs: remove unused collapsed panel
  docs/index.md
Due: prettier

chore(deps): lock file maintenance
  poetry.lock
Due: none

docs: fix broken backend links
  docs/example.sql
  docs/index.md
  docs/stylesheets/extra.css
Due: prettier

build: include the full dask package in conda-lock files
  pyproject.toml
Due: prettier

chore(deps): update actions/setup-python action to v3
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Due: prettier

refactor: reuse more base class code in the sqlalchemy backends
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/sqlite/udf.py
Due: black, flake8, pyupgrade

feat: implement `force` argument in sqlalchemy backend base class
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/tests/test_client.py
Due: black, flake8, pyupgrade

fix: fix list_schemas argument
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
Due: black, flake8, pyupgrade

ci: insert directly into bigquery
  .github/workflows/ci-data.yml
Due: prettier

ci: move conda-lock regeneration to nightly PR creation
  .github/workflows/conda-lock-pr.yml
  .github/workflows/conda-lock.yml
Due: prettier

docs: move installation information to landing page
  docs/SUMMARY.md
  docs/index.md
  docs/installation.md
  mkdocs.yml
Due: prettier

feat: add duckdb backend
  .github/workflows/ibis-backends.yml
  ci/datamgr.py
  ci/schema/duckdb.sql
  ibis/backends/conftest.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/__init__.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_union.py
  ibis/backends/tests/test_window.py
  ibis/expr/datatypes/__init__.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
  shell.nix
Due: black, flake8, pyupgrade, prettier

refactor: add duckdb type parser
  ibis/backends/duckdb/parser.py
  ibis/backends/duckdb/tests/test_parser.py
Due: black, flake8, pyupgrade

refactor(duckdb): rework sqla dispatching, fix duckdb tests
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_parser.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/expr/datatypes/__init__.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

docs: fix pandas backend installation docs
  docs/backends/template.md
Due: prettier

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
  just: any of: ^justfile$, but not: ^$
