Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(singlestoredb): fix array test failures and improve literal handling
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_array.py
Due: none

fix(singlestoredb): clean up obsolete FindInSet comment
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): fix table overwrite and JSON unwrap operations
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): add validation for unsupported complex types in table registration
  ibis/backends/singlestoredb/__init__.py
Due: none

feat(singlestoredb): complete Phase 7 performance optimization implementation
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): resolve test failures in UUID and string find operations
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/tests/test_uuid.py
Due: none

fix(singlestoredb): add missing SQL compilation test snapshots
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-uuid/out.sql
Due: none

feat(singlestoredb): implement comprehensive data type support (Phase 2)
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

Copy functionality from MySQL; add list and drop operations
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/tests/test_client.py
Due: none

fix(singlestoredb): add positional-only parameter markers for signature compatibility
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): improve data type parsing for VARCHAR, TEXT, and JSON types
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

fix(singlestoredb): resolve IN operator cast syntax issues in aggregations
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve 17 test failures and improve success rate to 81%
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): comprehensive string operations support
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

refactor(singlestoredb): streamline data type conversion and JSON handling
  ibis/backends/singlestoredb/converter.py
Due: none

feat(singlestoredb): fix string operations and improve test compatibility
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
Due: none

fix(singlestoredb): resolve test failures for timestamp, JSON, and table creation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes/parse.py
Due: none

fix(singlestoredb): enhance temporal operations with proper format conversion
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(singlestoredb): resolve PyArrow boolean conversion in interactive tests
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
Due: none

fix(singlestoredb): improve connection management consistency
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): comprehensive temporal operations support
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(singlestoredb): handle BOOLEAN type mapping differences between cursor and DESCRIBE paths
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

feat(singlestoredb): add SingleStoreDB to general backend test suite
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_json.py
Due: none

fix(singlestoredb): improve backend implementation and configuration
  ci/schema/singlestoredb.sql
  compose.yaml
  docker/singlestoredb/init.sql
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo

fix(singlestoredb): resolve KeyError in create_table by ensuring type mapper registration
  ibis/backends/sql/datatypes.py
  ibis/expr/schema.py
Due: none

fix(singlestoredb): complete migration from _safe_raw_sql to begin() transactions
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): fix timestamp literal generation and set operations
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(singlestoredb): implement RowID operation support
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(tests): add singlestoredb markings alongside mysql test markings
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

docs(singlestoredb): comprehensive README.md update with accurate backend documentation
  ibis/backends/singlestoredb/README.md
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

fix(singlestoredb): improve Docker Compose configuration
  compose.yaml
Due: prettier

chore(nix): improve Nix configuration formatting and organization
  flake.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

feat: add ibis.sql_value()
  ibis/backends/sql/compilers/base.py
  ibis/backends/tests/test_template.py
  ibis/expr/api.py
  ibis/expr/operations/__init__.py
  ibis/expr/operations/template.py
  ibis/expr/operations/tests/test_template.py
  ibis/tests/tstring.py
Due: none

test: add xfail test for complex sql_value()
  ibis/backends/tests/test_template.py
Due: none

feat(singlestoredb): enhance backend with improved datatypes and comprehensive testing
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  pyproject.toml
  requirements-dev.txt
Due: taplo

docs: add SingleStoreDB backend to README and update backend count
  README.md
Due: prettier

chore: update requirements-dev.txt dependencies
  requirements-dev.txt
Due: none

fix(singlestoredb): resolve test failures and improve SQL generation
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

fix(singlestoredb): resolve pandas/pyarrow import issue and restore type functionality
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
Due: prettier

fix(singlestoredb): consolidate data type handling and clean up implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
