Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: rename to `dereference_comparison`
  ibis/expr/types/joins.py
Due: none

fix(ir): only dereference comparisons not generic binary operations
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Due: none

chore(deps): bump pyspark to 3.5 in poetry lock file
  poetry.lock
  requirements-dev.txt
Due: none

test(generic): clean up try_cast to null test
  ibis/backends/tests/test_generic.py
Due: none

fix(polars): user newer `drop` API to avoid deprecation warning
  ibis/backends/polars/compiler.py
Due: none

fix(polars): user newer `drop` API in asof join implementation
  ibis/backends/polars/compiler.py
Due: none

refactor(druid): port to sqlglot
  .github/workflows/ibis-backends.yml
  docker/druid/environment
  ibis/backends/druid/__init__.py
  ibis/backends/druid/compiler.py
  ibis/backends/druid/datatypes.py
  ibis/backends/druid/registry.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/druid/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  pyproject.toml
Due: prettier, taplo

chore: add docstring for null ordering transform
  ibis/backends/bigquery/__init__.py
Due: none

chore(impala): remove unused imports
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_window.py
Due: none

test(bigquery): skip geospatial execution test when geopandas not installed
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

chore(bigquery-datatypes): fix type annotations and raise uniform error types for datatype conversion
  ibis/backends/base/sqlglot/datatypes.py
Due: none

test: account for new error type
  ibis/backends/bigquery/tests/unit/test_datatypes.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(snowflake): handle udf function naming
  ibis/backends/snowflake/__init__.py
Due: none

test: remove unused `spread_type` function
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
Due: none

ci(bigquery): install geospatial extra
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

refactor(pandas): simplify pandas helpers
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/helpers.py
  ibis/backends/tests/test_window.py
Due: none

refactor(exasol): port to sqlglot (#8032)
  .github/workflows/ibis-backends.yml
  ci/schema/exasol.sql
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/exasol/__init__.py
  ibis/backends/exasol/compiler.py
  ibis/backends/exasol/converter.py
  ibis/backends/exasol/datatypes.py
  ibis/backends/exasol/registry.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/exasol/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
Due: prettier, taplo

fix(trino): compile property literal values directly instead of going throughh the pipeline
  ibis/backends/trino/__init__.py
Due: none

chore(exasol): avoid complex websocket callback for inserting memtables
  ibis/backends/exasol/__init__.py
Due: none

chore(sql): regenerate snapshots for bigquery
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_projection_fusion_only_peeks_at_immediate_parent/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-True/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-True/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
Due: none

chore(sql): regenerate snapshots for pyspark
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/pyspark/out.sql
Due: none

test(exasol): account for unordered results in window function tests
  ibis/backends/tests/test_window.py
Due: none

ci(exasol): run ci serially (#8042)
  .github/workflows/ibis-backends.yml
  ibis/backends/tests/test_dot_sql.py
Due: prettier

chore(impala): regen snapshots
  ibis/backends/impala/tests/snapshots/test_sql/test_join_aliasing/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name2/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_limit_cte_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_multiple_ctes/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
Due: none

feat(sql): extract common table expressions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/rewrites.py
Due: none

chore(sql): regenerate snapshots for clickhouse, duckdb and postgres
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_union_order_by/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_filter_self_join_analysis_bug/result.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_cte_extract/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_in_union/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_used_for_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_topk_analysis_bug/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
Due: none

chore(sql): regenerate snapshots for snowflake
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/snowflake/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/snowflake/h21.sql
Due: none

ci(impala): run tests in series
  .github/workflows/ibis-backends.yml
Due: prettier

chore(sql): regenerate snapshots for trino
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/trino/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/trino/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/trino/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/trino/h21.sql
Due: none

test(duckdb): test that column name case is preserved when inserting
  ibis/backends/duckdb/tests/test_client.py
Due: none

refactor(oracle): port to sqlglot (#8020)
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/compiler.py
  ibis/backends/oracle/converter.py
  ibis/backends/oracle/datatypes.py
  ibis/backends/oracle/registry.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/oracle/tests/test_datatypes.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/oracle/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Due: prettier

chore(deps): remove sqlalchemy dependencies from oracle extra
  pyproject.toml
Due: taplo

refactor(mssql): port to sqlglot
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mssql/datatypes.py
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
Due: prettier, taplo

fix(api): forbid using `asc`/`desc` in selections
  ibis/expr/operations/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(oracle): allow passing both overwrite and temp to create_table
  ibis/backends/oracle/__init__.py
Due: none

fix(duckdb): allow passing both overwrite and temp to create_table
  ibis/backends/duckdb/__init__.py
Due: none

fix(oracle): enable dropping temporary tables
  ibis/backends/oracle/__init__.py
Due: none
