Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore(bigquery): regenerate SQL with newer SQLGlot
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/filter-approx_median/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/no_filter-approx_median/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/complete-array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/scalar/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/shuffled-array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/tricky-scalar/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hash/binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hash/string/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_builtin/test_farm_fingerprint/out.sql
Due: none

test(duckdb): update pass/failing for DuckDB 1.4.0
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

feat: allow user to skip "CREATE VOLUME IF NOT EXISTS" by using None as memtable_volume argument fixes #11598
  ibis/backends/databricks/__init__.py
Due: none

feat: updated 'use_cloud_fetch' as True to match Databricks default https://docs.databricks.com/aws/en/dev-tools/python-sql-connector#:~:text=Since%20version%202.0-,use_cloud_fetch,-bool
  ibis/backends/databricks/__init__.py
Due: none

test(trino): enable default constraints test
  ibis/backends/tests/test_client.py
Due: none

docs: improve Value.identical_to() docstring and example
  ibis/expr/types/generic.py
Due: none

fix: read_only option for databricks backend
  ibis/backends/databricks/__init__.py
Due: none

Initial Apache Beam backend Support
  README.md
  docs/backends/beam.qmd
  ibis/backends/beam/__init__.py
  ibis/backends/beam/datatypes.py
  ibis/backends/beam/ddl.py
  ibis/backends/beam/tests/__init__.py
  ibis/backends/beam/tests/conftest.py
  ibis/backends/beam/tests/test_catalog_database.py
  ibis/backends/beam/tests/test_compiler.py
  ibis/backends/beam/tests/test_dataflow_example.py
  ibis/backends/beam/tests/test_datatypes.py
  ibis/backends/beam/tests/test_set_statements.py
  ibis/backends/sql/compilers/__init__.py
  ibis/backends/sql/compilers/beam.py
  ibis/backends/sql/datatypes.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/dialects/beam.py
  pyproject.toml
Due: prettier, taplo

fix: change back 'use_cloud_fetch', out of scope
  ibis/backends/databricks/__init__.py
Due: none

docs(contribute): add missing "Install just" in uv set-up guide
  docs/contribute/01_environment.qmd
Due: none

Apply suggestions from code review
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

fix(flink): update key_hack SQL for array handling
  ibis/backends/sql/compilers/flink.py
Due: none

test: regen sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/filter-approx_median/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/no_filter-approx_median/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/complete-array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/scalar/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/shuffled-array/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx_quantiles/tricky-scalar/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hash/binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hash/string/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_builtin/test_farm_fingerprint/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_column_regexp_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_now/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/impala-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/impala-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/impala-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/impala-random/out.sql
Due: none

chore(deps): bump and relock
  flake.lock
  flake.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo, nixpkgs-fmt, statix, deadnix

chore(deps): remove macos x86_64 as a supported dev platform
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  nix/overlay.nix
  nix/quarto/default.nix
  nix/quarto/version-info.json
Due: prettier, nixpkgs-fmt, statix, deadnix

ci: move to bitnamilegacy
  compose.yaml
Due: prettier

docs: disable duckdb credential chain creation
  docs/backends/duckdb.qmd
Due: none

chore(dev): avoid setting `AWS_REGION` as duckdb will use that for s3
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

test: use raw strings where ruff needs them
  ibis/backends/bigquery/tests/system/test_connect.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pyspark/tests/test_udf.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/common/tests/test_annotations.py
  ibis/common/tests/test_bases.py
  ibis/expr/datatypes/tests/test_pandas_numpy_value.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/tests/expr/test_table.py
Due: none

fix(exasol): ensure back compat for exasol
  ibis/backends/exasol/__init__.py
Due: none

test: enable xpassing tests
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_impure.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(impala): compile to NOW instead of hive-default current_timestamp
  ibis/backends/sql/dialects.py
Due: none

chore: ruff lints
  ibis/backends/tests/test_set_ops.py
Due: none

test(duckdb-tpc-ds): xfail query 12
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

fix(clickhouse)!: adjust array indexing code for later versions of clickhouse
  ibis/backends/sql/compilers/clickhouse.py
Due: none

chore: remove unused ruff rule
  pyproject.toml
Due: taplo

chore(flink): fix single Ruff formatting violation
  ibis/backends/sql/compilers/flink.py
Due: none
