Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

prettier:
  name: prettier
  language: system
  entry: prettier --write

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check
  pass_filenames: false

test(backends): strict validate exception in test_column
  ibis/backends/conftest.py
  ibis/backends/tests/test_column.py
Due: none

test(backends): fix strict validate exception in test_temporal for cloud backends
  ibis/backends/tests/test_temporal.py
Due: none

Revert "feat: add `persist` API to table relation"
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/util.py
Due: none

feat(selectors): support ranges
  ibis/expr/selectors.py
  ibis/tests/expr/test_selectors.py
Due: none

revert: feat: add `persist` API to table relation
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/util.py
Due: none

chore: fix sqlite url
  .github/workflows/ibis-backends.yml
  ibis/backends/tests/test_client.py
Due: prettier

chore: fix sqlite url
  .github/workflows/ibis-backends.yml
Due: prettier

feat(examples): add imdb dataset examples
  ibis/examples/CITATIONS.md
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix

fixup! chore: fix sqlite url
  ibis/backends/tests/test_client.py
Due: none

fixup! fixup! chore: fix sqlite url
  ibis/backends/tests/test_client.py
Due: none

ci: remove bigquery test reason that is a tuple
  .gitignore
  ibis/backends/tests/test_temporal.py
Due: none

test: fix test case id [skip ci]
  ibis/tests/expr/test_selectors.py
Due: none

fix(ci): fix invalid test id
  ibis/tests/expr/test_selectors.py
Due: none

revert: revert: feat: add `persist` API to table relation
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/util.py
Due: none

fix(snowflake): quote column names on construction of `sa.Column`
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/snowflake/__init__.py
Due: none

fix(ir): use static connection pooling to prevent dropping temporary state
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Due: none

fix(sql): ensure that set operations generate valid sql in the presence of additional constructs such as sort keys
  ibis/backends/base/sql/compiler/base.py
  ibis/tests/sql/snapshots/test_compiler/test_difference_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_intersect_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_difference/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_intersect/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_project_column/out.sql
  ibis/tests/sql/test_compiler.py
Due: none

feat(tables): cast table using schema
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

docs: add druid to the backends index docs page
  docs/backends/index.md
Due: prettier

feat(tables): implement `pivot_longer` API
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

refactor(dask): remove unneeded create_table()
  ibis/backends/dask/__init__.py
Due: none

chore: remove unused _create_table_or_temp_view_from_csv()
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_ddl.py
Due: none

feat: return Table from create_table(), create_view()
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_map.py
Due: none

docs(blog): adds examples sneak peek blog + assets folder
  docs/SUMMARY.md
  docs/blog/assets/tab_complete.png
  docs/blog/ibis-examples.md
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
