Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - prettier
    - shellcheck
    - shfmt
    - just
    - nixpkgs-fmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.22
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.195
    hooks:
      - id: ruff
        # makes sure to exclude a file even if it's passed in explicitly
        args: ["--force-exclude"]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt -i 2 -sr -s
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix check
        pass_filenames: false
        types:
          - nix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

feat(schema): implement `Mapping` abstract base class for `Schema`
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
Due: none

feat(datatype): implement `Mapping` abstract base class for `StructType`
  ibis/expr/datatypes/core.py
  ibis/tests/expr/test_datatypes.py
Due: none

fix(sqlalchemy): use indexed group by key references everywhere possible
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_array_expr_projection/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out2.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_table_column_unbox/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_where_with_timestamp/out.sql
  ibis/backends/mssql/compiler.py
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/trino/out.sql
  ibis/backends/tests/test_sql.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/having_count/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/having_sum/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/single_key/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/two_keys/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_cte_factor_distinct_but_equal/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/count_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/group_by_count_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/projection_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/single_column_projection_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/table_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_filter_group_by_agg_with_same_name/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_lower_projection_sort_key/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_no_cart_join/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_subquery_aliased/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Due: none

chore(deps): relax snowflake pyarrow dependency
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

fix(clickhouse): raise OperationNotDefinedError if operation is not supported
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
Due: none

chore(deps): bump minimum required version of parsy
  poetry.lock
  pyproject.toml
Due: prettier

fix(snowflake): handle the case where pyarrow isn't installed
  ibis/backends/snowflake/__init__.py
Due: none

refactor(duckdb): use a proper sqlalchemy construct for structs and reduce casting
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/duckdb/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Due: none

fix(duckdb): quote identifiers if necessary in `struct_pack`
  ibis/backends/duckdb/registry.py
Due: none

test(sqlalchemy): regenerate sql for case statements
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/trino/out.sql
Due: none

fix(clickhouse): fix decimal literal
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
Due: none

style: remove space
  ibis/backends/clickhouse/compiler/values.py
Due: none

docs(api): document deferred API and its pitfalls
  .pre-commit-config.yaml
  docs/api/expressions/top_level.md
  ibis/expr/api.py
Due: prettier

feat(clickhouse): implement ops.TimestampFromYMDHMS, ops.DateFromYMD
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
Due: none

feat(clickhouse): implement ops.ExtractMillisecond
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_temporal.py
Due: none

test(clickhouse): enable xpassing temporal test
  ibis/backends/tests/test_temporal.py
Due: none

chore(clickhouse): cast milliseconds to the right type
  ibis/backends/clickhouse/compiler/values.py
Due: none

fix(duckdb): ensure that `temp_directory` exists
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

fix(pandas): don't try to dispatch on arrow dtype if not available
  ibis/backends/pandas/client.py
Due: none

feat(datatype/schema): support datatype and schema declaration using type annotated classes
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_schema.py
Due: none

build(nix): fix nix tests
  nix/ibis.nix
Due: nixpkgs-fmt, statix

build: remove `mkdocs-table-reader-plugin` and explicit `tomli` dependency
  gen_matrix.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier
