Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

refactor(sql): centralize compilation of `sample` with a shared rewrite rule
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/test_generic.py
Due: none

feat(polars): implement `sample`
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
Due: none

test: add unit test and documentation
  ibis/backends/__init__.py
  ibis/backends/tests/test_register.py
Due: none

doc: add docstring example for `topk`
  ibis/expr/types/generic.py
Due: none

feat(mssql): add lpad and rpad ops (#10060)
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
Due: none

feat(api): add `name` argument to `topk`
  ibis/expr/types/generic.py
  ibis/tests/expr/test_analytics.py
Due: none

refactor(mssql): simplify lpad and rpad ops (#10085)
  ibis/backends/sql/compilers/mssql.py
Due: none

test(backends): use slightly more useful assertions for call count
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
Due: none

test(bigquery): make test non-strict xfail (#10081)
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_client.py
Due: none

depr(api): deprecate `bool_val.negate()`/`-bool_val` in favor of `~bool_val`
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_value_exprs.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/sql/test_sql.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/logical.py
  ibis/tests/expr/test_value_exprs.py
Due: none

depr(selectors): deprecate `c` and `r` selectors in favor of `cols` and `index`
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_quarto.yml
  docs/how-to/visualization/matplotlib.qmd
  docs/posts/ibis-to-file/index.qmd
  docs/posts/selectors/index.qmd
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/expr/types/relations.py
  ibis/selectors.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_relocate.py
  ibis/tests/expr/test_selectors.py
  ibis/tests/expr/test_table.py
Due: prettier

fix(datafusion): raise when attempting to create temp table (#10072)
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_string.py
Due: none

ci: `before` is a top level field (#10129)
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
Due: prettier

chore(deps): remove the `pandas` extra (#10132)
  README.md
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/concepts/internals.qmd
  docs/images/backends.png
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  ibis/backends/tests/test_temporal.py
  ibis/formats/pandas.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

test(polars): replace register with create_table
  ibis/backends/polars/tests/conftest.py
Due: none

ci(backends): run backend doctests in CI (#9970)
  .github/workflows/ibis-backends.yml
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_connect.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
  justfile
Due: prettier, just

docs(how-to): fix the `ffill`/`bfill` how-to guide
  docs/how-to/timeseries/ffill_bfill_w_window.qmd
Due: none

refactor(table-api): unify exception type for all backends to `TableNotFound` when a table does not exist (#9695)
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_window.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/test_client.py
  ibis/common/exceptions.py
Due: none

docs(code_of_conduct): update committee members and reporting email (#10117)
  CODE_OF_CONDUCT.md
Due: prettier

perf(backends): speed up most memtable existence checks (#10067)
  ibis/backends/clickhouse/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Due: none

test(datafusion): replace register with create_table or read
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/datafusion/tests/test_register.py
Due: none

ci: disable verification of removed deprecations
  .releaserc.js
Due: prettier

fix(docs): update invalid read_parquet link
  docs/how-to/input-output/duckdb-parquet.qmd
Due: none

ci: test examples (#10098)
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
Due: prettier

fix(repr): remove expression printing from exception message (#10130)
  ibis/backends/tests/test_interactive.py
  ibis/expr/types/generic.py
Due: none

feat(api): add `name` argument to `value_counts`
  ibis/expr/types/generic.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
Due: none

docs: avoid needing to render API docs for any preview/render invocation (#10106)
  docs/_quarto.yml
  docs/backends/support/operations.qmd
Due: prettier

test(polars): unxfail polars timestamp truncation tests by casting the expected result dtype (#10040)
  ibis/backends/tests/test_temporal.py
Due: none

test: skip generic operation test that uses pandas if pandas is not installed
  ibis/expr/operations/tests/test_generic.py
Due: none

refactor(bigquery): remove unnecessary and misspelled bigquery string find implementation (#10119)
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

test(dot-columns): add benchmark for columns property access
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

docs(security): update security report address to point to private Zulip channel (#10118)
  SECURITY.md
Due: prettier

test(sigcheck): check function signature parity across backends (#10008)
  ibis/backends/conftest.py
  ibis/backends/tests/signature/__init__.py
  ibis/backends/tests/signature/tests/test_compatible.py
  ibis/backends/tests/signature/typecheck.py
  ibis/backends/tests/test_signatures.py
Due: none

chore(release): 9.5.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
Due: taplo

refactor(duckdb): replace register usage with read
  ibis/backends/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Due: none

test: remove dead fixture
  ibis/backends/tests/test_dot_sql.py
Due: none

test(bigquery): check the correct exception for missing tables (#10137)
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

ci: use jupyter cache in docs ci builds to speed up docs builds (#10128)
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
