Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(trino,pyspark): improve null handling in array filter (#10448)
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/tests/test_array.py
Due: none

chore: remove some uses of sg.exp for sge
  ibis/backends/sql/__init__.py
Due: none

test(mysql): use a dash in the database name
  compose.yaml
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/tests/test_client.py
Due: prettier

fix(mysql): handle database names that must be quoted in `list_tables`
  ibis/backends/mysql/__init__.py
Due: none

fix(mysql): handle database names that must be quoted in `list_tables` (#10466)
  compose.yaml
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/sql/__init__.py
  ibis/backends/tests/test_client.py
Due: prettier

style(trino): dedent
  ibis/backends/sql/compilers/trino.py
Due: none

fix(snowflake): make semantics of array filtering match everything else
  ibis/backends/sql/compilers/snowflake.py
Due: none

fix(snowflake): make semantics of array filtering match everything else (#10469)
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/trino.py
Due: none

refactor(duckdb): pass `temp_directory` through as-is to `duckdb.connect`
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

fix(mssql): escape special characters in passwords (#10437)
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
Due: none

fix(datatypes): ensure that decimals can be upcast when source precision, scale are lte to their target fields
  ibis/backends/tests/test_generic.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/types/relations.py
Due: none

fix(datatypes): ensure that decimals can be upcast when source precision, scale are lte to their target fields (#10470)
  ibis/backends/tests/test_generic.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/types/relations.py
Due: none

docs(examples): add cumsum, cummean, and sum examples
  ibis/expr/types/numeric.py
Due: none

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Due: none

chore(duckdb): revert sql generation of struct construction
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
Due: none

test(bigquery): xfail bigquery when testing decimal column describe due to limited decimal type support
  ibis/backends/tests/test_generic.py
Due: none

test(bigquery): xfail bigquery when testing decimal column describe due to limited decimal type support (#10471)
  ibis/backends/tests/test_generic.py
Due: none

docs(examples): add cumsum, cummean, and sum examples (#10474)
  ibis/expr/types/numeric.py
Due: none

chore: kill some whitespace and punctuation
  nix/overlay.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): implement Nix testing as separate derivation from env
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/ibis.nix
  nix/overlay.nix
  nix/tests.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: make the small devenv not editable
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

chore: s/optional/optionals/g
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

ci(google-auth): use workload identity federation instead of json
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

feat(pyarrow): support objects implementing `__arrow_c_stream__` in `ibis.memtable`
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Due: none

chore(deps): implement Nix testing as separate derivation from env (#10473)
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/ibis.nix
  nix/overlay.nix
  nix/tests.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

feat(pyarrow): support arrow PyCapsule interface in more places (#9663)
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Due: none

test(flink): disable pyarrow c stream test
  ibis/backends/tests/test_generic.py
Due: none

test(flink): disable pyarrow c stream test (#10476)
  ibis/backends/tests/test_generic.py
Due: none

fix(sql): remove constants in order_by
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/flink/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/trino/out.sql
  ibis/backends/tests/test_sql.py
Due: none

fix(geometry): make output handling robust to text or bytes
  ibis/backends/bigquery/converter.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/difference/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/intersection/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/union/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_simplify/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/buffer/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/centroid/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/end_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/point_n/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/start_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary_union/out.sql
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/expr/types/pretty.py
Due: none

test(duckdb): add test for chunk_size param in to_pyarrow_batches
  ibis/backends/duckdb/tests/test_client.py
Due: none

docs(examples): add mean, bucket, histogram examples
  ibis/expr/types/numeric.py
Due: none

feat(geospatial): accept geopandas GDFs in `memtable`
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Due: none

test(decimal): add xfailing test constructing memtable decimal columns with integers
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_numeric.py
Due: none

fixup: fix default backend, make sample data smaller
  ibis/backends/duckdb/tests/test_client.py
Due: none

docs(examples): add std, var, corr, and cov usage examples
  ibis/expr/types/numeric.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
