Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

feat(datafusion): add support for scalar pyarrow UDFs
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_udf.py
Due: none

ci(examples): address flakiness in `test_examples`
  ibis/backends/conftest.py
  ibis/examples/tests/test_examples.py
Due: none

fix(examples): use filelock to prevent pooch from clobbering files when fetching concurrently
  ibis/examples/__init__.py
  poetry.lock
  pyproject.toml
Due: prettier

feat(duckdb): support motherduck
  ibis/backends/duckdb/__init__.py
Due: none

docs(duckdb): add quick explainer on connecting to motherduck
  docs/backends/duckdb.md
Due: prettier

docs(blog): add Ibis + PyTorch + DuckDB blog post
  docs/SUMMARY.md
  docs/blog/rendered/model.py
  docs/blog/rendered/torch.ipynb
Due: prettier

chore: fix spelling errors and clarify inference versus prediction
  docs/blog/rendered/model.py
  docs/blog/rendered/torch.ipynb
Due: none

feat(api): add ALL_CAPS option to Table.relabel
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

chore: use try_cast from sqlalchemy
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/trino/registry.py
Due: none

chore: duckdb: rely on try_cast() from duckdb-engine
  ibis/backends/duckdb/registry.py
Due: none

refactor(ci): roll flink into the existing backend ci matrix
  .github/workflows/ibis-backends.yml
Due: prettier

fix(deps): support multipledispatch version 1
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

ci(duckdb): remove `backend_nodata`/`con_nodata` to avoid `TestConf()` extension install race condition
  ibis/backends/conftest.py
  ibis/backends/tests/test_sql.py
Due: none

fix(examples): move lockfile creation to data directory
  .github/workflows/ibis-backends.yml
  ibis/examples/__init__.py
  ibis/examples/tests/test_examples.py
Due: prettier

chore: drop support for Python 3.8
  .github/workflows/conda-lock.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  ibis/backends/tests/test_aggregation.py
  ibis/util.py
  nix/overlay.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier, nixpkgs-fmt, statix, deadnix

chore(py38): remove 3.8 specific xfails
  ibis/backends/tests/test_udf.py
Due: none

fix(sql): close cursor returned by `.execute`
  ibis/backends/base/sql/alchemy/__init__.py
Due: none

fix(mysql): disable reset (rollback) when the single connection is returned to the pool
  ibis/backends/mysql/__init__.py
Due: none

chore: move cursor_batches into an isolated function
  ibis/backends/base/sql/__init__.py
Due: none

refactor(api): remove automatic group by count naming
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_count_star/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_assign_labels/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name2/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/snapshots/test_compiler/test_having_size/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_analysis_bug/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_operation/e2.sql
Due: none

feat(cast): add table-level try_cast
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Due: none

refactor(imports): move old UDF implementation to ibis.legacy module
  ibis/__init__.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/dask/tests/execution/test_window.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/trace.py
  ibis/backends/dask/udf.py
  ibis/backends/datafusion/tests/test_udf.py
  ibis/backends/impala/udf.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/trace.py
  ibis/backends/pandas/udf.py
  ibis/backends/polars/tests/test_udf.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/postgres/udf.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/interactive.py
  ibis/legacy/__init__.py
  ibis/legacy/udf/__init__.py
  ibis/legacy/udf/validate.py
  ibis/legacy/udf/vectorized.py
  ibis/tests/expr/test_format.py
Due: none

ci: remove unused test report workflow
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/test-report.yml
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
