Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

wrap lines
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

modify quote display
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

more cleanup
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
  docs/posts/duckdb-for-rag/thumbnail.png
Due: prettier

test(druid): fix newly passing tests and failing decimal overflow test
  ibis/backends/druid/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
Due: none

update date, add duckdb tag
  docs/posts/why-duckdb/index.qmd
Due: none

docs(blog): blog on why DuckDB is the default backend (#8378)
  docs/posts/why-duckdb/index.qmd
Due: none

fix(pyspark): ensure that `to_delta` works and is tested
  .github/workflows/ibis-backends.yml
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_register.py
Due: prettier

feat(mssql): add datatype mapping for `hierarchyid`
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/mssql/tests/test_client.py
Due: none

feat(mssql): add datatype mapping for `hierarchyid` (#8397)
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/mssql/tests/test_client.py
Due: none

refactor(udfs): conslidate builtin udf compilation and failure modes for unimplemented udfs
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
Due: none

mostly code from feedback
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/.gitignore
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

title change
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

refactor(udfs): consolidate builtin udf compilation and failure modes for unimplemented udfs (#8398)
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
Due: none

refactor: replace complicated `json.dumps()` logic
  ibis/backends/flink/tests/test_udf.py
  ibis/backends/mysql/tests/test_client.py
Due: none

refactor(flink): use the consolidated UDF handling
  ibis/backends/flink/__init__.py
Due: none

fix(mssql): restore any, all and cumulative versions
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_window.py
Due: none

Update ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/__init__.py
Due: none

feat(flink): implement UDF support for the backend (#8142)
  docker/flink/Dockerfile
  ibis/backends/base/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/test_udf.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/test_udf.py
Due: none

refactor(modules): replace SQLGlotBackend with SQLBackend
  docs/backends/impala.qmd
  docs/support_matrix.qmd
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Due: none

test(snowflake): allow connecting with config files for more convenient test running
  ibis/backends/snowflake/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

chore: less soupy
  ibis/backends/snowflake/tests/conftest.py
Due: none

c: try configuring algolia
  netlify.toml
Due: taplo

ci: enabling might help
  netlify.toml
Due: taplo

fix(mssql): support aggregations with any/all
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

ci: ignore irrelvant jobs
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

docs: improve searchability using algolia
  .github/workflows/upload-algolia-index.yml
  .github/workflows/upload-algolia.py
  docs/_quarto.yml
Due: prettier

chore: clean search.json to be able to upload index
  .github/workflows/upload-algolia.py
Due: none

chore: fix typo
  .github/workflows/upload-algolia.py
Due: none

fix(mssql): restore any, all and cumulative versions (#8409)
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_window.py
Due: none

code feedback
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

remove imports, shorten filepath
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Due: prettier

chore: add some context and wrap in main()
  .github/workflows/upload-algolia.py
Due: none

docs: add blog on using duckdb for RAG (#8387)
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
  docs/posts/duckdb-for-rag/thumbnail.png
Due: prettier

fix(mssql): restore unbounded window functions
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_window.py
Due: none

chore: add docs links and us os.envrion
  .github/workflows/upload-algolia.py
Due: none

fix(mssql): restore unbounded window functions (#8411)
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_window.py
Due: none

chore: avoid writing to disk
  .github/workflows/upload-algolia.py
Due: none

chore: use strictly larger in condition
  .github/workflows/upload-algolia.py
Due: none
