Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

refactor(sqlglot): clean up `explode` usage
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
Due: none

feat(pyspark): add support for PySpark 3.5
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
  ibis/backends/pyspark/converter.py
  ibis/backends/pyspark/datatypes.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_register.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore: rename to `dereference_comparison`
  ibis/expr/types/joins.py
Due: none

chore(deps): bump pyspark to 3.5 in poetry lock file
  poetry.lock
  requirements-dev.txt
Due: none

fix(ir): only dereference comparisons not generic binary operations
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Due: none

chore(deps): relock
  requirements-dev.txt
Due: none

refactor(pyspark): remove sqlalchemy dependency from pyspark
  ibis/backends/pyspark/__init__.py
  poetry.lock
  pyproject.toml
Due: taplo

fix(polars): user newer `drop` API in asof join implementation
  ibis/backends/polars/compiler.py
Due: none

fix(polars): user newer `drop` API to avoid deprecation warning
  ibis/backends/polars/compiler.py
Due: none

refactor(pandas): simplify pandas helpers
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/helpers.py
  ibis/backends/tests/test_window.py
Due: none

test(generic): clean up try_cast to null test
  ibis/backends/tests/test_generic.py
Due: none

refactor(druid): port to sqlglot
  .github/workflows/ibis-backends.yml
  docker/druid/environment
  ibis/backends/druid/__init__.py
  ibis/backends/druid/compiler.py
  ibis/backends/druid/datatypes.py
  ibis/backends/druid/registry.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/druid/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/druid/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

ci(bigquery): install geospatial extra
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

test: remove unused `spread_type` function
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
Due: none

chore(bigquery-datatypes): fix type annotations and raise uniform error types for datatype conversion
  ibis/backends/base/sqlglot/datatypes.py
Due: none

chore(impala): remove unused imports
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_window.py
Due: none

chore: add docstring for null ordering transform
  ibis/backends/bigquery/__init__.py
Due: none

fix(snowflake): handle udf function naming
  ibis/backends/snowflake/__init__.py
Due: none

refactor(exasol): port to sqlglot (#8032)
  .github/workflows/ibis-backends.yml
  ci/schema/exasol.sql
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/exasol/__init__.py
  ibis/backends/exasol/compiler.py
  ibis/backends/exasol/converter.py
  ibis/backends/exasol/datatypes.py
  ibis/backends/exasol/registry.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/exasol/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/exasol/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

test(bigquery): skip geospatial execution test when geopandas not installed
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

ci(exasol): run ci serially (#8042)
  .github/workflows/ibis-backends.yml
  ibis/backends/tests/test_dot_sql.py
Due: prettier

chore(sql): regenerate snapshots for clickhouse, duckdb and postgres
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_union_order_by/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_filter_self_join_analysis_bug/result.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_cte_extract/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_in_union/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_used_for_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_topk_analysis_bug/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
Due: none

feat(sql): extract common table expressions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/rewrites.py
Due: none

test: account for new error type
  ibis/backends/bigquery/tests/unit/test_datatypes.py
  ibis/backends/tests/test_temporal.py
Due: none

fix(trino): compile property literal values directly instead of going throughh the pipeline
  ibis/backends/trino/__init__.py
Due: none

chore(impala): regen snapshots
  ibis/backends/impala/tests/snapshots/test_sql/test_join_aliasing/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name2/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_limit_cte_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_multiple_ctes/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
Due: none

chore(sql): regenerate snapshots for bigquery
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_projection_fusion_only_peeks_at_immediate_parent/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-True/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-True/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
Due: none

chore(sql): regenerate snapshots for trino
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/trino/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/trino/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/trino/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/trino/h21.sql
Due: none

chore(sql): regenerate snapshots for snowflake
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/snowflake/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/snowflake/h21.sql
Due: none

chore(sql): regenerate snapshots for pyspark
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/pyspark/out.sql
Due: none

test(exasol): account for unordered results in window function tests
  ibis/backends/tests/test_window.py
Due: none

ci(impala): run tests in series
  .github/workflows/ibis-backends.yml
Due: prettier

chore(exasol): avoid complex websocket callback for inserting memtables
  ibis/backends/exasol/__init__.py
Due: none

refactor(mssql): port to sqlglot
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mssql/datatypes.py
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mssql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore(deps): remove sqlalchemy dependencies from oracle extra
  poetry.lock
  pyproject.toml
Due: taplo

test(duckdb): test that column name case is preserved when inserting
  ibis/backends/duckdb/tests/test_client.py
Due: none

refactor(oracle): port to sqlglot (#8020)
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/conftest.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/compiler.py
  ibis/backends/oracle/converter.py
  ibis/backends/oracle/datatypes.py
  ibis/backends/oracle/registry.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/oracle/tests/test_datatypes.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/oracle/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/oracle/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Due: prettier

refactor(polars): allow passing temp=False to polars create_table
  ibis/backends/polars/__init__.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
