Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

test(backends): strict validate exceptions in test_window
  ibis/backends/conftest.py
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_window.py
Due: none

ci: try to fix conda lock generation
  .github/workflows/conda-lock.yml
  ci/conda-lock/condarc
  ci/conda-lock/generate.sh
Due: prettier

test(duckdb): make remaining tests pass through extension load on init
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

ci: give conda-lock the correct conda argument [skip ci]
  ci/conda-lock/generate.sh
Due: none

build: format javascript with prettier
  .pre-commit-config.yaml
  .releaserc.js
  .taplo.toml
Due: prettier

build: format toml with `taplo` instead of `prettier`
  .pre-commit-config.yaml
  .prettierignore
  .taplo.toml
  flake.nix
  nix/overlay.nix
  pyproject.toml
Due: prettier, nixpkgs-fmt, statix, deadnix

feat(api): remove default join column deduplication behavior
  ibis/expr/analysis.py
  ibis/expr/decompile.py
  ibis/expr/operations/relations.py
  ibis/expr/sql.py
  ibis/expr/types/relations.py
Due: none

fix(ux): use guaranteed length-1 characters for `NULL` values
  docs/blog/ibis-examples.md
  docs/blog/selectors.md
  docs/getting_started.md
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/json.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_pretty_repr.py
Due: prettier

feat(ux): move `ibis.expr.selectors` to `ibis.selectors` and deprecate for removal in 6.0
  docs/api/selectors.md
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/selectors.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/interactive.py
  ibis/selectors.py
  ibis/tests/expr/test_table.py
  justfile
  pyproject.toml
Due: prettier, just

test(duckdb): run register tests with a loadgroup on windows
  ibis/backends/duckdb/tests/test_register.py
Due: none

ci: avoid building macos nix devShell
  .github/workflows/nix.yml
Due: prettier

feat(datafusion): support in-memory objects
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
Due: none

ci: exclude datafusion on windows
  .github/workflows/ibis-backends.yml
Due: prettier

chore: fix failing tests in `ibis/tests`
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/sql/snapshots/test_compiler/test_table_drop_with_filter/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_aggregate_count_joined/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_anti_join/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_join_between_joins/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_join_just_materialized/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_multiple_joins/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_semi_join/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_simple_joins/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_subquery_in_union/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_where_no_pushdown_possible/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_where_with_join/decompiled.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_lower_projection_sort_key/decompiled.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Due: none

chore: fix failing tests in ibis/backends
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_join.py
Due: none

chore: expand tests for new join lname/rname parameters
  ibis/expr/operations/relations.py
  ibis/tests/expr/test_table.py
Due: none

docs(penguins): add citation for palmer penguins data
  docs/getting_started.md
  ibis/examples/CITATIONS.md
Due: prettier

fix(duckdb): workaround upstream bug when scanning numpy.str_ objects
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

chore: increase line length limit for commitlint
  .commitlintrc.json
Due: prettier

docs(penguins): change to flipper
  docs/getting_started.md
Due: prettier

feat(sql): use temp views where possible
  ibis/backends/duckdb/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/__init__.py
Due: none

ci: give each duckdb process outside of the backend suite its own extensions directory
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

refactor: generate uuid-based names for temp tables
  ibis/backends/base/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_register.py
  ibis/expr/api.py
  ibis/util.py
Due: none

docs: add warning about comparisons to `None`
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
Due: none

chore: remove dead snapshot files
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/years/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/row_number/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/precision/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/scale/out.sql
  ibis/backends/tests/snapshots/test_string/test_rlike/snowflake/out.sql
Due: none

revert: chore: remove dead snapshot files
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/years/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/row_number/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/precision/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/scale/out.sql
  ibis/backends/tests/snapshots/test_string/test_rlike/snowflake/out.sql
Due: none

chore: bring back incorrectly removed snapshots
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/row_number/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/precision/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/scale/out.sql
Due: none
