Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade, prettier

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

nix-linter:
  entry: nix-linter
  language: system
  name: nix-linter
  pass_filenames: true
  stages:
  - commit

nixpkgs-fmt:
  entry: nixpkgs-fmt --check
  language: system
  name: nixpkgs-fmt
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py37-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

chore: move nix linting and formatting out of pre-commit
  .github/workflows/ibis-main.yml
  .pre-commit-config.yaml
Due: prettier

chore: remove nix job os matrix element
  .github/workflows/ibis-main.yml
Due: prettier

chore: remove dead scripts
  dev/genrelease.py
  dev/merge-pr.py
Due: black, flake8, pyupgrade

chore(setup.py): regen
  setup.py
Due: black, flake8

refactor(ci): remove all occurrences of Arg(*)
  docs/source/user_guide/design.rst
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/postgres/udf.py
  ibis/expr/api.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/arrays.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/geospatial.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/maps.py
  ibis/expr/operations/numeric.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/temporal.py
  ibis/expr/operations/vectorized.py
  ibis/expr/rules.py
  ibis/expr/signature.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_signature.py
  ibis/tests/expr/test_sql_builtins.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
Due: black, flake8, pyupgrade

chore: add pretter pre-commit check
  .pre-commit-config.yaml
Due: prettier

chore: bring back pre-commit; add `prettier` formatting
  .github/workflows/conda-lock-pr.yml
  .github/workflows/create-rotate-key-issue.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/test-report.yml
  .gitignore
  .pep8speaks.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.toml
  README.md
  asv.conf.json
  ci/recipe/meta.yaml
  codecov.yml
  docs/web/about/team.md
  docs/web/community/ecosystem.md
  docs/web/contribute.md
  docs/web/getting_started.md
  nix/default.nix
  nix/sources.json
  pre-commit.nix
  shell.nix
Due: nix-linter, nixpkgs-fmt, prettier

perf: fast path for simple column selection
  ibis/backends/dask/execution/selection.py
Due: black, flake8, pyupgrade

fix(format): remove some newlines from formatted expr repr
  ibis/expr/format.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

ci: reduce the amount of downloaded package noise in ci
  .github/workflows/ibis-docs-lint.yml
Due: prettier

bug: fix postgres udfs and reenable ci tests
  .github/workflows/ibis-backends.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/udf.py
Due: black, flake8, pyupgrade, prettier

fix: fix postgres udfs and reenable ci tests
  .github/workflows/ibis-backends.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/udf.py
Due: black, flake8, pyupgrade, prettier

docs: fix typo
  docs/source/backends/datafusion.rst
Due: none

chore(format): fix double quotes and alter the location of refs and names in relations
  ibis/expr/format.py
  ibis/expr/types.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

ci(docs): add dummy jobs that return in place of skipped required jobs
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-main-skip-helper.yml
Due: prettier

merge
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

pass first check
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

undo pass
  ibis/expr/schema.py
Due: black, flake8, pyupgrade

remove extra class
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

pep8
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

refactor: unify dask and pandas selection logic, fix dask bug
  ibis/backends/dask/execution/selection.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/tests/test_generic.py
Due: black, flake8, pyupgrade

chore(tests): remove all instances of Assert False
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_hdfs.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_case.py
  ibis/tests/expr/test_sql_builtins.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/expr/test_timestamp.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

chore(dev-deps): mypy 0.921 -> 0.931
  poetry.lock
  pyproject.toml
Due: prettier

ci: try a different java distribution
  .github/workflows/ibis-backends.yml
Due: prettier

refactor: remove shim which is no longer needed
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/udf.py
Due: black, flake8, pyupgrade

fix(context-adjustment): pass scope when calling adjust_context in pyspark backend
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/test_timecontext.py
Due: black, flake8, pyupgrade

style: make `scope` a _required_ keyword-only argument
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/expr/timecontext.py
Due: black, flake8, pyupgrade

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  nix-linter: any of: \.nix$, but not: (nix/sources.nix)
  nixpkgs-fmt: any of: \.nix$, but not: (nix/sources.nix)
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
