Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade, prettier

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: nix-linter
        exclude: (nix/sources.nix)
        files: \.nix$
        id: nix-linter
        language: system
        name: nix-linter
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or: []
      - entry: nixpkgs-fmt --check
        exclude: (nix/sources.nix)
        files: \.nix$
        id: nixpkgs-fmt
        language: system
        name: nixpkgs-fmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or: []
      - entry: pyupgrade --py37-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
    repo: local

test: add test for kudu-python error message
  ibis/backends/impala/tests/test_ddl.py
Due: black, flake8, pyupgrade

ci: make postgres docker easier to use
  .github/workflows/ibis-backends.yml
  .prettierignore
  docker-compose.yml
  docker/postgres/Dockerfile
  docs/web/contribute/backend_test_suite.md
Due: prettier

chore(deps): lock file maintenance
  poetry.lock
Due: none

refactor(kudu): remove support for use of kudu through kudu-python
  ibis/backends/impala/__init__.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_kudu_support.py
Due: black, flake8, pyupgrade

test: add impala sql test
  ibis/backends/impala/tests/test_sql.py
Due: black, flake8, pyupgrade

test: add window expression test
  ibis/tests/expr/test_window_functions.py
Due: black, flake8, pyupgrade

fix: combine windows during windowization
  ibis/expr/analysis.py
  ibis/expr/window.py
Due: black, flake8, pyupgrade

test: add test for #2744
  ibis/backends/csv/__init__.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

test: remove duplicate test code
  ibis/tests/sql/test_compiler.py
Due: black, flake8, pyupgrade

test: fix test that cannot be correct with the existing optimization
  ibis/tests/sql/test_compiler.py
Due: black, flake8, pyupgrade

fix: don't lift projections
  ibis/expr/analysis.py
Due: black, flake8, pyupgrade

fix: consider roots shared if they are compatible
  ibis/backends/csv/__init__.py
  ibis/expr/analysis.py
Due: black, flake8, pyupgrade

fix: ibis.expr.signature.Parameter is not pickleable
  ibis/expr/signature.py
  ibis/tests/expr/test_signature.py
  ibis/tests/util.py
Due: black, flake8, pyupgrade

refactor(api): remove materialize
  docs/source/tutorial/02-Aggregates-Joins.ipynb
  docs/source/user_guide/geospatial_analysis.ipynb
  docs/source/user_guide/sql.rst
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/dask/execution/join.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/types.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
  poetry.lock
  pyproject.toml
  shell.nix
Due: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade, prettier

fix: prevent unintentional cross joins in mutate + filter
  ibis/expr/analysis.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

refactor: move away from unittest entirely
  ibis/tests/expr/mocks.py
  ibis/tests/sql/conftest.py
  ibis/tests/sql/test_ast_builder.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_non_tabular_results.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

fix: fix float vs real data type detection in sqlalchemy
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_analytic_functions.py
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/impala/tests/test_coalesce_greater_least.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_hdfs.py
  ibis/backends/impala/tests/test_in_not_in.py
  ibis/backends/impala/tests/test_metadata.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_string_builtins.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/impala/tests/test_value_exprs.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/conftest.py
  ibis/tests/sql/test_non_tabular_results.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Due: black, flake8, pyupgrade

test: fix failing pandas, dask, parquet and hdf5 tests
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/parquet/__init__.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/tests/test_join.py
  shell.nix
Due: black, flake8, nix-linter, nixpkgs-fmt, pyupgrade

test: skip anti/semi join if not implemented
  ibis/backends/tests/test_join.py
Due: black, flake8, pyupgrade

test(api): remove unnecessary api test
  ibis/tests/test_api.py
Due: black, flake8, pyupgrade

Add fugue to ecosystem
  docs/web/community/ecosystem.md
Due: prettier

update
  docs/web/community/ecosystem.md
Due: prettier

fix: store schema on the pandas backend to allow correct inference
  .rgignore
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/test_client.py
  ibis/common/exceptions.py
Due: black, flake8, pyupgrade

test: remove unnecessary skip on test_insert
  ibis/backends/clickhouse/tests/test_client.py
Due: black, flake8, pyupgrade
