Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

docs: bring back backend API documentation
  docs/backends/_templates/api.qmd
  docs/backends/_utils.py
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
  docs/styles.css
Due: none

test: add astronauts data
  .envrc
  ci/schema/clickhouse.sql
  ci/schema/druid.sql
  ci/schema/mssql.sql
  ci/schema/mysql.sql
  ci/schema/oracle.sql
  ci/schema/oracle/astronauts.ctl
  ci/schema/oracle/awards_players.ctl
  ci/schema/oracle/batting.ctl
  ci/schema/oracle/diamonds.ctl
  ci/schema/oracle/functional_alltypes.ctl
  ci/schema/postgres.sql
  ci/schema/snowflake.sql
  ci/schema/sqlite.sql
  ibis/backends/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

test: add failing test case for projection that removes sorting
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/tests/test_dot_sql.py
Due: none

fix(sql): avoid reselecting relations that do not need it to prevent dropping order by clauses
  ibis/backends/base/sql/alchemy/query_builder.py
Due: none

chore: decrease header level
  docs/backends/_templates/api.qmd
Due: none

build: bump poetry2nix which includes a poetry version bump to 1.6.1
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix.yml
  .github/workflows/pre-release.yml
  flake.lock
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, just

refactor(api): remove string as a parent type from expression API
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/value.py
  ibis/expr/types/inet.py
  ibis/expr/types/uuid.py
  ibis/formats/numpy.py
Due: none

feat(flink): implement translation of `NULLIFZERO`
  ibis/backends/flink/registry.py
Due: none

fix(common): support optional keyword-only parameters when validating callables
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

fix(api): support passing `functools.partial` objects to array `.map`/`.filter` methods
  ibis/backends/tests/test_array.py
  ibis/expr/operations/arrays.py
  ibis/expr/types/arrays.py
  ibis/tests/expr/test_value_exprs.py
Due: none

test(duckdb): fix extension loading tests to support parallel execution
  ibis/backends/duckdb/tests/test_client.py
Due: none

fix(api): improve error message for bad arguments to `Table.select`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(patterns): support optional keyword arguments in CallableWith
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

chore(deps): remove `pins` nix override and tell direnv to watch some additional files
  .envrc
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

fix(format): support rendering empty schemas
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_format_table_with_empty_schema/repr.txt
  ibis/expr/tests/test_format.py
Due: none

ci: remove unused branches and ignore envrc file
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

docs: ensure that all parameters elements overflow with a scrollbar
  docs/styles.css
Due: none

docs: fix setuptools extra install style
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

docs: add `ibis.connect` to `top_level` API docs
  docs/_quarto.yml
  ibis/backends/base/__init__.py
Due: prettier

docs: remove duckdb code annotations
  docs/backends/duckdb.qmd
Due: none

docs: add `functools.partial` and lambda closures to `ArrayValue.map` and `ArrayValue.filter`
  ibis/expr/types/arrays.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
