Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

ci: restructure curl invocation
  .github/workflows/ibis-backends.yml
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_client.py
  justfile
  poetry-overrides.nix
Due: prettier, just, nixpkgs-fmt, statix, deadnix

ci(pyspark): name the output path when downloading jar (#10156)
  .github/workflows/ibis-backends.yml
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_client.py
  justfile
  poetry-overrides.nix
Due: prettier, just, nixpkgs-fmt, statix, deadnix

ci: run datafusion tests in series to avoid high memory usage
  .github/workflows/ibis-backends.yml
Due: prettier

ci: run datafusion tests in series to avoid high memory usage (#10158)
  .github/workflows/ibis-backends.yml
Due: prettier

ci(bigquery): avoid race condition in create table by using a dataset scoped to a specific user and python version
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

ci(bigquery): avoid race condition in create table by using a dataset scoped to a specific user and python version (#10159)
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

chore(mysql): port to MySQLdb instead of pymysql
  .github/renovate.json
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_client.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

docs(datafusion): add imdb live demo reference to end of presentation
  docs/presentations/datafusion-meetup-nyc-2024/talk.qmd
Due: none

chore(mysql): port to MySQLdb instead of pymysql (#10077)
  .github/renovate.json
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_client.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

docs(datafusion): add imdb live demo reference to end of presentation (#10162)
  docs/presentations/datafusion-meetup-nyc-2024/talk.qmd
Due: none

docs(table-expr): include inherited methods (all `to_*` methods)
  docs/_quarto.yml
Due: prettier

fix(memtables): track memtables with a weakset to allow overwriting tables with the same name but different data
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
Due: none

docs(synonyms): add synonym list to redirect searches with no results
  .github/workflows/algolia/configure-algolia-api.py
Due: none

docs(table-expr): include inherited methods (all `to_*` methods) (#10164)
  docs/_quarto.yml
Due: prettier

docs(synonyms): add synonym list to redirect searches with no results (#10163)
  .github/workflows/algolia/configure-algolia-api.py
Due: none

test(bigquery): avoid trying to clobber existing tables by generating a name during create memtable tests
  ibis/backends/tests/test_client.py
Due: none

test(bigquery): avoid trying to clobber existing tables by generating a name during create memtable tests (#10165)
  ibis/backends/tests/test_client.py
Due: none

feat(api): grouping sets/rollup/cube
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/expr/api.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_aggregation.py
Due: none

tests(tpcds): query 05; adjust to deal with obsessively anti-null clickhouse behavior
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/05.sql
Due: none

test(tpcds): query 14
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

test(tpcds): query 18 and hold clickhouses hand
  .codespellrc
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/18.sql
Due: none

test(tpcds): query 80
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/80.sql
Due: none

chore: remove setting
  ibis/backends/clickhouse/tests/conftest.py
Due: none

chore: fix decompiler
  ibis/expr/decompile.py
  ibis/expr/tests/snapshots/test_format/test_aggregate_arg_names/repr.txt
  ibis/expr/tests/snapshots/test_format/test_complex_repr/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_table/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
Due: none

chore: fix expression tests
  ibis/backends/sql/compilers/base.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
Due: none

chore: split up aggregate compilation to avoid copypasta
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/datafusion.py
Due: none

chore(datafusion): regen sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
Due: none

chore: move `group_id` to `groupby.py`
  ibis/expr/api.py
  ibis/expr/types/groupby.py
Due: none

chore: support deferreds in grouping sets
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/expr/types/groupby.py
Due: none

chore: add docstrings to cube, rollup and grouping_sets
  ibis/expr/types/groupby.py
Due: none

chore: add docstring to group_id function
  ibis/expr/types/groupby.py
Due: none

chore: add callout about cube cost
  ibis/expr/types/groupby.py
Due: none

chore: remove use of deprecated `.c` selector
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

docs(repl): remove hacks to support ibis-in-the-browser
  docs/tutorials/browser/repl.qmd
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo, just

fix(datatype-parsing): ensure that geospatial types are round trippable through the data type parser
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

fix(datatype-parsing): ensure that geospatial types are round trippable through the data type parser (#10171)
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

chore: more cleanup
  docs/backends/_utils.py
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/test_client.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
