Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

test(oracle): fix test_list_tables
  ibis/backends/oracle/tests/test_client.py
Due: none

chore: apply suggestions from code review
  docs/backends/_utils.py
  ibis/backends/duckdb/tests/test_client.py
Due: none

chore: remove xfail marker
  ibis/backends/tests/test_signatures.py
Due: none

test(duckdb): fix missing part on test
  ibis/backends/duckdb/tests/test_client.py
Due: none

test: remove missed xfails
  ibis/backends/tests/test_signatures.py
Due: none

test: remove xfail from signature test
  ibis/backends/tests/test_signatures.py
Due: none

refactor(api): remove schema
  ibis/backends/bigquery/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Due: none

docs(build): run pyodide with python 3.12 in the browser repl
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo, just

docs(deps): remove python bounds on docs deps
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

docs: remove unnecessary build step now that we have supported major version of pyarrow
  docs/tutorials/browser/repl.qmd
  justfile
Due: just

remove trino from notyet
  ibis/backends/tests/test_register.py
Due: none

reconcile coe
  ibis/backends/__init__.py
Due: none

chore: clean up code lines
  docs/tutorials/browser/repl.qmd
Due: none

chore: bring back local build
  justfile
Due: just

docs(bigquery): add update-adc flag to gcloud auth login
  docs/backends/bigquery.qmd
Due: none

docs(bigquery): add update-adc flag to gcloud auth login (#10172)
  docs/backends/bigquery.qmd
Due: none

fix(mssql): ensure `ibis.random()` generates a new value per call
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mssql-random/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Due: none

fix(mssql): ensure `ibis.random()` generates a new value per call (#10173)
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mssql-random/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Due: none

docs(clickhouse): entry into the accursed
  docs/reference/cursed_knowledge.qmd
Due: none

fix(bigquery): unquote args to project/dataset parsing
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

docs(clickhouse): entry into the accursed (#10174)
  docs/reference/cursed_knowledge.qmd
Due: none

test(polars): check kwargs are passed to `collect`
  ibis/backends/polars/tests/test_client.py
Due: none

chore: add governance paragraph and link to governance doc to README
  README.md
Due: prettier

chore: add governance paragraph and link to governance doc to README (#10177)
  README.md
Due: prettier

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Due: none

test(bigquery): ensure that quoting test generates unique table name
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

ci: add automatic pull request labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: prettier

test(bigquery): ensure that quoting test generates unique table name (#10182)
  ibis/backends/bigquery/tests/system/test_connect.py
Due: none

chore(docs): clean up current pyodide build
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  docs/tutorials/browser/repl.qmd
  justfile
Due: prettier, just

chore(docs): clean up current pyodide build (#10180)
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  docs/tutorials/browser/repl.qmd
  justfile
Due: prettier, just

ci: add automatic pull request labels (#10181)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: prettier

refactor(api): remove schema (#10149)
  docs/backends/_utils.py
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/sql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/test_client.py
Due: none

docs(build): fetch all commits to enable proper dynamic versioning in the docs build
  .github/workflows/ibis-docs-main.yml
Due: prettier

docs(build): fetch all commits to enable proper dynamic versioning in the docs build (#10184)
  .github/workflows/ibis-docs-main.yml
Due: prettier

skip trino and impala test
  ibis/backends/__init__.py
  ibis/backends/tests/test_register.py
Due: none

lint
  ibis/backends/tests/test_register.py
Due: none

enable impala in test
  ibis/backends/tests/test_register.py
Due: none

skip trino and impala
  ibis/backends/__init__.py
  ibis/backends/tests/test_register.py
Due: none

feat(bigquery): non-nullable schema support for embedded fields in struct
  ibis/backends/bigquery/tests/unit/test_datatypes.py
  ibis/backends/sql/datatypes.py
Due: none
