Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore(ci): skip running backend tests on the-epic-split branch
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

test(ir): reorganize ibis/tests/expr to enable running the tests without a functional backend
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/tests/test_interactive.py
  ibis/expr/tests/conftest.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_table.py
Due: none

chore(ci): change the core testing command since the core marker is completely broken without the backend tests
  .github/workflows/ibis-main.yml
  .github/workflows/nix.yml
Due: prettier

test(ir): ensure that no backends are required to run the core tests
  ibis/backends/base/sql/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/sql/test_compiler.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_temporal.py
  ibis/tests/test_api.py
Due: none

test(ir): ensure that no backends are required to run the core tests
  ibis/backends/tests/test_temporal.py
Due: none

chore(ci): add todo note about restoring the previous ci-check command
  .github/workflows/ibis-main.yml
  ibis/backends/base/sql/__init__.py
  ibis/backends/pandas/core.py
Due: prettier

fix(duckdb): ensure that create_schema and create_database are actually tested
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_client.py
Due: none

refactor(ir): wrap `JoinChain.first` in `ops.SelfReference` similar to the rest of the join tables
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_format_multiple_join_with_projection/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/snapshots/test_format/test_two_inner_joins/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
Due: none

feat(sql): lower expressions to SQL-like relational operations
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/base/sqlglot/tests/test_rewrites.py
Due: none

refactor(compilers): conslidate StringJoin impl
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
Due: none

refactor(ir): support join of joins while avoiding nesting
  ibis/expr/rewrites.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Due: none

feat(datafusion): port to new sqlglot backend
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/datafusion/compiler/__init__.py
  ibis/backends/datafusion/compiler/core.py
  ibis/backends/datafusion/compiler/relations.py
  ibis/backends/datafusion/compiler/values.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/datafusion/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Due: prettier

feat(common): add `Dispatched` base class for convenient visitor pattern implementation
  ibis/common/dispatch.py
  ibis/common/tests/test_dispatch.py
Due: none

fix(decompile): ensure that `SelfReference` is decompiled with a call to `.view()`
  ibis/backends/tests/sql/test_compiler.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/sql/test_sql.py
  ibis/expr/decompile.py
  ibis/expr/tests/test_decompile.py
  ibis/tests/util.py
Due: none

test(ir): cover constructing reductions in the core test suite
  ibis/expr/tests/test_reductions.py
  ibis/expr/types/generic.py
Due: none

refactor(duckdb): remove the need for a specialized `_to_geodataframe` method
  ibis/backends/duckdb/__init__.py
Due: none

refactor(ir): add `JoinTable` operation unique to `JoinChain` instead of using the globally unique `SelfReference`
  ibis/expr/decompile.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_format_multiple_join_with_projection/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/snapshots/test_format/test_two_inner_joins/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
Due: none

fix(common): intermediate result removal fails if there are duplicated dependencies
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Due: none

refactor(api): revamp `asof` join predicates
  ibis/backends/clickhouse/tests/test_select.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/test_format.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

refactor(common): support union types as well as forward references in the dispatch utilities
  ibis/common/dispatch.py
  ibis/common/patterns.py
  ibis/common/tests/test_dispatch.py
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/util.py
Due: none

fix(ir): self reference fields were incorrectly dereferenced to the parent relation
  ibis/backends/tests/sql/snapshots/test_select_sql/test_self_join_subquery_distinct_equal/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_factor_correlated_subquery/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_where_correlated_subquery/out.sql
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_dereference.py
Due: none

feat(common): add a memory efficient `Node.map()` implementation
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Due: none

refactor(ir): stricter scalar subquery integrity checks
  ibis/expr/operations/relations.py
  ibis/expr/rewrites.py
  ibis/expr/tests/test_newrels.py
Due: none

fix(rewrites): add missing filter arguments for `node.replace()` calls
  ibis/backends/base/sqlglot/rewrites.py
  ibis/expr/rewrites.py
Due: none

ci(snowflake): enable for `the-epic-split` branch
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

feat(duckdb): support `asof` joins including `tolerance` parameter
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_join.py
  ibis/expr/tests/test_dereference.py
  ibis/expr/types/joins.py
Due: none

refactor(polars): update the polars backend to use the new relational abstractions (#7868)
  .github/workflows/ibis-backends.yml
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/test_interactive.py
  ibis/backends/tests/test_join.py
Due: prettier

feat(pyspark): add support for PySpark 3.5
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
  ibis/backends/pyspark/converter.py
  ibis/backends/pyspark/datatypes.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_register.py
  pyproject.toml
Due: prettier, taplo

fix(snowflake): use `_safe_raw_sql` for `insert` implementation
  ibis/backends/snowflake/__init__.py
Due: none

fix(ir): `asof` join `tolerance` parameter should post-filter and post-join instead of adding a predicate
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/test_dereference.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

chore(duckdb/mysql): remove dead code and comment
  ibis/backends/duckdb/__init__.py
  ibis/backends/mysql/tests/test_client.py
Due: none

refactor(sqlglot): clean up `explode` usage
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
Due: none

refactor(sqlglot): use a more backend-agnostic expression for non-finite constants
  ibis/backends/base/sqlglot/compiler.py
Due: none

refactor(sqlglot): remove duplicated simple compilation rules and sort
  ibis/backends/base/sqlglot/compiler.py
Due: none

chore(deps): bump pyspark to 3.5 in poetry lock file
  poetry.lock
  requirements-dev.txt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
