Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

refactor(deps): remove multipledispatch entirely
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

chore: rename `other` to `to`
  ibis/expr/datatypes/core.py
Due: none

ci: enable docs publishing again
  .github/workflows/ibis-docs-main.yml
Due: prettier

ci: enable docs publishing again (#8334)
  .github/workflows/ibis-docs-main.yml
Due: prettier

refactor(deps): remove `multipledispatch` as a dependency (#8332)
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

Update README.md
  README.md
Due: prettier

fix(postgres): pass through additional kwargs in pguri
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
Due: none

fix(pyarrow): map date type to arrow date32 not date64
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Due: none

refactor: use sge.DPipe for StringConcat
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
Due: none

chore(deps): bump quarto to pick css table fixes
  docs/theme-dark.scss
  docs/theme-light.scss
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

feat: support iceberg read/write
  compose.yaml
  environment.yml
  ibis/backends/base/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/expr/api.py
  ibis/expr/types/core.py
Due: prettier

chore(deps): bump quarto to pick up css table fixes (#8342)
  docs/theme-dark.scss
  docs/theme-light.scss
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

refactor(dtype): move all the castable logic to a single function
  ibis/common/temporal.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/datatypes/value.py
  ibis/expr/rules.py
  ibis/tests/expr/test_timestamp.py
Due: none

ci: prevent labelled workflows from clobbering each other
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

refactor(backends): remove singledispatchmethod from the sql backends
  docs/support_matrix.qmd
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp_date/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/compiler.py
Due: none

refactor(backends): remove singledispatchmethod from the sql backends (#8338)
  docs/support_matrix.qmd
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp_date/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/compiler.py
Due: none

refactor(sql): automatically add simple ops implementations
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/trino/compiler.py
Due: none

test(risingwave): skip semi join test that times out
  ibis/backends/tests/test_join.py
Due: none

refactor(pandas,dask,polars,datafusion): no-op on disconnect
  ibis/backends/dask/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
Due: none

feat(api): add disconnect method
  ibis/backends/base/__init__.py
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
  ibis/tests/expr/mocks.py
Due: none

docs: add missing dev docker instructions for backends
  docs/contribute/02_workflow.qmd
Due: none

feat(flink): add no-op for disconnect
  ibis/backends/flink/__init__.py
Due: none

test(pyspark): skip disconnect test on pyspark
  ibis/backends/tests/test_client.py
Due: none

chore: add missing backend
  docs/contribute/02_workflow.qmd
Due: none

feat(api): add disconnect method (#8341)
  ibis/backends/base/__init__.py
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
  ibis/tests/expr/mocks.py
Due: none

docs: add missing dev docker instructions for backends (#8352)
  docs/contribute/02_workflow.qmd
Due: none

refactor(dtype): move all the castable logic to a single function (#8335)
  ibis/common/temporal.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/datatypes/value.py
  ibis/expr/rules.py
  ibis/tests/expr/test_timestamp.py
Due: none

feat(api): add `.as_scalar()` method for turning expressions into scalar subqueries
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

feat(api): add `.as_scalar()` method for turning expressions into scalar subqueries (#8350)
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

test(risingwave): skip semi join test that times out (#8351)
  ibis/backends/tests/test_join.py
Due: none

feat(bigquery): add the 'offset' parameter to unnest
  ibis/backends/bigquery/compiler.py
  ibis/expr/operations/arrays.py
  ibis/expr/types/arrays.py
Due: none

Update ibis/expr/types/arrays.py
  ibis/expr/types/arrays.py
Due: none

Update ibis/expr/operations/arrays.py
  ibis/expr/operations/arrays.py
Due: none

operations returns a struct dtype
  ibis/expr/operations/arrays.py
Due: none

refactor(sql): automatically add simple ops implementations (#8349)
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/trino/compiler.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
