Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(mysql): add regular blob to type mapping
  ibis/backends/sql/datatypes.py
Due: none

chore(deps): bump and relock
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  flake.lock
  ibis/expr/types/relations.py
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo, just

fix(bigquery): adjust codegen for newer version of sqlglot
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

feat(duckdb): add `read_xlsx` implementation
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
Due: none

feat(duckdb): add `to_xlsx` implementation
  ibis/backends/duckdb/__init__.py
  ibis/expr/types/core.py
Due: none

refactor(postgres): split out `hstore` extension registration into separate method
  ibis/backends/postgres/__init__.py
Due: none

fix(postgres): ensure that cursor lifetime is at least as long as the generator
  ibis/backends/postgres/__init__.py
Due: none

fix(postgres): create server-side cursors in the iterator to ensure cursor is not cleaned up before it is used
  ibis/backends/postgres/__init__.py
Due: none

chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

chore(release): 10.3.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
  uv.lock
Due: taplo

Notes added by 'git notes add'
  f6ea1ca4959617b84a7f01dd5d1237c5cf22ab95
Due: none

test(sqlite): ensure that backends are `disconnect`ed
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/tests/test_client.py
Due: none

chore: collapse code into a single line
  ibis/backends/sqlite/__init__.py
Due: none

in flink backend
  ibis/backends/flink/__init__.py
Due: none

drop in impala test_client
  ibis/backends/impala/tests/test_client.py
Due: none

drop in test_client
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

drop in temporal
  ibis/common/temporal.py
Due: none

drop in test_array
  ibis/backends/tests/test_array.py
Due: none

comment on apache-flink installation in toml group
  pyproject.toml
Due: taplo

drop hypothesis.extra in tests strategies
  ibis/tests/strategies.py
Due: none

drop pytz from conda environment files
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

drop in test_benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

drop in test_temporal
  ibis/common/tests/test_temporal.py
Due: none

drop in test_value_exprs
  ibis/tests/expr/test_value_exprs.py
Due: none

drop in test_value
  ibis/expr/datatypes/tests/test_value.py
Due: none

drop pytz from primary dependencies
  pyproject.toml
  uv.lock
Due: taplo

add tzdata to dependencies to cover Windows lacking IANA tz data
  pyproject.toml
  uv.lock
Due: taplo
