Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

refactor(duckdb): remove the need for a specialized `_to_geodataframe` method
  ibis/backends/duckdb/__init__.py
Due: none

feat(common): add `Dispatched` base class for convenient visitor pattern implementation
  ibis/common/dispatch.py
  ibis/common/tests/test_dispatch.py
Due: none

refactor(common): support union types as well as forward references in the dispatch utilities
  ibis/common/dispatch.py
  ibis/common/patterns.py
  ibis/common/tests/test_dispatch.py
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/util.py
Due: none

ci(snowflake): enable for `the-epic-split` branch
  .github/workflows/ibis-backends-cloud.yml
Due: prettier

feat(duckdb): support `asof` joins including `tolerance` parameter
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_join.py
  ibis/expr/tests/test_dereference.py
  ibis/expr/types/joins.py
Due: none

fir(ir): `asof` join `tolerance` parameter should post-filter and post-join instead of adding a predicate
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/test_dereference.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

ci: remove `merge_group` (#7899)
  .github/workflows/check-generated-files.yml
Due: prettier

refactor(polars): update the polars backend to use the new relational abstractions (#7868)
  .github/workflows/ibis-backends.yml
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/test_interactive.py
  ibis/backends/tests/test_join.py
Due: prettier

ci: install decompiler as extra not as its own dependency (#7901)
  .github/workflows/ibis-backends.yml
Due: prettier

fix(conversion): convert decimals to the exact precision and scale requested by the input type
  ibis/common/numeric.py
  ibis/formats/pandas.py
Due: none

chore: remove duplicate `distinct` decompile rule
  ibis/expr/decompile.py
Due: none

test(duckdb): relax exact type check in decimal literal assertion
  ibis/backends/tests/test_numeric.py
Due: none

ci: comment out sys-deps step
  .github/workflows/ibis-backends.yml
Due: prettier

refactor(sqlglot): various sqlglot compiler and backend clean ups (#7904)
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/kernels.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_filter_predicates/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpch/conftest.py
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/duckdb/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/duckdb/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/duckdb/h09.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/snowflake/h09.sql
  ibis/expr/operations/strings.py
  ibis/expr/types/arrays.py
  ibis/expr/types/strings.py
  ibis/formats/pandas.py
Due: none

test(snowflake): fix expected decimal results
  ibis/backends/tests/test_numeric.py
Due: none

fix(polars): force null sorting to match the rest of ibis
  ibis/backends/polars/compiler.py
Due: none

test(pandas): ignore array size warning
  pyproject.toml
Due: taplo

refactor(mysql): port to sqlglot (#7926)
  .github/workflows/ibis-backends.yml
  docker/mysql/startup.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/converter.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/mysql/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/formats/pandas.py
  pyproject.toml
Due: prettier, taplo

test(pandas): use the correct error type when xfailing for compound-sort-key rank
  ibis/backends/tests/test_window.py
Due: none

fix(mysql): remove not-allowed frame clause from rank window function
  ibis/backends/mysql/compiler.py
Due: none

refactor(sqlglot): make anonymous functions easier to use and remove `array_func` hack
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/trino/compiler.py
Due: none

chore(sqlglot): deduplicate pad functions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/trino/compiler.py
Due: none

refactor(sqlglot): clean up `explode` usage
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
Due: none

test(backends): make null results try_cast test agnostic to nan vs None
  ibis/backends/tests/test_generic.py
Due: none

chore(duckdb/mysql): remove dead code and comment
  ibis/backends/duckdb/__init__.py
  ibis/backends/mysql/tests/test_client.py
Due: none

chore(deps): bump sqlglot and regen sql
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/snowflake/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/snowflake/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/snowflake/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/snowflake/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/snowflake/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/snowflake/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/snowflake/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/snowflake/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/snowflake/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/snowflake/h20.sql
Due: none

fix(snowflake): use `_safe_raw_sql` for `insert` implementation
  ibis/backends/snowflake/__init__.py
Due: none

test(postgres): remove test that no longer works
  ibis/backends/postgres/tests/test_client.py
Due: none

fix(duckdb): add `flip_coordinates` translation to sqlglot duckdb backend
  ibis/backends/duckdb/compiler.py
Due: none

refactor(sqlglot): use a more backend-agnostic expression for non-finite constants
  ibis/backends/base/sqlglot/compiler.py
Due: none

refactor(sqlglot): remove duplicate `StringAscii` definitions
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
Due: none

test(postgres): use DBAPI instead of sqlalchemy apis in timezone test
  ibis/backends/postgres/tests/snapshots/test_client/test_timezone_from_column/out.sql
  ibis/backends/postgres/tests/test_client.py
Due: none

refactor(sqlglot): remove duplicated simple compilation rules and sort
  ibis/backends/base/sqlglot/compiler.py
Due: none

feat(pyspark): add support for PySpark 3.5
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
  ibis/backends/pyspark/converter.py
  ibis/backends/pyspark/datatypes.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_register.py
  pyproject.toml
Due: prettier, taplo

refactor(pyspark): remove sqlalchemy dependency from pyspark
  ibis/backends/pyspark/__init__.py
  pyproject.toml
Due: taplo

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
