Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

feat(singlestoredb): add SingleStoreDB to general backend test suite
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_json.py
Due: none

feat(singlestoredb): initial SingleStoreDB backend implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/__init__.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve test failures for timestamp, JSON, and table creation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes/parse.py
Due: none

chore(deps): update singlestoredb version
  requirements-dev.txt
Due: none

chore: remove singlestoredb dependency from core requirements
  pyproject.toml
Due: taplo

docs(singlestoredb): comprehensive README.md update with accurate backend documentation
  ibis/backends/singlestoredb/README.md
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

fix(singlestoredb): resolve IN operator cast syntax issues in aggregations
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

chore: update uv.lock
  uv.lock
Due: none

fix(singlestoredb): comprehensive string operations support
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve remaining test failures and improve type handling
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_join.py
Due: none

fix(singlestoredb): resolve test_dot_sql failures by improving SQL parsing
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve compiler test failures with time handling and inheritance
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

chore: update requirements-dev.txt dependencies
  requirements-dev.txt
Due: none

fix(singlestoredb): clean up obsolete FindInSet comment
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): remove list_catalogs method to fix catalog consistency tests
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/tests/test_impure.py
Due: none

fix(singlestoredb): handle BOOLEAN type mapping differences between cursor and DESCRIBE paths
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
Due: none

fix(singlestoredb): improve Docker Compose configuration
  compose.yaml
Due: prettier

fix(singlestoredb): add missing SQL compilation test snapshots
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/singlestoredb-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/singlestoredb-uuid/out.sql
Due: none

fix(singlestoredb): add positional-only parameter markers for signature compatibility
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): add validation for unsupported complex types in table registration
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): finalize backend implementation and test fixes
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/test_client.py
Due: none

fix(sql): apply nullable parameter when resolving unknown type strings
  ibis/backends/sql/datatypes.py
Due: none

chore(nix): improve Nix configuration formatting and organization
  flake.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

fix(singlestoredb): consolidate data type handling and clean up implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
Due: none

fix(singlestoredb): fix window function test failures
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_window.py
Due: none

fix(singlestoredb): improve numeric precision and SET column handling
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
Due: none

fix(singlestoredb): resolve pandas/pyarrow import issue and restore type functionality
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
Due: prettier

chore: ignore .env.local
  .gitignore
Due: none

fix(singlestoredb): test data types fix for null
  ibis/backends/sql/datatypes.py
Due: none

fix(singlestoredb): remove singlestoredb from core dependencies
  uv.lock
Due: none

feat(singlestoredb): implement RowID operation support
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

docs: add SingleStoreDB backend to README and update backend count
  README.md
Due: prettier

refactor(singlestoredb): streamline data type conversion and JSON handling
  ibis/backends/singlestoredb/converter.py
Due: none

fix(singlestoredb): resolve test failures in UUID and string find operations
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/tests/test_uuid.py
Due: none

fix(singlestoredb): enable 14+ string operations and improve LOCATE function
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_string.py
Due: none

fix(singlestoredb): fix StringFind implementation to properly handle LOCATE index conversion
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve test failures and improve SQL generation
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  uv.lock
Due: taplo

feat(singlestoredb): enhance backend with improved datatypes and comprehensive testing
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  pyproject.toml
  requirements-dev.txt
Due: taplo

fix(singlestoredb): enable XOR operations, NULLS ordering and geopandas support
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
Due: none

chore: update requirements
  requirements-dev.txt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
