Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: remove unnecessary nix builds
  .github/workflows/nix.yml
  flake.nix
  nix/ibis-core.nix
  nix/ibis-local.nix
  nix/ibis.nix
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore(deps): bump nixpkgs and poetry2nix
  flake.lock
Due: none

chore: remove unnecessary nix builds (#9991)
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/ibis-core.nix
  nix/ibis-local.nix
  nix/ibis.nix
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

test(tpcds): add query 64
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

chore: relax strictness for 64
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

test(duckdb): create physical tables for tpc data to avoid horrible performance bug when using views
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

test(duckdb): use ibis to create tables for tpc execution
  ibis/backends/duckdb/tests/conftest.py
Due: none

test(duckdb): remove xfail on all queries being written
  ibis/backends/tests/tpc/ds/test_queries.py
Due: none

chore(clickhouse): rewrite 64 to avoid horrible cross join performance
  ibis/backends/tests/tpc/queries/clickhouse/ds/64.sql
Due: none

test: run nix tests without parallelization and without randomization
  nix/ibis.nix
Due: nixpkgs-fmt, statix, deadnix

chore: randomize tests again
  nix/ibis.nix
Due: nixpkgs-fmt, statix, deadnix

test(tpcds): add query 64 (#9955)
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/64.sql
  nix/ibis.nix
Due: nixpkgs-fmt, statix, deadnix

ci: unify doctest justfile recipe (#9989)
  .github/workflows/ibis-main.yml
  justfile
Due: prettier, just

chore: remove dead `make_context` method
  ibis/backends/tests/base.py
Due: none

ci(tests): add `--dead-fixtures` pytest invocation
  justfile
Due: just

ci: check for dead fixtures in main
  .github/workflows/ibis-main.yml
  justfile
Due: prettier, just

test(cleanup): remove dead fixtures; add `pytest-deadfixtures` plugin to detect unused fixtures
  ibis/backends/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/test_window.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/trino/tests/conftest.py
  ibis/expr/tests/test_schema.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: taplo

test(cleanup): remove dead fixtures and prevent introducing new ones (#9988)
  .github/workflows/ibis-main.yml
  ibis/backends/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/test_window.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/trino/tests/conftest.py
  ibis/expr/tests/test_schema.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo

fix(strings): correct a typo in `startswith` docstring
  ibis/expr/types/strings.py
Due: none

fix(strings): correct a typo in `startswith` docstring (#9994)
  ibis/expr/types/strings.py
Due: none

chore(deps): relock
  requirements-dev.txt
Due: none

test(polars): xfail big timestamp test on incorrect result
  ibis/backends/tests/test_temporal.py
Due: none

feat(oracle): implement `mode` aggregation
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
Due: none

style: remove a bunch of vertical whitespace and unnecessary syntax
  ibis/backends/tests/test_generic.py
Due: none

docs(blog): ibis + clickhouse + shiny for better pypi stats
  docs/_freeze/posts/better-pypi-stats/index/execute-results/html.json
  docs/posts/better-pypi-stats/index.qmd
Due: prettier

add thumbnail
  docs/_freeze/posts/better-pypi-stats/index/execute-results/html.json
  docs/posts/better-pypi-stats/index.qmd
  docs/posts/better-pypi-stats/thumbnail.png
Due: prettier

fix(core): cast missing types in pyarrow consistenly with ibis mapping. fixes #8532 and #8902
  ibis/backends/__init__.py
Due: none

fix relic
  docs/_freeze/posts/better-pypi-stats/index/execute-results/html.json
  docs/posts/better-pypi-stats/index.qmd
Due: prettier

refactor(aliasing): remove the need for renaming after execution
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/relations.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/formats/pandas.py
  ibis/formats/polars.py
  ibis/formats/tests/test_polars.py
  ibis/tests/expr/test_table.py
Due: none

refactor(aliasing): remove the need for renaming after execution (#9996)
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/relations.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/formats/pandas.py
  ibis/formats/polars.py
  ibis/formats/tests/test_polars.py
  ibis/tests/expr/test_table.py
Due: none

fix(datafusion): handle `NULL`s in array `flatten`
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_array.py
Due: none

docs(blog): ibis + clickhouse + shiny for better pypi stats (#9880)
  docs/_freeze/posts/better-pypi-stats/index/execute-results/html.json
  docs/posts/better-pypi-stats/index.qmd
  docs/posts/better-pypi-stats/thumbnail.png
Due: prettier

test(risingwave): bump to latest risingwave release and enable now-passing tests
  compose.yaml
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_window.py
Due: prettier

feat(trino): wrap `auth` strings with `BasicAuthentication`
  ibis/backends/trino/__init__.py
Due: none

chore: handle http auth
  ibis/backends/trino/__init__.py
Due: none

feat(oracle): implement `mode` aggregation (#9914)
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
Due: none

test(arrays): convert to pyarrow first instead of pandas, to trigger conversion bug
  ibis/backends/polars/tests/test_client.py
  ibis/backends/tests/test_array.py
Due: none

fix(polars): use `flatten` API instead of concat list
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_array.py
Due: none

test(risingwave): bump to latest risingwave release and enable now-passing tests (#10001)
  compose.yaml
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_window.py
Due: prettier
