Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

chore: use relative path syntax for tabsets
  docs/index.qmd
  docs/install.qmd
  docs/tutorials/ibis-for-pandas-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  docs/why.qmd
Due: none

chore: fix more API docs interlinks
  ibis/expr/types/maps.py
  ibis/expr/types/structs.py
Due: none

chore: fix missing ibis import in docstring
  ibis/expr/types/generic.py
  ibis/selectors.py
Due: none

chore: give a useful group by example instead of foobar
  ibis/expr/types/groupby.py
Due: none

docs: fix links from install to connect
  docs/_tabsets/install.qmd
Due: none

chore: render sql using the notebook instead of only printing to stdout
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: make case consistent
  docs/_quarto.yml
Due: prettier

chore: clean up ibis-for-sql-users
  docs/tutorials/ibis-for-sql-users.qmd
Due: none

chore: fix case
  docs/_quarto.yml
Due: prettier

docs: swap release notes and contribute
  docs/_quarto.yml
Due: prettier

docs: add docs issue to navbar
  docs/_quarto.yml
Due: prettier

ci: run doctests in docs ci
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: check that frozen computations are already done
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: run all ci on quarto branch
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier

chore(docs): remove code annotations from duckdb backend docs
  docs/backends/duckdb.qmd
Due: none

chore: convert unnecessary example into code blocks and prose
  ibis/expr/operations/logical.py
Due: none

chore: do not skip selectors examples
  ibis/selectors.py
Due: none

chore: clean up impala docstring example whitespace
  ibis/backends/impala/client.py
Due: none

chore: make parquet, delta and read/attach sqlite examples actually run
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/core.py
Due: none

chore: mark quartodoc expected failures
  ibis/backends/base/df/timecontext.py
  ibis/backends/dask/execution/util.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/legacy/udf/vectorized.py
Due: none

chore: process docstring examples for much improved output
  docs/_renderer.py
Due: none

chore: comment the new renderer
  docs/_renderer.py
Due: none

chore: clean up renderer
  docs/_renderer.py
Due: none

chore: reduce imports
  docs/_renderer.py
Due: none

docs: remove keywords
  docs/backends/duckdb.qmd
  docs/backends/snowflake.qmd
Due: none

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

chore: add custom css for scrolling connection parameters when type names are long
  docs/_quarto.yml
  docs/styles.css
Due: prettier

feat(flink): implement table-related ddl in Flink backend to support streaming connectors
  ibis/backends/flink/__init__.py
  ibis/backends/flink/ddl.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/pyspark/__init__.py
Due: none

fix(api): ensure that deferred objects cannot be converted into literals
  ibis/expr/operations/generic.py
  ibis/tests/test_strategies.py
Due: none

chore(quarto-preview): avoid trying to process `nil` value when API docs do not exist
  .gitattributes
  docs/_extensions/machow/interlinks/interlinks.lua
Due: none

chore: add more redirects
  gen_redirects.py
Due: none

refactor(examples): replace pooch with lighter weight pins
  ibis/backends/tests/test_examples.py
  ibis/examples/__init__.py
  ibis/examples/gen_examples.R
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
  ibis/examples/tests/test_examples.py
  ibis/expr/types/relations.py
  nix/overlay.nix
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: clean up gen_matrix.py usage
  .gitignore
  docs/support_matrix.qmd
  gen_matrix.py
Due: none

docs: dark mode for life
  docs/_quarto.yml
  docs/theme-dark.scss
Due: prettier

chore: overlay search
  docs/_quarto.yml
Due: prettier

chore: ignore generated objects and reference material
  .gitignore
Due: none
