Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

deps: relax upper bounds on required dependencies (except sqlglot)
  pyproject.toml
  uv.lock
Due: taplo

fix(api): ensure memtable schema and columns match (#10617)
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
Due: none

chore(deps): relax upper bounds on required dependencies (except sqlglot) (#10620)
  pyproject.toml
  uv.lock
Due: taplo

ci: fix google cloud wif token permissions
  .github/workflows/ci-data.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

ci: fix google cloud wif token permissions (#10621)
  .github/workflows/ci-data.yml
  .github/workflows/ibis-benchmarks.yml
Due: prettier

chore(deps): bump flakes and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

test(polars): xfail on different error types and new panic when converting types
  ibis/backends/tests/test_generic.py
Due: none

chore(deps): bump all flakes (#10618)
  flake.lock
  ibis/backends/tests/test_generic.py
  requirements-dev.txt
  uv.lock
Due: none

feat(polars): add StringFind operation
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Due: none

feat(polars): add `StringFind` operation (#10624)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Due: none

chore(dev-deps): avoid some uv overhead when using nix environments
  flake.lock
  flake.nix
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Due: nixpkgs-fmt, statix, deadnix

chore: move quarto check to single workflow and run in a separate job
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
Due: prettier

chore(deps): move `uv` in nix environment to vendored version from `uv2nix` (#10625)
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  flake.lock
  flake.nix
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Due: prettier, nixpkgs-fmt, statix, deadnix

chore(deps): relock
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): bump nixpkgs
  flake.lock
Due: none

chore(deps): bump pyproject-nix
  flake.lock
Due: none

chore(deps): bump uv2nix
  flake.lock
Due: none

feat(polars): add Intersection and Difference ops
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Due: none

ci(bigquery): disable two failing tests until WIF auth is worked out
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Due: none

ci(bigquery): ensure that local tests do not xpass
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Due: none

ci(bigquery): disable two failing tests until WIF auth is worked out (#10630)
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Due: none

feat(polars): add `Intersection` and `Difference` ops (#10623)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Due: none

fix(dtypes): allow passing `nullable` kwarg to string parsed dtypes
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

feat(dtypes): allow passing `nullable` kwarg to string parsed dtypes (#10632)
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Due: none

feat(polars): add bitwise operations (bit_and, bit_or, bit_xor)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

chore: use the reduction machinery instead of custom rules
  ibis/backends/polars/compiler.py
Due: none

feat(polars): add bitwise operations (`bit_and`, `bit_or`, `bit_xor`) (#10634)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Due: none

fix(duckdb): support memtables with all null columns in pyarrow output
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/converter.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/pyarrow.py
Due: none

fix(datatypes): return pd.Timestamp or pd.Series[datetime64] for date.to_pandas()
  docs/contribute/02_workflow.qmd
  ibis/backends/oracle/converter.py
  ibis/backends/snowflake/converter.py
  ibis/backends/sqlite/tests/test_types.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_temporal.py
  ibis/formats/pandas.py
Due: none

feat(polars): add TimeFromHMS op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Due: none

feat(polars): add `TimeFromHMS` op (#10635)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Due: none

docs: deduplicate rendering of cloud support policy
  docs/backends/support/cloud_support_policy.qmd
Due: none

docs: deduplicate rendering of cloud support policy (#10637)
  docs/backends/support/cloud_support_policy.qmd
Due: none

feat(polars): add ArrayStringJoin op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Due: none

chore: avoid setting environment variables except for local cases
  .env
  flake.nix
  ibis/backends/athena/tests/conftest.py
Due: nixpkgs-fmt, statix, deadnix

chore: avoid setting environment variables except for local cases (#10639)
  .env
  flake.nix
  ibis/backends/athena/tests/conftest.py
Due: nixpkgs-fmt, statix, deadnix

chore: avoid setting environment variables except for local cases
  .env
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

chore: disable things until athena works
  .github/workflows/ibis-backends.yml
Due: prettier
