Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just

prettier:
  language: system
  name: prettier
  entry: prettier --write

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false

feat(api): add `Table.unpack()` and `StructValue.lift()` APIs for projecting struct fields
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_struct.py
Due: none

feat(duckdb): support unsigned integer types
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/temporal.py
  ibis/expr/rules.py
Due: none

fix(dask): set dask upper bound due to large scale test breakage
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Due: prettier

docs: add back constraints for transitive doc dependencies and fix docs
  docs/SUMMARY.md
  docs/api/datatypes.md
  docs/api/expressions/collections.md
  docs/api/expressions/generic.md
  docs/api/expressions/geospatial.md
  docs/api/expressions/numeric.md
  docs/api/expressions/strings.md
  docs/api/expressions/tables.md
  docs/api/expressions/timestamps.md
  docs/api/expressions/top_level.md
  docs/api/schemas.md
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/expr/api.py
  ibis/expr/schema.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

fix(backends): only recommend installing ibis-foo when foo is a known backend
  ibis/__init__.py
  ibis/tests/test_api.py
Due: none

feat(adbc): use BaseAlchemyBackend instead
  ibis/backends/adbc/__init__.py
  ibis/backends/adbc/tests/sqlite/conftest.py
  ibis/backends/conftest.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
Due: none

refactor(impala): replace custom pooling with sqlalchemy QueuePool
  ibis/backends/impala/client.py
  ibis/backends/impala/pandas_interop.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
  pyproject.toml
  setup.py
Due: prettier

refactor: remove deprecated functions and classes
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
  ibis/config.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/expr/signature.py
  ibis/expr/types/analytic.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_analytics.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_signature.py
  ibis/tests/expr/test_table.py
Due: none

feat(ux): use `sqlglot` for pretty printing SQL
  ibis/util.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: prettier

refactor(ir): remove node.root_tables() and unify parent table handling
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/analysis.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/vectorized.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/expr/types/analytic.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/test_compiler.py
  pyproject.toml
  setup.py
Due: prettier

chore(poetry): add lock command to justfile and update poetry lockfile
  justfile
  poetry.lock
Due: just

chore: bump commitlint footer max length
  .commitlintrc.json
Due: prettier

chore: fix spurious benchmark
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

fix(decimal): add decimal type inference
  ibis/expr/rules.py
  ibis/tests/expr/test_decimal.py
Due: none

docs: add HeavyAI to the readme
  README.md
Due: prettier

chore: regen
  poetry.lock
  setup.py
Due: none

refactor(ci): use semantic-release config in dry run testing
  .commitlintrc.json
  .conventionalcommits.js
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-docs-lint.yml
  .releaserc.js
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/verify.sh
  dev/lockfile_diff.sh
  nix/default.nix
  shell.nix
Due: prettier

feat(log): make BaseSQLBackend._log print by default
  ibis/backends/base/sql/__init__.py
Due: none

fix(typo): in BaseSQLBackend.compile docstring
  ibis/backends/base/sql/__init__.py
Due: none

refactor: move struct operations to a separate module
  ibis/expr/operations/__init__.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/structs.py
Due: none

test(pyspark): add tests for NaN handling in aggregations
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_aggregation.py
  ibis/backends/pyspark/tests/test_null.py
Due: none

feat(pyspark): add option to treat nan as null in aggregations
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_aggregation.py
  ibis/config.py
Due: none

test(datafusion): xfail test on older datafusion versions
  ibis/backends/tests/test_generic.py
Due: none

test(refactor): remove unused markers generalize `min_version` marker
  ibis/backends/conftest.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_vectorized_udf.py
  poetry.lock
  pyproject.toml
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: poetry.lock
  just: any of: ^justfile$
