Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(snowflake): use schema when constructing pyarrow table (#10903)
  ibis/backends/snowflake/converter.py
Due: none

refactor(duckdb): simplify loading and installation of extensions (#10900)
  ibis/backends/duckdb/__init__.py
Due: none

docs(selectors): render the module instead of hand-picking the documented components
  docs/_quarto.yml
  ibis/selectors.py
Due: prettier

chore(deps): bump and relock
  flake.lock
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/tpc/ds/test_queries.py
  requirements-dev.txt
  uv.lock
Due: none

docs(selectors): render the module instead of hand-picking the documented components (#10892)
  docs/_quarto.yml
  ibis/selectors.py
Due: prettier

chore(deps): bump and relock (#10904)
  flake.lock
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/tpc/ds/test_queries.py
  requirements-dev.txt
  uv.lock
Due: none

chore(selectors): remove deprecated tests
  ibis/tests/expr/test_selectors.py
Due: none

chore(selectors): remove deprecated tests (#10906)
  ibis/tests/expr/test_selectors.py
Due: none

fix(build): ensure that legacy tools can recognize the validity of the Ibis license
  pyproject.toml
Due: taplo

fix(build): ensure that legacy tools can recognize the validity of the Ibis license (#10905)
  pyproject.toml
Due: taplo

fix(examples): ensure that examples work on mssql and avoid using overwrite
  ibis/backends/tests/test_examples.py
  ibis/examples/__init__.py
Due: none

test(mssql): stricter clean up
  ibis/backends/mssql/tests/test_client.py
Due: none

fix(examples): ensure that examples work on mssql and avoid using overwrite (#10909)
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_examples.py
  ibis/examples/__init__.py
Due: none

fix(bigquery): ensure that count distinct can be used in window functions without a specified window
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

fix(bigquery): ensure that count distinct can be used in window functions without a specified window (#10911)
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/sql/compilers/bigquery/__init__.py
Due: none

fix(polars): array string join on empty array now returns none
  ibis/backends/polars/compiler.py
Due: none

chore(deps): bump deps and relock
  flake.lock
  ibis/backends/tests/tpc/h/test_queries.py
  requirements-dev.txt
  uv.lock
Due: none

chore(deps): bump deps and relock (#10915)
  flake.lock
  ibis/backends/tests/tpc/h/test_queries.py
  requirements-dev.txt
  uv.lock
Due: none

docs: Add an example with `literal` in "Getting started"
  docs/tutorials/getting_started.qmd
Due: none

docs: add an example with `literal` in "Getting started" (#10918)
  docs/tutorials/getting_started.qmd
Due: none

feat(examples): expand examples functionality to more backends
  ibis/backends/__init__.py
  ibis/backends/athena/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/databricks/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/examples/__init__.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

feat(examples): expand examples functionality to more backends (#10916)
  ibis/backends/__init__.py
  ibis/backends/athena/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/databricks/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/examples/__init__.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

chore(deps): relock
  requirements-dev.txt
Due: none

chore(deps): add pdb++
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

chore(deps): add pdbpp
  nix/pyproject-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

test(athena): ensure that tables are dropped before loading
  ibis/backends/athena/tests/conftest.py
Due: none

test(athena): ensure that tables are dropped before loading (#10924)
  ibis/backends/athena/tests/conftest.py
Due: none

feat(api): make topk() and value_counts() more flexible
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: none

chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

feat(polars): support windows
  ibis/backends/polars/compiler.py
Due: none

feat(polars): support lag and lead
  ibis/backends/polars/compiler.py
Due: none

ci(athena): use a different database for each python version to avoid clobbering data
  ibis/backends/athena/__init__.py
  ibis/backends/athena/tests/conftest.py
Due: none

fixup! ci(athena): use a different database for each python version to avoid clobbering data
  ibis/backends/athena/tests/conftest.py
Due: none

ci(athena): use a different database for each python version to avoid clobbering data (#10930)
  ibis/backends/athena/__init__.py
  ibis/backends/athena/tests/conftest.py
Due: none

ci(athena): use internal ibis APIs for creating testing data
  ibis/backends/athena/tests/conftest.py
Due: none

ci(athena): use internal ibis APIs for creating testing data (#10931)
  ibis/backends/athena/tests/conftest.py
Due: none

chore(release): 10.2.0
  docs/release_notes_generated.qmd
  ibis/__init__.py
  pyproject.toml
  uv.lock
Due: taplo

Notes added by 'git notes add'
  21e2854fa55788f0c6573be7a3d3dbb320ead9c5
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
