Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - hooks:
      - entry: black --check
        exclude: ^$
        files: ""
        id: black
        language: system
        name: black
        pass_filenames: true
        stages:
          - commit
        types:
          - python
          - file
          - python
        types_or: []
      - entry: flake8
        exclude: ^$
        files: ""
        id: flake8
        language: python
        name: flake8
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: isort --check
        exclude: ^$
        files: ""
        id: isort
        language: python
        name: isort
        pass_filenames: true
        stages:
          - commit
        types:
          - file
          - python
        types_or:
          - cython
          - pyi
          - python
      - entry: pyupgrade --py38-plus
        exclude: (setup.py)
        files: ""
        id: pyupgrade
        language: system
        name: pyupgrade
        pass_filenames: true
        stages:
          - commit
        types:
          - python
        types_or: []
      - entry: shellcheck
        exclude: ^$
        files: \.sh$
        id: shellcheck
        language: system
        name: shellcheck
        pass_filenames: true
        stages:
          - commit
        types:
          - shell
        types_or:
          - file
          - sh
          - ash
          - bash
          - bats
          - dash
          - ksh
      - entry: shfmt -i 2 -sr -d -s -l
        exclude: ^$
        files: \.sh$
        id: shfmt
        language: system
        name: shfmt
        pass_filenames: true
        stages:
          - commit
        types:
          - file
        types_or:
          - file
      - entry: prettier --check
        exclude: ^$
        files: ""
        id: prettier
        language: system
        name: prettier
        pass_filenames: true
        stages:
          - commit
        types:
          - text
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - entry: just --fmt --unstable --check
        exclude: ^$
        files: ^justfile$
        id: just
        language: system
        name: just
        pass_filenames: false
        stages:
          - commit
        types:
          - file
    repo: local

test: split up extract component tests
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

Add API for local table
  ibis/expr/api.py
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

Add clip_lower and clip_upper
  ibis/expr/api.py
  ibis/expr/operations/numeric.py
Due: black, flake8, pyupgrade

refactor(ir): remove unused lineage `roots` and `find_nodes` functions
  ibis/expr/lineage.py
  ibis/tests/expr/test_lineage.py
Due: black, flake8, pyupgrade

feat(sqlite): implement date_truncate
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

refactor(timestamps): move temporal APIs to their respective expression types
  ibis/expr/api.py
  ibis/expr/types/core.py
  ibis/expr/types/temporal.py
  ibis/tests/expr/test_temporal.py
Due: black, flake8, pyupgrade

feat(sqlite): implement ISO week of year
  ibis/backends/sqlite/registry.py
Due: black, flake8, pyupgrade

test(sqlite): disable notimpl for sqlite extract week test
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

feat(duckdb): add functionality needed to pass integer to interval test
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_temporal.py
Due: black, flake8, pyupgrade

refactor(strings): move string API to types module
  ibis/expr/api.py
  ibis/expr/operations/strings.py
  ibis/expr/types/binary.py
  ibis/expr/types/strings.py
Due: black, flake8, pyupgrade

chore: split and move convert_base
  ibis/expr/api.py
  ibis/expr/types/numeric.py
  ibis/expr/types/strings.py
Due: black, flake8, pyupgrade

refactor(table): move table API to types module
  ibis/expr/api.py
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

refactor: remove unused imports
  ibis/expr/api.py
Due: black, flake8, pyupgrade

refactor: move generic methods to ValueExpr class
  ibis/expr/api.py
  ibis/expr/types/generic.py
Due: black, flake8, pyupgrade

refactor: move generic column expressions to types module
  ibis/expr/api.py
  ibis/expr/types/generic.py
Due: black, flake8, pyupgrade

refactor: add greatest and least as methods
  ibis/expr/api.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/generic.py
Due: black, flake8, pyupgrade

refactor(logical): move bool expressions to types/
  ibis/expr/api.py
  ibis/expr/types/logical.py
Due: black, flake8, pyupgrade

chore: add sqlparse to dev dependencies
  poetry.lock
  pyproject.toml
Due: prettier

chore: add pytest-repeat for simple local reruns
  poetry.lock
  pyproject.toml
Due: prettier

fix(mutate): do not lift table column that results from mutate
  ibis/backends/tests/test_join.py
  ibis/expr/analysis.py
  ibis/tests/expr/test_analysis.py
Due: black, flake8, pyupgrade

test: remove notimpl for impala and clickhouse for test_filtering_join
  ibis/backends/tests/test_join.py
Due: black, flake8, pyupgrade

ci(conda-lock): add kind explicit to conda-lock invocation
  .github/workflows/conda-lock.yml
Due: prettier

docs(backends): implement gen_matrix script
  docs/backends/99_support_matrix.md
  docs/stylesheets/extra.css
  gen_matrix.py
  mkdocs.yml
  poetry-overrides.nix
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

feat(api): add has_operation API to the backend
  .gitignore
  docs/backends/99_support_matrix.md
  docs/backends/support_matrix.md
  docs/stylesheets/extra.css
  gen_matrix.py
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/pandas/__init__.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, flake8, pyupgrade, prettier
