Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

docs(blog): update date on hamilton blog (#8851)
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Due: prettier

enable create local backends with empty url
  ibis/backends/__init__.py
  ibis/backends/tests/test_client.py
Due: none

chore: unify requring args for read_postgres and read_sqlite
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

feat(common): add `Node.find_below()` methods to exclude the root node from filtering
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Due: none

add warnings if additional in the uri
  ibis/backends/__init__.py
Due: none

chore: make arguments required-keyword for read_postgres and read_sqlite (#8829)
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

feat(common): add `Node.find_below()` methods to exclude the root node from filtering (#8861)
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Due: none

remove warnings
  ibis/backends/__init__.py
Due: none

feat(pandas, polars, dask, datafusion): enable create local backends with empty url (#8860)
  ibis/backends/__init__.py
  ibis/backends/tests/test_client.py
Due: none

docs: uniform connect via url across backends in why ibis
  docs/why.qmd
Due: none

feat(duckdb): add catalog support to create_table
  ibis/backends/duckdb/__init__.py
Due: none

fix: update minimum versions of dependencies to be accurate
  .github/workflows/ibis-main.yml
  ci/requirements/requirements-3.9.txt
  pyproject.toml
Due: prettier, taplo

remove conditional from installation
  .github/workflows/ibis-main.yml
  ci/requirements/requirements-3.10.txt
  ci/requirements/requirements-3.11.txt
  ci/requirements/requirements-3.12.txt
  ci/requirements/requirements-3.13.txt
  ci/requirements/requirements-3.9.txt
  pyproject.toml
Due: prettier, taplo

update parsy
  ci/requirements/requirements-3.9.txt
  ibis/__init__.py
  pyproject.toml
Due: taplo

test(flink): mark UDF tests on Python 3.11 `xfail`
  ibis/backends/tests/test_udf.py
Due: none

docs(blog): needle haystack fix
  docs/posts/varchar-in-a-haystack/index.qmd
Due: none

docs(release-notes): add v to start of anchor tags (#8624)
  docs/release_notes.md
Due: prettier

test(pyspark): add tests to read split CSV outputs
  ibis/backends/pyspark/tests/test_export.py
  ibis/backends/pyspark/tests/test_window.py
Due: none

refactor(ir): dereference literal expressions
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
Due: none

refactor(ir): loosen the join integrity checks
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
Due: none

refactor(ir): merge `ops.WindowFrame` node into `ops.WindowFunction`
  ibis/backends/dask/executor.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/rewrites.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/rewrites.py
  ibis/expr/builders.py
  ibis/expr/operations/window.py
  ibis/expr/rewrites.py
  ibis/expr/tests/snapshots/test_format/test_window_group_by/repr.txt
  ibis/expr/tests/snapshots/test_format/test_window_no_group_by/repr.txt
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/expr/visualize.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_insert_sort_key/repr.txt
  ibis/tests/expr/test_window_frames.py
Due: none

refactor(api): make input value coercion of mutate() identical to select()
  docs/tutorials/ibis-for-sql-users.qmd
  ibis/backends/dask/tests/test_window.py
  ibis/backends/pandas/tests/test_join.py
  ibis/backends/pandas/tests/test_window.py
  ibis/backends/tests/sql/test_sql.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

refactor(ir): loosen the join integrity checks (#8817)
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
Due: none

refactor(api): make input value coercion of `mutate()` identical to `select()` (#8878)
  docs/tutorials/ibis-for-sql-users.qmd
  ibis/backends/dask/tests/test_window.py
  ibis/backends/pandas/tests/test_join.py
  ibis/backends/pandas/tests/test_window.py
  ibis/backends/tests/sql/test_sql.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix
  ibis/backends/risingwave/__init__.py
Due: none

fix discussions
  ibis/backends/risingwave/__init__.py
Due: none

feat(ir): add default implementation of pretty formatting nodes
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_default_format_implementation/repr.txt
  ibis/expr/tests/test_format.py
Due: none

test(benchmarks): fix constructing large benchmark expression
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

feat(ir): add default implementation of pretty formatting nodes (#8880)
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_default_format_implementation/repr.txt
  ibis/expr/tests/test_format.py
Due: none

test(benchmarks): fix constructing large benchmark expression (#8883)
  ibis/tests/benchmarks/test_benchmarks.py
Due: none

refactor(ir): merge `ops.WindowFrame` node into `ops.WindowFunction` (#8779)
  ibis/backends/dask/executor.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/rewrites.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/rewrites.py
  ibis/expr/builders.py
  ibis/expr/operations/window.py
  ibis/expr/rewrites.py
  ibis/expr/tests/snapshots/test_format/test_window_group_by/repr.txt
  ibis/expr/tests/snapshots/test_format/test_window_no_group_by/repr.txt
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/expr/visualize.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_insert_sort_key/repr.txt
  ibis/tests/expr/test_window_frames.py
Due: none

refactor(sql): avoid excessive inlining during Select merge
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/duckdb/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/trino/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/duckdb/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/common/graph.py
Due: none

test(clickhouse): fix xpassing tests for new clickhouse version
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_window.py
Due: none

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

revert: chore(deps): downgrade nixpkgs (#8834)
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: bump nixpkgs
  flake.lock
Due: none

chore: revert back to later poetry
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  justfile
Due: prettier, just

chore: keep specific nodejs version pkg
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

feat(api): support time travel
  compose.yaml
  docker/flink/conf/hive-site.xml
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_time_travel/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/flink/__init__.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/flink/tests/test_time_travel.py
  ibis/backends/flink/tests/utils.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/expressions.py
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
  ibis/expr/types/temporal.py
Due: prettier
