Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - ruff-format
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint-system
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--output-format=full", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["format", "--force-exclude"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=800"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["--shell", "bash"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(singlestoredb): resolve test failures for timestamp, JSON, and table creation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes/parse.py
Due: none

fix(singlestoredb): fix timestamp literal generation and set operations
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(singlestoredb): initial SingleStoreDB backend implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/__init__.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(singlestoredb): implement RowID operation support
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve string equality comparison in test_substitute
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): fix StringFind implementation to properly handle LOCATE index conversion
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve 17 test failures and improve success rate to 81%
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(singlestoredb): implement comprehensive data type support (Phase 2)
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): remove singlestoredb from core dependencies
  uv.lock
Due: none

fix(singlestoredb): resolve remaining test failures and improve type handling
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_join.py
Due: none

chore: remove singlestoredb dependency from core requirements
  pyproject.toml
Due: taplo

feat(singlestoredb): enhance backend with improved datatypes and comprehensive testing
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/conftest.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  pyproject.toml
  requirements-dev.txt
Due: taplo

fix(singlestoredb): improve numeric precision and SET column handling
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
Due: none

refactor(singlestoredb): simplify backend implementation and add documentation
  docs/_tabsets/install.qmd
  docs/backends/singlestoredb.qmd
  docs/backends_sankey.py
  flake.nix
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/sql/__init__.py
  ibis/expr/datatypes/parse.py
  nix/overlay.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): update singlestoredb version
  requirements-dev.txt
Due: none

fix(sql): apply nullable parameter when resolving unknown type strings
  ibis/backends/sql/datatypes.py
Due: none

fix(singlestoredb): consolidate data type handling and clean up implementation
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
Due: none

chore: update requirements
  requirements-dev.txt
Due: none

docs: add SingleStoreDB backend to README and update backend count
  README.md
Due: prettier

fix(singlestoredb): test data types fix for null
  ibis/backends/sql/datatypes.py
Due: none

chore: unify singlestoredb dependency to version 1.16.0
  requirements-dev.txt
  uv.lock
Due: none

fix(singlestoredb): improve Docker Compose configuration
  compose.yaml
Due: prettier

fix(singlestoredb): resolve test failures and improve SQL generation
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

chore: ignore .env.local
  .gitignore
Due: none

fix(singlestoredb): finalize backend implementation and test fixes
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/tests/test_client.py
Due: none

docs(singlestoredb): comprehensive README.md update with accurate backend documentation
  ibis/backends/singlestoredb/README.md
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: prettier

fix(singlestoredb): resolve pandas/pyarrow import issue and restore type functionality
  ibis/backends/singlestoredb/README.md
  ibis/backends/singlestoredb/__init__.py
  ibis/backends/singlestoredb/tests/test_client.py
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
  ibis/backends/sql/datatypes.py
Due: prettier

chore(nix): improve Nix configuration formatting and organization
  flake.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  nix/tests.nix
Due: nixpkgs-fmt, statix, deadnix

chore: update requirements-dev.txt dependencies
  requirements-dev.txt
Due: none

chore: update uv.lock
  uv.lock
Due: none

feat(singlestoredb): add vector type support
  ibis/backends/singlestoredb/converter.py
  ibis/backends/singlestoredb/datatypes.py
  ibis/backends/singlestoredb/tests/test_datatypes.py
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/singlestoredb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/singlestoredb/out.sql
  ibis/backends/tests/test_numeric.py
Due: none

chore(singlestoredb): pin Docker image version and refactor table rename
  compose.yaml
  ibis/backends/singlestoredb/__init__.py
Due: prettier

docs(singlestoredb): change yields to returns
  ibis/backends/singlestoredb/__init__.py
Due: none

fix(singlestoredb): clean up obsolete FindInSet comment
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

fix(singlestoredb): resolve IN operator cast syntax issues in aggregations
  ibis/backends/singlestoredb/tests/test_compiler.py
  ibis/backends/sql/compilers/singlestoredb.py
Due: none

feat(typing): make types more precise for many common Values
  ibis/expr/types/generic.py
  ibis/expr/types/logical.py
  ibis/expr/types/numeric.py
  ibis/expr/types/strings.py
Due: none

fix: forward ops.First.include_null when translating to FirstValue in window functions
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/test_window.py
Due: none

chore: rely on sqlglot errors to detect unsupported syntax
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/tests/test_window.py
Due: none

test: error when sqlglot tells us a compilation is unsupported
  ibis/backends/sql/__init__.py
Due: none
