Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore(deps): bump and relock
  flake.lock
  ibis/expr/types/generic.py
  nix/quarto/default.nix
  pyproject.toml
  uv.lock
Due: taplo, nixpkgs-fmt, statix, deadnix

docs(substitute): add to `See Also` section to fix rendered formatting
  ibis/expr/types/generic.py
Due: none

docs(replace): clarify types and add link to `Value.substitute`
  ibis/expr/types/strings.py
Due: none

fix(postgres): make pyarrow round trip of nans and nulls higher fidelity (#11396)
  ibis/backends/bigquery/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/tests/test_numeric.py
  ibis/formats/pandas.py
Due: none

docs(substitute): add to `See Also` section to fix rendered formatting (#11412)
  ibis/expr/types/generic.py
Due: none

docs(replace): clarify types and add link to `Value.substitute` (#11413)
  ibis/expr/types/strings.py
Due: none

chore(deps): bump and relock (#11407)
  flake.lock
  ibis/expr/types/generic.py
  nix/quarto/default.nix
  pyproject.toml
  uv.lock
Due: taplo, nixpkgs-fmt, statix, deadnix

chore(generic): expected failure for cast docs
  ibis/expr/types/generic.py
Due: none

chore(generic): expected failure for cast docs (#11414)
  ibis/expr/types/generic.py
Due: none

chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Due: none

fix(duckdb): avoid restricting duckdb 1.3.1 for users not using `duckdb-spatial`
  pyproject.toml
  uv.lock
Due: taplo

chore(deps): bump and relock (#11418)
  flake.lock
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: taplo

fix(psycopg): avoid specifying the interface
  .github/workflows/ibis-backends.yml
  flake.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo, nixpkgs-fmt, statix, deadnix

test(athena): re-enable now-passing regex tests
  ibis/backends/tests/test_string.py
Due: none

fix(athena/trino/bigquery): make temporal diff robust to operand order
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/trino.py
Due: none

chore(dev-deps): replace `compose build` with recommended `buildx bake`
  flake.nix
  justfile
Due: just, nixpkgs-fmt, statix, deadnix

chore(dev-deps): set `LD_LIBRARY_PATH` for nix envs
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

fix(psycopg): avoid specifying the psycopg dependency implementation (#11424)
  .github/workflows/ibis-backends.yml
  flake.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Due: prettier, taplo, nixpkgs-fmt, statix, deadnix

chore(dev-deps): replace `compose build` with recommended `buildx bake` (#11425)
  flake.nix
  justfile
Due: just, nixpkgs-fmt, statix, deadnix

fix(duckdb/snowflake): decouple Pandas and PyArrow backend converters
  ibis/backends/duckdb/converter.py
  ibis/backends/snowflake/converter.py
Due: none

feat: add method to produce an Ibis schema from SQLGlot
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Due: none

fix(duckdb/snowflake): decouple Pandas and PyArrow backend converters (#11431)
  ibis/backends/duckdb/converter.py
  ibis/backends/snowflake/converter.py
Due: none

fix(trino): ensure that `DateDiff` operands are in the correct order
  ibis/backends/sql/compilers/trino.py
Due: none

ci(trino): use a minimum number of threads
  ci/schema/trino.sql
Due: none

fix(trino/athena): ensure that `DateDiff` operands are in the correct order (#11434)
  ci/schema/trino.sql
  ibis/backends/sql/compilers/trino.py
Due: none

fix(trino/athena): ensure that regex extract compiler dispatch method is spelled correctly
  ibis/backends/sql/compilers/trino.py
Due: none

chore(deps): add script to fetch latest quarto hashes and bump quarto
  flake.nix
  nix/overlay.nix
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

fix(trino/athena): ensure that regex extract compiler dispatch method is spelled correctly (#11436)
  ibis/backends/sql/compilers/trino.py
Due: none

chore(deps): bump and relock and bump quarto to latest pre-release (#11435)
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/quarto/default.nix
  requirements-dev.txt
  uv.lock
Due: nixpkgs-fmt, statix, deadnix

ci(postgres): prevent hanging by limiting the deadlock surface area
  .env
  .github/workflows/ibis-backends.yml
  docker/postgres/debug.sql
  ibis/conftest.py
Due: prettier

test(duckdb): simplify flaky null literal test
  ibis/backends/duckdb/tests/test_datatypes.py
Due: none

test(duckdb): simplify flaky null literal test (#11444)
  ibis/backends/duckdb/tests/test_datatypes.py
Due: none

chore(deps): bump and relock
  .taplo.toml
  flake.lock
  ibis/backends/duckdb/tests/test_udf.py
  ibis/backends/tests/test_numeric.py
  ibis/expr/api.py
  requirements-dev.txt
  uv.lock
Due: taplo

fix(exasol): ensure that rounding is not subverted by sqlglot cast
  ibis/backends/sql/dialects.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
