Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

feat(datafusion): set ops
  ibis/backends/tests/test_set_ops.py
Due: none

fix(pyspark,polars): add packaging extra
  poetry.lock
  pyproject.toml
Due: taplo

docs(backends): include docs for inherited members
  docs/backends/_templates/api.qmd
Due: none

feat(flink): implement nested schema support
  ibis/backends/flink/ddl.py
  ibis/backends/flink/registry.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_timecontext.py
Due: none

ci: use labels to restrict who can run docs-previews [skip ci]
  .github/workflows/docs-preview.yml
Due: prettier

ci: run docs preview as pr target [skip ci]
  .github/workflows/docs-preview.yml
Due: prettier

ci: generate token before removing label and remove gh call
  .github/workflows/docs-preview.yml
Due: prettier

feat(base): add `to_pandas` method to BaseBackend
  ibis/backends/base/__init__.py
Due: none

test(backend): add temporal literal tests
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/bigquery-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/bigquery-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/bigquery-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/clickhouse-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/clickhouse-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/impala-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/impala-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/snowflake-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/snowflake-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/snowflake-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/sqlite-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/sqlite-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/sqlite-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/trino-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/trino-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/trino-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-bigquery/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-snowflake/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-sqlite/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-trino/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-bigquery/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-snowflake/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-sqlite/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-trino/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/bigquery/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/duckdb/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/snowflake/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/sqlite/out.sql
  ibis/backends/tests/test_temporal.py
Due: none

fix(duckdb): use functions for temporal literals
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/duckdb-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/duckdb-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/duckdb-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-duckdb/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-duckdb/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/trino/out.sql
Due: none

fix(mysql): render dates and timestamps correctly
  ibis/backends/mysql/registry.py
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/mysql-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/mysql-time/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/mysql-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-mysql/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-mysql/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/mysql/out.sql
Due: none

fix(mssql): render dates, times and timestamps correctly
  ibis/backends/mssql/registry.py
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/mssql-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/mssql-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/0-mssql/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literals/234567-mssql/out.sql
Due: none

fix(oracle): render dates and timestamps correctly
  ibis/backends/oracle/registry.py
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/oracle-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literals/oracle-timestamp/out.sql
Due: none

fix(duckdb): render dates, times, timestamps and none literals correctly
  ibis/backends/duckdb/registry.py
Due: none

ci: fix token field [skip ci]
  .github/workflows/docs-preview.yml
Due: prettier

refactor(impala): modernize the impala backend
  .github/renovate.json
  .github/workflows/ibis-backends.yml
  compose.yaml
  docker/impala/conf/hive-site.xml
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/pandas_interop.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric/round_no_args/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-ceil/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-floor/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-ceil/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-floor/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_extract_field/microsecond/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_extract_field/millisecond/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/ms/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/us/out.sql
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_window.py
  ibis/formats/pyarrow.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

docs(blog-post): pydata performance part 2; polars and datafusion
  docs/_freeze/posts/pydata-performance-part2/index/execute-results/html.json
  docs/posts/pydata-performance-part2/datafusion_ibis.py
  docs/posts/pydata-performance-part2/datafusion_native.py
  docs/posts/pydata-performance-part2/datafusion_native.sql
  docs/posts/pydata-performance-part2/duckdb_ibis.py
  docs/posts/pydata-performance-part2/index.qmd
  docs/posts/pydata-performance-part2/polars_ibis.py
  docs/posts/pydata-performance-part2/polars_native.py
  ibis/backends/polars/__init__.py
  pyproject.toml
Due: prettier, taplo

feat(polars): add `streaming` kwarg to `to_pandas`
  docs/posts/pydata-performance-part2/polars_ibis.py
  ibis/backends/polars/__init__.py
Due: none

chore(output): rerender
  docs/_freeze/posts/pydata-performance-part2/index/execute-results/html.json
  docs/posts/pydata-performance-part2/index.qmd
Due: prettier

test(ir): reorganize ibis/tests/expr to enable running the tests without a functional backend
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/tests/test_interactive.py
  ibis/expr/tests/conftest.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_table.py
Due: none

test(backends): move backends dependent benchmarks to ibis/backends/tests/
  ibis/backends/base/sql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/test_benchmarks.py
  ibis/tests/benchmarks/__init__.py
Due: none

test(ir): ensure that no backends are required to run the core tests
  ibis/backends/base/sql/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/sql/conftest.py
  ibis/backends/tests/sql/test_compiler.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_temporal.py
  ibis/tests/test_api.py
Due: none

chore(ci): skip running backend tests on the-epic-split branch
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Due: prettier
