Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

Create SECURITY.md
  SECURITY.md
Due: prettier

docs(temporal): add `Literal` annotation to display possible units for `delta` method
  ibis/expr/types/temporal.py
Due: none

chore: rebase and fix literal compilation
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_export.py
Due: none

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

chore(pyodbc): enable wheel use in nix setup
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore: remove deprecated APIs
  ibis/backends/bigquery/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Due: none

feat(duckdb): allow users to register fsspec filesystem with DuckDB
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/util.py
Due: none

ci: write benchmark data to parquet
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: remove unnecessary auth
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: sort json keys to avoid nested schema clashes
  .github/workflows/ibis-docs-lint.yml
Due: prettier

chore(build): add more project classifiers
  pyproject.toml
Due: taplo

fix(ir): `ibis.parse_sql()` removes where clause
  ibis/expr/sql.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_aggregation_with_multiple_joins/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_aggregation/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_aggregation_with_join/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/inner/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/left/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/right/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_projection/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_join_with_filter/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_multiple_joins/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_scalar_subquery/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_simple_reduction/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_simple_select_count/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_table_alias/decompiled.py
  ibis/expr/tests/test_sql.py
  pyproject.toml
Due: taplo

ci(benchmarks): set GH_TOKEN to allow `gh` CLI usage
  .github/workflows/ibis-docs-lint.yml
Due: prettier

refactor(temporal): remove unnecessary `Temporal*` classes
  ibis/expr/types/temporal.py
Due: none

chore(flink): drop extraneous marks added in #7461
  ibis/backends/tests/test_aggregation.py
Due: none

feat(bigquery): support temporary tables using sessions
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/snapshots/test_udf_execute/test_udf_with_struct/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_multiple_calls_redefinition/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/False/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/None/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/True/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_sql/out.sql
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_examples.py
  ibis/expr/types/relations.py
Due: none

chore(warning): make message accurate
  ibis/backends/bigquery/__init__.py
Due: none

perf(bigquery): use more efficient representation for memtables
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_compile_in_memory_table/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/tests/test_array.py
Due: none

docs(index): add very fancy index for old versions
  index.html
Due: none

fix(pandas): drop `__index_level_N__` cols before applying schema
  ibis/backends/pandas/__init__.py
Due: none

docs(flink): add backend back to support matrix df
  docs/backends/app/backend_info_app.py
  gen_matrix.py
Due: none

docs(clickhouse): freeze clickhouse backend docs to avoid rate limit from upstream playground
  docs/_freeze/backends/clickhouse/execute-results/html.json
  docs/backends/clickhouse.qmd
Due: prettier

refactor(bigquery): remove session use
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/udf/snapshots/test_udf_execute/test_udf_with_struct/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_multiple_calls_redefinition/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/False/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/None/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_determinism/True/out.sql
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_usage/test_udf_sql/out.sql
  ibis/backends/bigquery/udf/__init__.py
Due: none

feat(bigquery): add `location` parameter
  ibis/backends/bigquery/__init__.py
Due: none

chore: remove `create_session=True` when grabbing an anonymous dataset
  ibis/backends/bigquery/__init__.py
Due: none
