Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: rewrite ci-analysis post to quarto
  .pre-commit-config.yaml
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/posts/ci-analysis/index.qmd
  docs/posts/old/rendered/ci-analysis.ipynb
  pyproject.toml
Due: prettier

chore: port elementwise and reduction notebooks to quarto
  docs/how-to/extending/elementwise.ipynb
  docs/how-to/extending/elementwise.qmd
  docs/how-to/extending/reduction.ipynb
  docs/how-to/extending/reduction.qmd
Due: none

chore: remove remnants of ipynb
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  docs/.gitignore
  pyproject.toml
Due: prettier

docs: draft posts to draft and very minor edits
  docs/_quarto.yml
  docs/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/website-to-quarto/index.qmd
Due: prettier

docs: community to contriute
  docs/_quarto.yml
  docs/community.qmd
  docs/community/contribute/01_environment.md
  docs/community/contribute/02_workflow.md
  docs/community/contribute/03_style.md
  docs/community/contribute/05_maintainers_guide.md
  docs/community/contribute/index.md
  docs/contribute/01_environment.md
  docs/contribute/02_workflow.md
  docs/contribute/03_style.md
  docs/contribute/05_maintainers_guide.md
  docs/contribute/index.md
Due: prettier

docs(quarto): make blog post titles visible in light mode
  docs/_quarto.yml
  docs/styles.css
  docs/theme-light.scss
Due: prettier

chore: ignore generated notebooks and files
  docs/.gitignore
Due: none

docs(blog): embed the torch youtube video directly
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/posts/torch/index.qmd
Due: prettier

ci(docs): netlify deploy previews
  .github/workflows/ibis-docs-lint.yml
Due: prettier

style: remove braces
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: give the deployment write permissions for deployments
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): add tags to blog posts
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/posts/campaign-finance/index.qmd
  docs/posts/ci-analysis/index.qmd
  docs/posts/ffill-and-bfill-using-ibis/index.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/ibis-examples/index.qmd
  docs/posts/ibis-to-file/index.qmd
  docs/posts/ibis_substrait_to_duckdb/index.qmd
  docs/posts/selectors/index.qmd
  docs/posts/torch/index.qmd
Due: prettier

chore: remove deploy previews for now
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs(blog): snowflake io
  .pre-commit-config.yaml
  docs/.gitignore
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/posts/snowflake-io/index.qmd
Due: prettier

chore: wording suggestions
  docs/posts/snowflake-io/index.qmd
Due: none

chore: gen_matrix in pre-render phase
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: fix warnings about invalid annotation number
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: use to_pandas in altair
  docs/index.qmd
Due: none

chore: fix annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove broken link
  docs/_code/input_output_penguins.qmd
Due: none

chore: fix install sdk broken link
  docs/backends/bigquery.qmd
Due: none

chore: remove extra line at the top of internals
  docs/concepts/internals.qmd
Due: none

chore: remove shouting from compilation internals section
  docs/concepts/internals.qmd
Due: none

chore: code format other libraries
  docs/_code/input_output_penguins.qmd
Due: none

chore: fix snowflake rendering
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
Due: prettier

chore: bump quarto version and use shipped version of pandoc
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

docs: update link to 'example repository' instead of 'tutorial'
  docs/tutorials/getting_started.qmd
Due: none

docs: some how-to updates
  docs/_quarto.yml
  docs/how-to/analytics/basics.qmd
  docs/how-to/analytics/chain_expressions.qmd
  docs/how-to/external-dataframes/memtable_join.qmd
  docs/how-to/input-output/multiple-backends.qmd
Due: prettier

docs: major home page refactor
  docs/index.qmd
Due: none

docs: why ibis and other edits
  .gitattributes
  .pre-commit-config.yaml
  docs/_quarto.yml
  docs/concepts/frontend.qmd
  docs/concepts/internals.qmd
  docs/portability.excalidraw
  docs/portability.png
  docs/what.qmd
  docs/why.qmd
Due: prettier

chore: wrap and edits
  docs/why.qmd
Due: none

chore: remove unnecessary global pre-render
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: globally set code-annotations to hover
  docs/_quarto.yml
  docs/backends/sqlite.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/snowflake-io/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: prettier

chore: fix annotations on 6.1.0 release
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: syntax error
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: remove the need for all of jupyter
  nix/quarto/default.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: rerender
  docs/_freeze/posts/campaign-finance/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
Due: prettier

chore: add product links to the various backends
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

chore: bring impala back into the backend fold
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
