Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore(deps): remove `sqlalchemy-views` and `sqlalchemy-risingwave`
  pyproject.toml
Due: taplo

chore(polars): enable xpassing .sql test
  ibis/backends/tests/test_dot_sql.py
Due: none

fix(pyarrow): support accepting pyarrow dictionary types as inputs (#8276)
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Due: none

refactor(ir): wrap `JoinChain.first` in `ops.SelfReference` similar to the rest of the join tables
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_format_multiple_join_with_projection/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/snapshots/test_format/test_two_inner_joins/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
Due: none

fix(rewrites): add missing filter arguments for `node.replace()` calls
  ibis/backends/base/sqlglot/rewrites.py
  ibis/expr/rewrites.py
Due: none

chore(impala): regen snapshots
  ibis/backends/impala/tests/snapshots/test_sql/test_join_aliasing/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name2/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_limit_cte_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_multiple_ctes/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
Due: none

ci: install decompiler as extra not as its own dependency (#7901)
  .github/workflows/ibis-backends.yml
Due: prettier

ci: remove `merge_group` (#7899)
  .github/workflows/check-generated-files.yml
Due: prettier

chore(sql): regen snapshots
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/risingwave-date/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_temporal_literal_sql/risingwave-timestamp/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literal_sql/0-risingwave/out.sql
  ibis/backends/tests/snapshots/test_temporal/test_time_literal_sql/234567-risingwave/out.sql
Due: none

fix(oracle): enable dropping temporary tables
  ibis/backends/oracle/__init__.py
Due: none

test(risingwave): make unnest test not flaky
  ibis/backends/tests/test_array.py
Due: none

chore(deps): bump sqlglot and regen sql
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/snowflake/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/snowflake/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/snowflake/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/snowflake/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/snowflake/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/snowflake/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/snowflake/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/snowflake/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/snowflake/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/snowflake/h20.sql
Due: none

fix(api): restore and deprecate `ir.Table.to_array()` (#8227)
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  docs/posts/ibis-duckdb-geospatial/index.qmd
  docs/tutorials/ibis-for-sql-users.qmd
  gen_matrix.py
  ibis/backends/flink/__init__.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/__init__.py
  ibis/expr/types/core.py
  ibis/expr/types/joins.py
  ibis/expr/types/logical.py
  ibis/expr/types/relations.py
  ibis/expr/types/temporal_windows.py
Due: prettier

test(bigquery): skip geospatial execution test when geopandas not installed
  ibis/backends/bigquery/tests/system/test_client.py
Due: none

test(dask): skip tests for older pandas
  ibis/backends/dask/tests/test_cast.py
Due: none

chore(sql): regenerate snapshots for snowflake
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/snowflake/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/snowflake/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/snowflake/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/snowflake/h21.sql
Due: none

refactor(compilers): conslidate StringJoin impl
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
Due: none

refactor(polars): update the polars backend to use the new relational abstractions (#7868)
  .github/workflows/ibis-backends.yml
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_join.py
  ibis/backends/tests/test_interactive.py
  ibis/backends/tests/test_join.py
Due: prettier

refactor(ir): add `JoinTable` operation unique to `JoinChain` instead of using the globally unique `SelfReference`
  ibis/expr/decompile.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_format_multiple_join_with_projection/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/join_repr.txt
  ibis/expr/tests/snapshots/test_format/test_two_inner_joins/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
Due: none

fix(api): support passing literal booleans to `filter`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Due: none

fix(snowflake): use `_safe_raw_sql` for `insert` implementation
  ibis/backends/snowflake/__init__.py
Due: none

test(snowflake): fix error types and explain the nth_value situation
  ibis/backends/tests/test_window.py
Due: none

test(api): add union aliasing test
  ibis/backends/tests/test_sql.py
Due: none

fix(backends): make string concat-with-null behavior consistent across backends (#8305)
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/sql/snapshots/test_sql/test_no_cart_join/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_order_by_expr/out.sql
  ibis/backends/tests/test_string.py
  ibis/expr/types/strings.py
Due: none

style(tests): reformat the pytest marker blocks
  ibis/backends/conftest.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
Due: none

fix(common): don't match an `Object` pattern with more positional arguments defined than `__match_args__` has
  ibis/backends/base/sqlglot/tests/test_compiler.py
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Due: none

chore: remove duplicate `distinct` decompile rule
  ibis/expr/decompile.py
Due: none

test(backends): make null results try_cast test agnostic to nan vs None
  ibis/backends/tests/test_generic.py
Due: none

chore(ci): add todo note about restoring the previous ci-check command
  .github/workflows/ibis-main.yml
  ibis/backends/base/sql/__init__.py
  ibis/backends/pandas/core.py
Due: prettier

chore: enable pre-commit, benchmarks and other lints against `the-epic-split`
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .github/workflows/ibis-lint.yml
  docs/how-to/extending/sql.qmd
  ibis/backends/bigquery/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/datatypes.py
  ibis/backends/risingwave/registry.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_benchmarks.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
  ibis/common/egraph.py
  ibis/expr/analysis.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/util.py
Due: prettier

chore(duckdb): generate snapshots for geospatial tests
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0-POINT_1_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp8-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/duckdb/tests/test_geospatial.py
Due: none

chore(impala): add early failure in the type system for complex datatypes
  ibis/backends/base/sqlglot/datatypes.py
Due: none

refactor(snowflake): adjust window frames to use `_minimize_spec` due to upstream snowflake changes
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
Due: none

feat(datafusion): port to new sqlglot backend
  .github/workflows/ibis-backends.yml
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/datafusion/compiler/__init__.py
  ibis/backends/datafusion/compiler/core.py
  ibis/backends/datafusion/compiler/relations.py
  ibis/backends/datafusion/compiler/values.py
  ibis/backends/tests/snapshots/test_interactive/test_default_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_disable_query_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_interactive_execute_on_repr/datafusion/out.sql
  ibis/backends/tests/snapshots/test_interactive/test_respect_set_limit/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/datafusion/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Due: prettier

ci(exasol): run ci serially (#8042)
  .github/workflows/ibis-backends.yml
  ibis/backends/tests/test_dot_sql.py
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
