Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: use to_pandas in altair
  docs/index.qmd
Due: none

chore: fix annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove annotations in sqlite backend docs
  docs/backends/sqlite.qmd
Due: none

chore: remove broken link
  docs/_code/input_output_penguins.qmd
Due: none

chore: fix install sdk broken link
  docs/backends/bigquery.qmd
Due: none

chore: remove extra line at the top of internals
  docs/concepts/internals.qmd
Due: none

chore: remove shouting from compilation internals section
  docs/concepts/internals.qmd
Due: none

chore: code format other libraries
  docs/_code/input_output_penguins.qmd
Due: none

chore: bump quarto version and use shipped version of pandoc
  nix/quarto/default.nix
Due: nixpkgs-fmt, statix, deadnix

chore: fix snowflake rendering
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
Due: prettier

docs: update link to 'example repository' instead of 'tutorial'
  docs/tutorials/getting_started.qmd
Due: none

docs: some how-to updates
  docs/_quarto.yml
  docs/how-to/analytics/basics.qmd
  docs/how-to/analytics/chain_expressions.qmd
  docs/how-to/external-dataframes/memtable_join.qmd
  docs/how-to/input-output/multiple-backends.qmd
Due: prettier

docs: major home page refactor
  docs/index.qmd
Due: none

docs: why ibis and other edits
  .gitattributes
  .pre-commit-config.yaml
  docs/_quarto.yml
  docs/concepts/frontend.qmd
  docs/concepts/internals.qmd
  docs/portability.excalidraw
  docs/portability.png
  docs/what.qmd
  docs/why.qmd
Due: prettier

chore: wrap and edits
  docs/why.qmd
Due: none

chore: remove unnecessary global pre-render
  docs/_quarto.yml
  docs/support_matrix.qmd
Due: prettier

chore: globally set code-annotations to hover
  docs/_quarto.yml
  docs/backends/sqlite.qmd
  docs/posts/ibis-analytics/index.qmd
  docs/posts/snowflake-io/index.qmd
  docs/posts/v6.1.0-release/index.qmd
Due: prettier

chore: fix annotations on 6.1.0 release
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: syntax error
  docs/posts/v6.1.0-release/index.qmd
Due: none

chore: rerender
  docs/_freeze/posts/campaign-finance/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/execute-results/html.json
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-22-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-23-output-1.png
  docs/_freeze/posts/ci-analysis/index/figure-html/cell-24-output-1.png
  docs/_freeze/posts/ffill-and-bfill-using-ibis/index/execute-results/html.json
  docs/_freeze/posts/ibis-examples/index/execute-results/html.json
  docs/_freeze/posts/ibis-to-file/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/selectors/index/execute-results/html.json
  docs/_freeze/posts/snowflake-io/index/execute-results/html.json
  docs/_freeze/posts/torch/index/execute-results/html.json
  docs/_freeze/posts/torch/index/figure-html/cell-11-output-1.png
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
Due: prettier

chore: remove the need for all of jupyter
  nix/quarto/default.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: add product links to the various backends
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

chore: bring impala back into the backend fold
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
Due: none

chore: fix product links
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

docs(quarto): add quartodoc interlinks filter
  docs/_quarto.yml
  justfile
Due: prettier, just

chore(deps): relock, and something might be screwed up
  poetry.lock
Due: none

chore: fix yaml linting error
  docs/_quarto.yml
Due: prettier

docs(quarto): override api code blocks with custom renderer
  docs/_quarto.yml
  docs/_renderer.py
Due: prettier

docs(quart): remove temporary eval false setting
  docs/_quarto.yml
Due: prettier

chore: add interlinks quarto extension
  docs/_extensions/machow/interlinks/.gitignore
  docs/_extensions/machow/interlinks/_extension.yml
  docs/_extensions/machow/interlinks/interlinks.lua
Due: prettier

chore: ignore generated inventory files
  docs/.gitignore
Due: none

chore(deps): bump to quartodoc 0.6
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier

chore(dev): add PWD/docs to PYTHONPATH in the nix shell
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): relock
  requirements-dev.txt
Due: none

docs(quarto): shorten method signature names
  docs/_quarto.yml
  poetry.lock
Due: prettier

chore: remove adding extensions
  justfile
Due: just

chore: bump quartodoc lower bound
  poetry.lock
  pyproject.toml
Due: prettier

chore: render do_connect arguments and file support backend APIs using quartodoc
  docs/backends/_utils.py
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Due: none

chore: dedup backend installation
  docs/_tabsets/install.qmd
  docs/backends/bigquery.qmd
Due: none

chore: remove table from `NumericValue.round` method
  ibis/expr/types/numeric.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
