Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(mysql): pass-through kwargs to connect_args
  ibis/backends/mysql/__init__.py
Due: none

chore(dev-deps): remove upstreamed cairocffi poetry2nix overrides
  flake.lock
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore(dev-deps): remove ibis38 nix derivation
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

chore(mysql): add kwargs docstring
  ibis/backends/mysql/__init__.py
Due: none

fix(ir): change "it not a" to "is not a" in errors
  ibis/expr/rules.py
Due: none

test(string): add test for re_search substring match
  ibis/backends/tests/test_string.py
Due: none

fix(duckdb): use regexp_matches to ensure that matching checks containment instead of a full match
  ibis/backends/duckdb/registry.py
Due: none

fix(snowflake): use `regexp_instr != 0` instead of `REGEXP` keyword
  ibis/backends/snowflake/registry.py
Due: none

chore(deps): relock
  poetry.lock
Due: none

feat(pyspark): read/write delta tables
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_export.py
Due: none

feat(pyspark): to_csv and to_parquet
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_export.py
Due: none

docs: update imports/exports for pyspark backend
  docs/backends/pyspark.md
Due: prettier

feat(pandas): add ExtractURLField functions
  ibis/backends/pandas/execution/strings.py
  ibis/backends/tests/test_string.py
Due: none

chore: update from deprecated plugin to new version
  .releaserc.js
  ci/release/dry_run.sh
  ci/release/run.sh
Due: none

style(js): set trailing comma style config to new default
  .conventionalcommits.js
  .prettierrc.toml
Due: prettier

docs: fix functions names in examples of extract url fields
  ibis/expr/types/strings.py
Due: none

fix(trino): remove filter index warning in Trino dialect
  ibis/backends/base/sql/alchemy/__init__.py
Due: none

fix(duckdb): avoid double escaping backslashes for bind parameters
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Due: none

fix(examples): remove example datasets that are incompatible with case-insensitive file systems
  ibis/examples/gen_examples.R
  ibis/examples/metadata.json
  ibis/examples/registry.txt
Due: prettier

chore: clean up duckdb conversion of example data
  ibis/examples/gen_registry.py
Due: none

chore: add dry-run option to gen_registry
  ibis/examples/gen_registry.py
Due: none

chore: validate case of example dataset keys
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
