Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .+/snapshots/.+
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - json
          - toml
          - yaml
          - markdown
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

fix(flink): fix the pandas conversion in `execute`
  ibis/backends/flink/__init__.py
Due: none

chore(flink): run test jobs using `STREAMING` mode
  ibis/backends/flink/tests/conftest.py
Due: none

chore(deps): bump sqlglot version and regen clickhouse snapshot
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  poetry.lock
  requirements-dev.txt
Due: none

chore(dev-deps): check poetry version when invoking `just lock`
  justfile
Due: just

style: fix whitespace
  .prettierignore
  docs2/_callouts/experimental_backend.qmd
  docs2/_callouts/pypi_warning.qmd
  docs2/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs2/_quarto.yml
  docs2/_tabsets/install.qmd
  docs2/backends/app/backend_info_app.py
  docs2/backends/bigquery.qmd
  docs2/backends/dask.qmd
  docs2/community/contribute/01_environment.md
  docs2/community/contribute/05_maintainers_guide.md
  docs2/concepts/frontend.qmd
  docs2/how-to/configure/basics.qmd
  docs2/how-to/input-output/basics.qmd
  docs2/how-to/input-output/multiple-backends.qmd
  docs2/how-to/visualization/altair.qmd
  docs2/how-to/visualization/matplotlib.qmd
  docs2/how-to/visualization/plotnine.qmd
  docs2/index.qmd
  docs2/posts.qmd
  docs2/posts/ibis-analytics/index.qmd
  docs2/posts/old/Ibis-version-3.0.0-release.qmd
  docs2/posts/old/Ibis-version-3.1.0-release.qmd
  docs2/posts/old/ffill-and-bfill-using-ibis.qmd
  docs2/posts/old/ibis-examples.qmd
  docs2/posts/old/ibis-to-file.qmd
  docs2/posts/old/ibis-version-4.0.0-release.qmd
  docs2/posts/old/ibis_substrait_to_duckdb.qmd
  docs2/posts/old/selectors.qmd
  docs2/posts/v6.1.0-release/index.qmd
  docs2/posts/website-to-quarto/index.qmd
  docs2/presentations.qmd
  docs2/presentations/overview.qmd
  docs2/support_matrix.qmd
  docs2/tutorials/ibis-for-dplyr-users.qmd
  docs2/tutorials/ibis-for-pandas-users.qmd
  docs2/tutorials/ibis-for-sql-users.qmd
  docs2/why.qmd
  pyproject.toml
Due: prettier

revert: revert core compiler method `to_ast_ensure_limit` from negative slicing PR
  ibis/backends/base/sql/compiler/query_builder.py
  poetry.lock
  requirements-dev.txt
Due: none

test(clickhouse): enable xpassing quantile tests
  ibis/backends/tests/test_aggregation.py
Due: none

ci: bump compare-commits-action job to get nix updates working again
  .github/workflows/update-deps.yml
Due: prettier

chore(deps): relock
  poetry.lock
  requirements-dev.txt
Due: none

style: remove unnecessary start argument from `range`
  ibis/backends/dask/tests/execution/test_window.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pyspark/tests/test_basic.py
Due: none

feat(flink): fine-tune numeric literal translation
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_filter/out.sql
  ibis/backends/flink/tests/snapshots/test_translator/test_translate_having/out.sql
  ibis/backends/flink/tests/snapshots/test_window/test_rows_window/out.sql
  ibis/backends/flink/tests/test_literals.py
  ibis/backends/flink/utils.py
  ibis/backends/tests/test_numeric.py
Due: none

fix(oracle): clarify sid vs service_name handling and allow dsn
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/conftest.py
Due: none

refactor(clickhouse): move `ClickhouseTable.insert` method to clickhouse backend and remove `ClickhouseTable` class
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Due: none

chore(snowflake): patch `oscrypto` in the nix environment
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): remove fixed poetry overrides
  poetry-overrides.nix
Due: nixpkgs-fmt, statix, deadnix

chore: ignore quarto generated output
  .gitignore
  docs2/_quarto.yml
  justfile
Due: prettier, just

chore(deps): override quarto version until upstream PR is merged
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  docs2/_code/input_output_penguins.qmd
  flake.nix
  justfile
  nix/overlay.nix
  nix/quarto/default.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, just, nixpkgs-fmt, statix, deadnix

chore(docs): use to_pandas with plotly until snowflake can be updated or removed
  docs2/how-to/visualization/altair.qmd
  docs2/how-to/visualization/plotly.qmd
  docs2/index.qmd
  docs2/posts/v6.1.0-release/index.qmd
Due: none

chore(quarto): fix broken links
  .github/workflows/ibis-docs-lint.yml
  docs2/CONTRIBUTING.md
  docs2/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs2/_freeze/posts/v6.1.0-release/index/figure-html/cell-9-output-1.png
  docs2/community/contribute/index.md
  docs2/concepts/backend.qmd
  docs2/contribute/index.md
  docs2/getting-started.qmd
  docs2/how-to/configure/basics.qmd
  docs2/how-to/old/underscore.qmd
  docs2/how-to/timeseries/ffill_bfill_w_window.qmd
  docs2/how-to/visualization/streamlit.qmd
  docs2/posts/old/Ibis-version-3.1.0-release.qmd
  docs2/posts/old/ibis-version-4.0.0-release.qmd
  docs2/posts/old/rendered/ibis-version-6.0.0-release.ipynb
  docs2/posts/v6.1.0-release/index.qmd
  docs2/posts/website-to-quarto/index.qmd
  justfile
  lychee.toml
Due: prettier, just

ci: add quarto ci job
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-docs-lint.yml
  .releaserc.js
  docs2/release_notes.qmd
  nix/overlay.nix
Due: prettier, nixpkgs-fmt, statix, deadnix

chore: show application code highlighted
  docs2/_quarto.yml
  docs2/how-to/visualization/streamlit.qmd
Due: prettier

chore: preview on the same port every time
  docs2/_quarto.yml
Due: prettier

chore: generate support matrix in quarto
  docs2/support_matrix.qmd
Due: none

chore: clean up a bunch of content
  .releaserc.js
  docs2/_callouts/experimental_backend.qmd
  docs2/_quarto.yml
  docs2/backends/memtable-template.md
  docs2/backends/template.md
  docs2/how-to/analytics/chain_expressions.qmd
  docs2/how-to/configure/basics.qmd
  docs2/how-to/external-dataframes/memtable_join.qmd
  docs2/how-to/old/memtable_join.qmd
  docs2/how-to/old/underscore.qmd
  docs2/how-to/visualization/streamlit.qmd
  docs2/release_notes.qmd
  docs2/support_matrix.qmd
  lychee.toml
Due: prettier

chore: fix usage error
  docs2/how-to/external-dataframes/memtable_join.qmd
Due: none
