Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py38-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false
  stages:
  - commit

build: bump mariadb container version
  docker-compose.yml
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
Due: black, flake8, pyupgrade, prettier

feat(mysql): implement _get_schema_from_query
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
Due: black, flake8, pyupgrade

refactor(common): more convenient way to define cached properties for Annotable subclasses
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
  ibis/common/validators.py
  ibis/expr/operations/core.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
Due: black, flake8, pyupgrade

chore: remove debug statement
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

fix(clickhouse): use a context manager for execution
  ibis/backends/clickhouse/__init__.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

refactor(ir): remove DestructValue expressions
  ibis/backends/dask/execution/structs.py
  ibis/backends/dask/execution/util.py
  ibis/backends/pandas/execution/structs.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/types/structs.py
  ibis/udf/vectorized.py
Due: black, flake8, pyupgrade

chore: remove unused patch
  patches/Cargo.lock.patch
Due: none

chore(poetry.lock): bump dask
  poetry.lock
Due: none

fix(dask): workaround dask bug
  ibis/backends/dask/execution/join.py
Due: black, flake8, pyupgrade

docs: set up versioned documentation
  .github/workflows/ibis-docs-lint.yml
  mkdocs.yml
  patches/templates.patch
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  shell.nix
Due: prettier

ci: configure git info before pushing docs
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: increase fetch depth
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: fetch just before pushing
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: run docs after benchmarks
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
Due: prettier

ci: try using update-ref to update local docs ref
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: update gh-pages ref in separate step
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: use proper benchmark data path
  .github/workflows/ibis-docs-lint.yml
Due: prettier

refactor(ci): clean up docs lint ci
  .github/workflows/ibis-docs-lint.yml
Due: prettier

ci: configure git inside a git directory
  .github/workflows/ibis-docs-lint.yml
Due: prettier

docs: convert absolute links to relative links
  .github/workflows/ibis-main-skip-helper.yml
  docs/backends/template.md
  docs/index.md
  docs/user_guide/udfs.md
Due: prettier

docs: remove duplicate `spark` backend from operation matrix
  gen_matrix.py
Due: black, flake8, pyupgrade

feat(duckdb/postgres/mysql/pyspark): implement `.sql` on tables for mixing sql and expressions
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/extract_subqueries.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_dot_sql.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_format.py
Due: black, flake8, pyupgrade

ci: fix release notes path in semantic-release config
  .releaserc.json
Due: prettier

docs: add .sql and .alias method docstrings
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

chore(deps): update dependency setuptools to v62
  poetry.lock
  pyproject.toml
Due: prettier

chore(dev-deps): use a headless jdk in nix shell
  shell.nix
Due: none

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
  just: any of: ^justfile$, but not: ^$
