Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

just:
  name: just
  language: system
  entry: just
  args:
  - --fmt
  - --unstable
  pass_filenames: false

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

fix(clickhouse): generate redundant aliases to workaround clickhouse naming behavior (#9525)
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_cast_double_col/float/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/bigint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/bool_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/date_string_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/double_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/float_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/id/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/int_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/month/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/smallint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/string_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/timestamp_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/tinyint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/year/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_array_expr_projection/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_count_name/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_join_self_reference/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out2.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-any_inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-any_left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-any_inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-any_left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_table_column_unbox/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_where_with_timestamp/out.sql
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
Due: none

feat(duckdb): use `delta_scan` instead of reading pyarrow datasets
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Due: none

feat(dtypes): fall back to `dt.unknown` for unknown types
  ibis/backends/sql/datatypes.py
Due: none

feat(dtypes): fall back to `dt.unknown` for unknown types (#9567)
  ibis/backends/sql/datatypes.py
Due: none

feat(duckdb): use `delta_scan` instead of reading pyarrow datasets (#9566)
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Due: none

Revert "feat(dtypes): fall back to `dt.unknown` for unknown types (#9567)"
  ibis/backends/sql/datatypes.py
Due: none

revert: feat(dtypes): fall back to `dt.unknown` for unknown types (#9569)
  ibis/backends/sql/datatypes.py
Due: none

test(redo): add some basic cast tests (#9483)
  ibis/backends/tests/test_generic.py
Due: none

ci(bigquery): gate failure on bigquery lite jobs
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
Due: prettier

ci(snowflake,bigquery): fix failing tests
  ibis/backends/tests/test_generic.py
Due: none

refactor(deps): make pyarrow optional for non-backend installs
  .github/workflows/ibis-main.yml
  ibis/backends/tests/data.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_map.py
  ibis/common/tests/test_dispatch.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/tests/test_schema.py
  ibis/expr/types/joins.py
  ibis/formats/pandas.py
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pandas.py
  ibis/formats/tests/test_pyarrow.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/test_api.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

Update ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_generic.py
Due: none

doc: add previews to all qmd files modified
  .github/workflows/docs-preview.yml
Due: prettier

chore: test gha modification
  docs/posts/zulip/index.qmd
  docs/why.qmd
Due: none

chore: fix linting
  .github/workflows/docs-preview.yml
Due: prettier

ci(trino): pin to 449 to avoid truncate table memory bug
  compose.yaml
Due: prettier

ci(snowflake,bigquery): fix failing tests (#9573)
  ibis/backends/tests/test_generic.py
Due: none

ci(bigquery): gate failure on bigquery lite jobs (#9572)
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
Due: prettier

chore: use array notation
  .github/workflows/docs-preview.yml
Due: prettier

feat(dtypes): fall back to `dt.unknown` for unknown types
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_struct.py
Due: none

ci(trino): pin to 449 to avoid truncate table memory bug (#9575)
  compose.yaml
Due: prettier

chore: fix shell linter
  .github/workflows/docs-preview.yml
Due: prettier

Apply suggestions from code review
  docs/posts/zulip/index.qmd
  docs/why.qmd
Due: none

Update docs/posts/zulip/index.qmd
  docs/posts/zulip/index.qmd
Due: none

Update .github/workflows/docs-preview.yml
  .github/workflows/docs-preview.yml
Due: prettier

ci: add docs prev link for modified qmds (#9574)
  .github/workflows/docs-preview.yml
Due: prettier

chore: test preview links gha
  docs/posts/zulip/index.qmd
  docs/why.qmd
Due: none

refactor(deps): make pyarrow optional for non-backend installs (#9552)
  .github/workflows/ibis-main.yml
  ibis/backends/tests/data.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_map.py
  ibis/common/tests/test_dispatch.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/tests/test_schema.py
  ibis/expr/types/joins.py
  ibis/formats/pandas.py
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pandas.py
  ibis/formats/tests/test_pyarrow.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/test_api.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

ci: print lines
  .github/workflows/docs-preview.yml
Due: prettier

ci: remove docs prefix and qmd suffix
  .github/workflows/docs-preview.yml
Due: prettier

feat(dtypes): fall back to `dt.unknown` for unknown types (#9576)
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_struct.py
Due: none

maybe export geospatial/geoarrow type
  ibis/formats/pyarrow.py
Due: none

maybe roundtrip types
  ibis/formats/pyarrow.py
Due: none

add some todos
  ibis/formats/pyarrow.py
Due: none

chore(deps): add geoarrow-types as an optional dependency
  pyproject.toml
  requirements-dev.txt
Due: taplo

chore: fix lint
  ibis/formats/pyarrow.py
Due: none

chore: move imports around
  ibis/formats/pyarrow.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  just: any of: ^justfile$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
