Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade, prettier, just

black:
  entry: black --check
  language: system
  name: black
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

pyupgrade:
  entry: pyupgrade --py38-plus
  language: system
  name: pyupgrade
  pass_filenames: true
  stages:
  - commit

prettier:
  entry: prettier --check
  language: system
  name: prettier
  pass_filenames: true
  stages:
  - commit

just:
  entry: just --fmt --unstable --check
  language: system
  name: just
  pass_filenames: false
  stages:
  - commit

ci(impala): speed up data loading by ~2-3x
  .github/workflows/ibis-backends.yml
  ci/datamgr.py
  ci/udf/CMakeLists.txt
  default.nix
  docker-compose.yml
  docs/contribute/backend_test_suite.md
  justfile
  poetry.lock
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier, just

fix: remove importorskip call for backend tests
  ibis/backends/conftest.py
  poetry.lock
Due: black, flake8, pyupgrade

test: remove backends fixtures related to csv, parquet, hdf5
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
Due: black, flake8, pyupgrade

removing easy install
  docs/contribute/environment.md
Due: prettier

reverting to use cz
  docs/contribute/environment.md
Due: prettier

docs(environment.md): removing easy install because its depreciated
  docs/contribute/environment.md
Due: prettier

docs(environment.md): removing easy install
  docs/contribute/environment.md
Due: prettier

docs(workflow.md): adding code in case cz not installed
  docs/contribute/workflow.md
Due: prettier

chore(deps): lock file maintenance
  poetry.lock
Due: none

chore(deps): constrain mkdocstrings and shapely for now
  poetry.lock
  pyproject.toml
Due: prettier

docs(workflow.md): adding to the cz install tip
  docs/contribute/workflow.md
Due: prettier

refactor(pandas): remove post_execute
  ibis/backends/dask/core.py
  ibis/backends/dask/dispatch.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/timecontext.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/tests/test_core.py
Due: black, flake8, pyupgrade

refactor(pandas): remove unused rule_to_python_type
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pandas/udf.py
Due: black, flake8, pyupgrade

refactor(pandas): remove pre_execute
  ibis/backends/dask/core.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/__init__.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/execution/timecontext.py
  ibis/backends/pandas/execution/udf.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pandas/udf.py
  ibis/tests/benchmarks/test_benchmarks.py
Due: black, flake8, pyupgrade

refactor(dask): remove pre_execute
  ibis/backends/dask/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/dispatch.py
  ibis/backends/dask/execution/__init__.py
  ibis/backends/dask/execution/udf.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/execution/temporal.py
Due: black, flake8, pyupgrade

refactor(pandas): resolve dispatch ambiguities
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/udf.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/execution/udf.py
Due: black, flake8, pyupgrade

chore: remove leftover short-circuiting code
  ibis/backends/dask/core.py
Due: black, flake8, pyupgrade

fix(deps): update dependency shapely to >=1.6,<1.8.2
  poetry.lock
  pyproject.toml
Due: prettier

chore(deps): update dependency mkdocstrings to >=0.17.0,<0.18.1
  poetry.lock
  pyproject.toml
Due: prettier

chore(deps): add optional rich dependency
  ibis/config.py
  pyproject.toml
  setup.py
Due: black, flake8, pyupgrade, prettier

feat: add optional rich display in interactive mode
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_value_exprs.py
  poetry.lock
Due: black, flake8, pyupgrade

chore: check for rich on import; introduce option to disable
  ibis/config.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

chore: fix off by one in repr
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

chore: use pandas options when displaying the things
  ibis/expr/types/core.py
Due: black, flake8, pyupgrade

chore: move pandas repr to own method
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

test: add repr html test
  ibis/tests/expr/test_value_exprs.py
Due: black, flake8, pyupgrade

feat: add _repr_html_ for expressions to print as tables in ipython
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Due: black, flake8, pyupgrade

WIP: Add code for read and write rbs file
  ibis/expr/api.py
  ibis/expr/operations/relations.py
Due: black, flake8, pyupgrade

test: remove xfail_unsupported from test suite
  ibis/backends/conftest.py
  ibis/backends/postgres/tests/test_geospatial.py
  ibis/backends/postgres/tests/test_json.py
  ibis/backends/postgres/tests/test_nettypes.py
  ibis/backends/postgres/tests/test_string.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_union.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  pyproject.toml
Due: black, flake8, pyupgrade, prettier

test(sqlite): dynamically add xdist group to sqlite tests
  .github/workflows/ibis-backends.yml
  default.nix
  ibis/backends/conftest.py
  justfile
Due: black, flake8, pyupgrade, prettier, just

Path conditions:
  black: any of: \.py$ and \.py$ and not (^$)
  flake8: any of: \.py$, but not: ^$
  pyupgrade: any of: \.py$, but not: (setup.py)
  prettier: any of: \.json$, \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: ^$
  just: any of: ^justfile$, but not: ^$
