Repository ibis-project/ibis: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, just, nixpkgs-fmt, statix, deadnix

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.ci hooks"
  autofix_prs: false
  autoupdate_commit_msg: "chore(deps): pre-commit.ci autoupdate"
  skip:
    - actionlint-system
    - deadnix
    - just
    - nixpkgs-fmt
    - prettier
    - ruff
    - shellcheck
    - shfmt
    - statix
    - taplo
default_stages:
  - commit
repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-system
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        exclude: ibis/examples/__init__\.py
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff
        language: system
        types_or:
          - python
          - pyi
        args: ["check", "--force-exclude", "--show-source", "--fix"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=700"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (.+/snapshots/.+)|(.*docs/_freeze/.+\.json)|(.+\.excalidraw)
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: .+/snapshots/.+
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier
        args: ["--write"]
        types_or:
          - javascript
          - json
          - markdown
          - yaml
      - id: taplo
        name: taplo
        language: system
        entry: taplo
        args: ["fmt"]
        types:
          - toml
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-i", "2", "-sr", "-s"]
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh
      - id: just
        name: just
        language: system
        entry: just
        args: ["--fmt", "--unstable"]
        files: ^justfile$
        pass_filenames: false
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        language: system
        entry: nixpkgs-fmt
        types:
          - nix
      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["fix"]
        pass_filenames: false
        types:
          - nix
      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--edit", "--fail"]
        types:
          - nix

ruff
  ibis/backends/__init__.py
  ibis/backends/tests/test_generic.py
Due: none

chore: timezone fuss
  ibis/backends/chdb/__init__.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/operations/temporal.py
Due: none

test: remove now unused supports_window_operations backend flag
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

fix(risingwave): set implicit flush to true
  ibis/backends/risingwave/__init__.py
Due: none

test(backends): remove now unused `supports_window_operations` backend flag (#8932)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

docs: add link to style and formatting in env setup section
  docs/contribute/01_environment.qmd
Due: none

docs: uniform connect via url across backends in why ibis (#8865)
  docs/why.qmd
Due: none

ci: add github workflow
  .github/workflows/ibis-backends.yml
Due: prettier

Update docs/contribute/01_environment.qmd
  docs/contribute/01_environment.qmd
Due: none

test(backends): remove now unused backend flag
  ibis/backends/druid/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

docs: add link to style and formatting in env setup section (#8936)
  docs/contribute/01_environment.qmd
Due: none

fix(duckdb): disable batching for calls to `arrow`
  ibis/backends/duckdb/__init__.py
Due: none

test(backends): remove now unused `supports_arrays_outside_of_select` backend flag (#8935)
  ibis/backends/druid/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

test(backends): remove now unused backend flag
  docs/contribute/05_reference.qmd
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

test(backends): remove now unused backend flag
  docs/contribute/05_reference.qmd
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

test(backends): remove now unused backend flag
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

test(backends): remove now unused `supports_divide_by_zero` backend flag (#8937)
  docs/contribute/05_reference.qmd
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

test(backends): remove now unused `supports_floating_modulus` backend flag (#8939)
  docs/contribute/05_reference.qmd
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

feat: allow *arg syntax with GroupedTable methods
  ibis/expr/types/groupby.py
Due: none

test(backends): remove now unused `supported_to_timestamp_units` backend flag (#8940)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/base.py
Due: none

feat(api): allow *arg syntax with GroupedTable methods (#8923)
  ibis/expr/types/groupby.py
Due: none

feat(ux): add Table and Column.preview()
  ibis/expr/format.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Due: none

chore: add java deps to conda envs
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

chore: add java deps to conda envs (#8944)
  conda/environment-arm64.yml
  conda/environment.yml
Due: prettier

test: simplify table.distinct() tests
  ibis/backends/tests/test_generic.py
Due: none

test: actually check for which rows are kept in Table.distinct(keep=<not None>)
  ibis/backends/tests/test_generic.py
Due: none

test: actually check for proper ordering in Table.distinct(keep="first")
  ibis/backends/tests/test_generic.py
Due: none

docs(release-notes): fix up version header
  .releaserc.js
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/figure-html/cell-9-output-1.png
  docs/_quarto.yml
  docs/fix-version-href.lua
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/ibis-version-8.0.0-release/index.qmd
  docs/posts/v6.1.0-release/index.qmd
  docs/release_notes.qmd
  docs/release_notes_generated.qmd
Due: prettier

feat(ux): add Table and Column.preview() (#7915)
  ibis/expr/format.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Due: none

Apply suggestions from code review
  docs/posts/varchar-in-a-haystack/index.qmd
Due: none

docs(release-notes): fix up version header (#8941)
  .releaserc.js
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/figure-html/cell-9-output-1.png
  docs/_quarto.yml
  docs/fix-version-href.lua
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/ibis-version-8.0.0-release/index.qmd
  docs/posts/v6.1.0-release/index.qmd
  docs/release_notes.qmd
  docs/release_notes_generated.qmd
Due: prettier

docs(blog): needle haystack post (#8824)
  docs/posts/varchar-in-a-haystack/index.qmd
  docs/posts/varchar-in-a-haystack/thumbnail.png
Due: none

fix(risingwave): set implicit flush to true (#8929)
  ibis/backends/risingwave/__init__.py
Due: none

docs: update the haystack blog publish date
  docs/_freeze/posts/varchar-in-a-haystack/index/execute-results/html.json
  docs/posts/varchar-in-a-haystack/index.qmd
Due: prettier

test(api): verify that null isin behavior is consistent across backends (#8625)
  ibis/backends/tests/test_generic.py
  ibis/expr/types/generic.py
Due: none

docs: update the haystack blog publish date (#8949)
  docs/_freeze/posts/varchar-in-a-haystack/index/execute-results/html.json
  docs/posts/varchar-in-a-haystack/index.qmd
Due: prettier

docs(perf): add jupyter-cache for quarto caching and enable it
  .gitignore
  docs/_quarto.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: prettier, taplo
